[2018-02-07 15:47] rhavlick commented on #164
Great, thanks again Tratcher, that is simple enough.

[2018-02-07 15:47] #164 closed

[2018-02-09 18:55] Tratcher commented on #166
@mliesmons that helps but you still haven't said what the error was.

[2018-02-09 19:00] Tratcher commented on #166
@mliesmons thanks. A stack trace would also help if you can get it.

[2018-02-10 09:35] mliesmons commented on #166
As mentioned in my very first comment:

“Object synchronization method was called from an unsynchronized block of code.”

From: Chris Ross [mailto:notifications@github.com]
Sent: vrijdag 9 februari 2018 19:55
To: aspnet/AspNetKatana <AspNetKatana@noreply.github.com>
Cc: Michel Liesmons <m@nais.be>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AspNetKatana] Authenticate crashes when us

[2018-02-12 17:01] GauravDhavale commented on #76
Hi @mvpkenlin: I was also facing the TVP problem. So, I updated the related packages to the preview versions as suggested in this issue and also updated TVP namespace to `Microsoft.IdentityModel.Tokens` from `System.IdentityModel.Tokens`. However, I'm facing issues while fetching the access token using the `ClaimsPrincipal` and `BootstrapContext` as it's in the namespace `System.IdentityModel.Toke

[2018-02-12 21:04] GauravDhavale opened #167 "BootstrapContext is NULL after TokenValidationParameters is shifted to Microsoft.IdentityModel.Tokens"
I was facing the TokenValidationParameters related error as highlighted in [this](https://github.com/aspnet/AspNetKatana/issues/76).  So, I updated the related packages to the preview versions as suggested in this issue and also updated TVP namespace to `Microsoft.IdentityModel.Tokens` from `System.IdentityModel.Tokens`. However, I'm facing issues while fetching the access token using the `ClaimsP

[2018-02-12 22:09] Tratcher commented on #167
What is in ClaimsPrincipal.Current.Identities.First().BootstrapContext now? I recall it changed from a BootstrapContext to a string. It may only be your cast failing.

[2018-02-12 22:23] GauravDhavale commented on #167
yes, It contains some token value of type object string.
 ![image](https://user-images.githubusercontent.com/24877974/36122679-d31fa09a-100f-11e8-97a0-cd6e8fa009a8.png)

As BootstrapContext image:
![image](https://user-images.githubusercontent.com/24877974/36122734-0f889a64-1010-11e8-8e9e-12e1660cd8ed.png)

![image](https://user-images.githubusercontent.com/24877974/36122861-80276f20-1010-11e8-87d

[2018-02-12 22:48] Tratcher commented on #167
Is that string the userAccessToken you're looking for? Can you consume it directly?

[2018-02-13 05:26] GauravDhavale commented on #167
Well, I don't think I will be able to consume it directly. I compare the payload data of Bearer access token and bootstrapContext value.

I checked the below variable value which is in Startup.Auth.cs
![image](https://user-images.githubusercontent.com/24877974/36134578-40803696-104b-11e8-903c-e2fd26b59e34.png)

AuthenticationResult is from Microsoft.IdentityModel.Clients.ActiveDirectory.

It conta

[2018-02-13 05:32] Tratcher commented on #167
@brentschmaltz do you follow what's going on here?

[2018-02-13 16:48] GauravDhavale commented on #167
I used the BootstrapContext value directly in the `userAssertion`. It helps to get the `AccessToken`.

[code]

[2018-02-13 17:08] #167 closed

[2018-02-13 22:51] coultonluke opened #168 "Facebook Login HTTPS redirect uri"
Facebook is recommending that I use a HTTPS redirect URL, instead of HTTP. I've been trying to find a way to configure it to generate a HTTPS URL, at the moment it's generating a HTTPs URL.

https://www.facebook.com/v2.8/dialog/oauth?response_type=code&client_id=255162614498922&redirect_uri=http://example.com/signin-facebook&scope=&state=-x4AVtFysadfadsfsadROH6E1QJ82gv4e4j48s32K5xbmqlF-JFbE5Y2Tx_M

[2018-02-13 22:54] Tratcher commented on #168
It generates that URL based on your current request. The most intimidate question is why aren't your authenticated endpoints already requiring HTTPS? E.g. [RequireHttps]

[2018-02-13 22:58] coultonluke commented on #168
Thank you for the lightening quick response.

My servers are behind a load balancer, it is shit that this handles the HTTPS connection and my servers serve traffic through it over HTTP only.  I have a redirection rule that forces redirection from HTTP to HTTPS based on the connection header being returned from the load balancer.  As far as MVC is concerned, it is communicating over HTTP rather tha

[2018-02-13 23:37] Tratcher commented on #168
Reverse proxies commonly forward you the original scheme in a request header x-forwarded-proto. You can do a basic middleware ahead of security to read those headers and apply them to your request. Several components will function better if they're given accurate information.

[2018-02-13 23:44] coultonluke commented on #168
Currently I am using that header in order to perform a redirect to HTTPS.  So you're saying there's a supported way to configure ASP.NET MVC to work without a redirect rule from HTTP to HTTPS?

[2018-02-14 00:27] Tratcher commented on #168
No, you should keep the https redirect. To get FacebookAuth to generate the correct urls you should do read x-forwarded-scheme and set the request scheme. E.g.
[code]

[2018-02-14 15:05] onionhammer opened #170 "'TokenValidationParameters' no longer in 'System.IdentityModel.Tokens'"
We cannot upgrade to the latest `System.IdentityModel.Tokens.Jwt` because the Owin OpenID Connect library still references the old library, but doesnt declare it as a specific versioned dependency, which results in this:

Where it has no idea where this type is defined.

![image](https://user-images.githubusercontent.com/969938/36211177-2157bafc-1166-11e8-8cf6-513ecb2c8bb8.png)

[2018-02-14 15:24] coultonluke commented on #168
Fantastic, that has done the trick.  Thank you for your help!

[2018-02-14 15:30] #168 closed

[2018-02-14 15:59] Tratcher commented on #170
Which version of OIDC are you using?
TokenValidationParameters is in the Microsoft.IdentityModel.Tokens package and namespace, Which OIDC has a direct reference to: https://www.nuget.org/packages/Microsoft.Owin.Security.OpenIdConnect/4.0.0-preview1

[2018-02-14 18:20] onionhammer commented on #170
@Tratcher This is version 3.1.0 of Microsoft.Owin.Security.OpenIdConnect, along with version 5.2.1 of `System.IdentityModel.Tokens.Jwt`. The latest compatible version of `Sysatem.IdentityModel.Tokens.Jwt` appears to be `4.0.4.x`, but the Dependencies of Microsoft.Owin.Security.OpenIdConnect indicate that it should work with anything >= 4.0.0

![image](https://user-images.githubusercontent.com/9699

[2018-02-14 18:24] Tratcher commented on #170
OIDC 3.1.0 can't be used with IdentityModel 5.x due to breaking changes. You need to move to OIDC 4.0.0 preview.

[2018-02-14 18:25] onionhammer commented on #170
@Tratcher which package is that?

[2018-02-14 18:25] Tratcher commented on #170
OIDC = Microsoft.Owin.Security.OpenIdConnect, but you should update all of the Microsoft.Owin packages.

[2018-02-14 18:28] onionhammer commented on #170
@Tratcher Not sure I follow... 3.1.0 is the latest published version of `Microsoft.Owin.Security.OpenIdConnect`, there are no previews published

[2018-02-14 18:35] onionhammer commented on #170
Okay, so it sounds like you guys have already resolved this issue in the preview? I will close this issue then.

Any clues when OIDC 4.0 come out of preview?

[2018-02-14 18:35] #170 closed

[2018-02-14 18:39] onionhammer commented on #170
Actually.. there is no corresponding 4.0 preview for `Microsoft.Owin.Security.Jwt`

[2018-02-14 23:14] Tratcher commented on #140
https://www.nuget.org/packages/Microsoft.Owin/4.0.0 is now available. Enjoy 😀

[2018-02-14 23:19] Tratcher commented on #170
4.0.0 is now out of preview. https://www.nuget.org/packages/Microsoft.Owin/4.0.0

[2018-02-15 00:04] snekbaev commented on #140
Finally! :) Will upgrade during the daytime :)

[2018-02-16 12:32] gidmeister2 opened #171 "nuget won't install it with net framework 4.5"
I'm trying to migrate my asp.net project from sql-membership to identity.  To do this, I needed to install nuget packages such as:
Microsoft.aspnet.identity.owin
Microsoft.owin.security.google
Microsoft.owin.security.microsoftaccount

And I get a message that Microsoft.owin can't be installed because its not up to date with framework 4.5

[2018-02-16 13:41] Tratcher commented on #171
It now requires 4.5.1.

[2018-02-16 16:08] aateeque opened #172 "Fails to load SystemWeb if OutputPath is different than Default (.\bin)"
In an ASP.NET 5 project changing the default `OutputPath` from `.\bin` to something else (like `..\.output\service`) causes:

[code]

This is when running (F5) from Visual Studio in iisexpress. From the Fusion log it appears that the initial `PrivatePath` is set to `$(MSBuildThisFileDirectory)\bin` where obvioulsy the `bin` isn't anymore.

Digging deeper, I can see that IIS traces the exception fr

[2018-02-16 16:41] Tratcher commented on #172
ASP.NET 5? You mean ASP.NET Core? These components are not supported in Core. Or were you referring to ASP.NET 4.5?

[2018-02-16 18:46] aateeque commented on #172
Sorry, meant ASP.NET 4.5 - mvc5

[2018-02-16 19:52] Tratcher commented on #172
Ah, that makes more sense. I don't know what's wrong with it, but I do wonder why you changed it?

[2018-02-16 20:13] aateeque commented on #172
I want you get Debug and Release builds output in different folders.
Besides changing OutputPath is just normal feature of msbuild

[2018-02-16 21:40] Tratcher commented on #172
I talked to the tooling team and they said this is a general requirement of ASP.NET 4.5 apps, app dlls must be in the bin folder. Closing as by-design.

[2018-02-16 21:40] #172 closed

[2018-02-17 07:25] Kahbazi opened #173 "Importance of UseStageMarker in Authentication Middleware in Owin"
In most of Authentication Middlewares which often are used in mode of AuthenticationMode.Active like [Cookie](https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Security.Cookies/CookieAuthenticationExtensions.cs#L41), [OAuthBearer](https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Security.OAuth/OAuthBearerAuthenticationExtensions.cs#L34), [IdentityServer3](https:/

[2018-02-17 12:11] gidmeister2 opened #174 "nuget cannot install this on visual studio asp.net website projects"
I have an asp.net website, that I program in Visual Studio, targeted at Net framework 4.5.
When I attempt to use the Nuget package manager to install libraries such as:
Microsoft.Owin.Security.Google (or others like facebook, micosoft login, etc), I get this message: Error
Error		Could not install package 'Microsoft.Owin 4.0.0'. You are trying to install this package into a project that targets '.

[2018-02-17 12:35] aateeque commented on #172
Is this documented anywhere?

[2018-02-17 13:36] Tratcher commented on #174
Duplicate of https://github.com/aspnet/AspNetKatana/issues/171

4.5.1 is required.

[2018-02-17 13:36] #174 closed

[2018-02-17 13:53] mqueirozcorreia commented on #171
@gidmeister2
In order to use update-package on nuget you should change your package.config to limit upper version, as below:
<package id="Microsoft.Owin" version="3.1.0" targetFramework="net45" allowedVersions="[,4)" />

@Tratcher
Will you list the framework 4.5.1 dependency in nuget page? There is nothing about this over there:
https://www.nuget.org/packages/Microsoft.Owin/

[2018-02-17 14:52] Tratcher commented on #171
@mqueirozcorreia the nuget page UI is not something package authors have any control over. It primary shows target frameworks when your package targets multiple.

[2018-02-23 05:56] Shyam200408 commented on #103
Hi All,

I have found  very good You-Tube channel, which provides very basic and
advanced information about block chain, crypto currencies, new ICO reviews,
free airdrops etc.

Here is the link below:

http://bit.ly/2ol3LD1

*Shyamsundar Singh Tomar*

Mobile: +919742099692

[2018-02-27 14:16] KerryRitter opened #175 "Enable configuration of Google's 'hosted domain' parameter"
I have been unable to find any documentation on how to do this in the current implementation so I apologize if this functionality exists.

For Google OAuth redirections, Google supports a "hosted domain" parameter ("hd" in the request) to specify restrictions on domains allowed to login. It would be great to have a GoogleOptions parameter to support this parameter.

See https://developers.google.c

[2018-02-27 16:17] Tratcher commented on #175
No that's not currently supported. Your best option is to hook into the options.Provider.ApplyRedirect event and add that parameter manually.

[2018-02-27 16:21] KerryRitter commented on #175
Is it reasonable to request it as a future enhancement?

[2018-02-27 16:22] Tratcher commented on #175
Sure, though we don't have any releases scheduled at the moment. I expect it would go here:
https://github.com/aspnet/AspNetKatana/blob/64bf627964ca9bd312cfda31916194212731c11c/src/Microsoft.Owin.Security.Google/GoogleOAuth2AuthenticationHandler.cs#L196-L200

[2018-02-27 16:23] KerryRitter commented on #175
Understood. Thanks for the insight!

[2018-02-27 17:59] Tratcher commented on #173
The stage markers are primarily about making sure middleware have run before you take any action that may depend on them. E.g. the authentication middleware should run and produce a ClaimsPrincipal before the authorization code runs and inspects that principal. If your app works without the stage markers then that's fine.

[2018-02-27 18:00] Tratcher commented on #172
@BillHiebert ?

[2018-02-27 18:11] BillHiebert commented on #172
There is this https://msdn.microsoft.com/en-us/library/cc295391.aspx

[2018-02-28 14:27] dimkanewtown opened #176 "Upgrading from 3.1.0 to 4.0.0"
Is there any documentation on what to expect when upgrading to version 4.0.0? Release notes would help as well.

Thanks.

[2018-02-28 16:52] Tratcher commented on #176
See https://github.com/aspnet/AspNetKatana/wiki/Roadmap

[2018-02-28 18:13] dimkanewtown commented on #176
Ah, I see the release notes are in the roadmap itself. Thank you!

[2018-02-28 18:13] #176 closed

[2018-02-28 18:14] dimkanewtown commented on #176
For anyone else looking for it see this link:
[https://github.com/aspnet/AspNetKatana/wiki/Roadmap#400-release-february-2018](url)

[2018-02-28 20:34] rickbutton commented on #140
Is there any documentation on compatibility? I can't seem to find any docs for 4.0.0, or anything for moving from 3.0.0 -> 4.0.0.

[2018-02-28 21:47] Tratcher commented on #140
@rickbutton See https://github.com/aspnet/AspNetKatana/wiki/Roadmap#400-release-february-2018

The main compat issue is if you were using any of the IdentityModel types directly, like SecurityTokenValidator.

[2018-03-01 14:38] KevivL opened #177 "Weird automatic queuing for identical GET requests?"
I'm using microsoft.owin.host.httplistener v4.0 with the rest of the OWIN selfhost pipeline. Testing on a win7 desktop at the moment.

If i have a slightly long running controller like so:

        [HttpGet]
        [Route("wait")]
        public async Task<IHttpActionResult> Wait()
        {
            System.Console.WriteLine("Not Started");
            await Task.Delay(20000);
            retu

[2018-03-01 16:56] Tratcher commented on #177
There's no queuing model like this on the server. Are you sure the queuing isn't happening on the client? E.g. If all of the requests are queued on the same connection then they can't be executed concurrently. What client are you using?

[2018-03-01 20:51] Tratcher commented on #177
How is if if you open two different browsers? E.g. Firefox and Chrome?

[2018-03-01 21:07] KevivL commented on #177
One start per browser. Only had firefox and chrome so opened three tabs each. One entry from each side with the remaining two starting only after the previous one exited...

[2018-03-01 21:29] Tratcher commented on #177
Yes, that sounds like client connection level queuing. A Fiddler or network trace would show this better.

[2018-03-01 21:37] KevivL commented on #177
Yup. I did fiddler and saw the browser caching. Tested with a c# client. There's no such behavior, was just a browser feature causing me to think so. Sorry again for the bother. Closing now.

[2018-03-01 21:37] #177 closed

[2018-03-02 17:53] xantari commented on #74
Any news on this one?

[2018-03-02 17:57] Tratcher commented on #74
@xantari does https://github.com/aspnet/AspNetKatana/issues/74#issuecomment-362428094 match your experience?

If this only manifests in a log and does not impact clients then it's a low priority to address.

[2018-03-02 19:02] xantari commented on #74
@Tratcher We get an email on all errors, receive several thousand of these a day. Also our SIEM (Security Information and Event Management) systems are also receiving those logs since they harvest from the event log and consuming unnecessary space our our SIEMS and causing unnecessary log reviews by our security administrators. Additionally, they are also replicated to our tripwire log server as w

[2018-03-02 19:03] xantari commented on #74
We have spent countless hours so far trying to figure out why it occurs, but have come up empty.

[2018-03-05 10:12] Daniel-Svensson opened #178 "Microsoft.Owin.Security.ActiveDirectory 4.0 does not work after update"
After upgrade to 4.0 we could no login access our web server protected by Microsoft.Owin.Security.ActiveDirectory

It seems like Microsoft.Owin.Security.ActiveDirectory 4.0 contains a reference to Microsoft.IdentityModel.Protocols.WsFederation Version 5.2.0.0 but the nuget package does not contains a dependency to it.
The package already contains a dependency to System.IdentityModel.Tokens.Jwt so

[2018-03-05 17:54] Tratcher commented on #178
You're correct, we missed adding those new dependencies to the nuspec. Luckily the workaround is easy.

@muratg We may need to patch this.

[2018-03-07 13:36] kolte opened #179 "No owin.Environment item was found in the context in IIS Web Farm ARR hosting"
I am trying to set load balancing with IIS ARR but getting this error when I try to login, It works fine if I test it outside ARR

Server Error in '/' Application. No owin.Environment item was found in the context. Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated

[2018-03-07 16:10] Tratcher commented on #179
Stack trace? Code?

[2018-03-07 16:59] kolte commented on #179
Server Error in '/' Application.
No owin.Environment item was found in the context.
Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

Exception Details: System.InvalidOperationException: No owin.Environment item was found in the context.

Source Error

[2018-03-09 04:10] kolte commented on #179
Thanks in Advance, I am not really sure why it's not working with ARR load balancing. did you get chance to look at this issue please? Thank you again.

[2018-03-09 13:46] JohanPetersson opened #180 "Does Microsoft.Owin.Security.OpenIdConnect 5.2.1 support ASP.NET 4.x?"
I'm running a ASP.NET 4.7.2 application and installed Microsoft.Owin.Security.OpenIdConnect 4.0.0. This package has a dependency to System.IdentityModel.Tokens.Jwt 5.2.1. The documentation for this package clearly states that this version doesn't support ASP.NET 4.x. System.IdentityModel.Tokens.Jwt Version 4.x  is only supported in ASP.NET 4.x and 5.x is only supported in .NET Core.

This is very

[2018-03-09 16:55] Tratcher commented on #180
Note the latest version of Microsoft.Owin.Security.OpenIdConnect is 4.0.0, not 5.2.1.

The readme at https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/ is out of date and being updated (@brentschmaltz). IdenitytModel version 5 made breaking changes such that it was no longer compatible with Microsoft.Owin.* 3.x. Microsoft.AspNetCore.* was developed using Identity

[2018-03-09 17:09] JohanPetersson commented on #180
You are correct, we have 4.0.0 installed. I've updated my first message.

Ah ok, so then we should be fine. Thank you.

[2018-03-09 17:09] #180 closed

[2018-03-12 15:10] Tratcher commented on #179
@kolte this isn't any environment we have much experience with. Can you describe your setup more? The Web Farm framework is described as an obsolete configuration. https://blogs.iis.net/iisoobs, https://forums.iis.net/t/1237081.aspx?Web+Farm+ARR+Setup+for+IIS+10+and+Server+2016+

[2018-03-12 15:12] Tratcher commented on #179
If you're really stuck then your best bet is to contact Microsoft Support.

[2018-03-12 15:30] kolte commented on #179
Thank you, sorry

On Mar 12, 2018 8:41 PM, "Chris Ross" <notifications@github.com> wrote:

[2018-03-13 04:59] walidboum opened #181 "How to get the facebook token expiration date"
I am using the owin facebook auth middlware for my service. Using the appId and app secret, my service is successfully getting a facebook token for the user. (upon successful auth from the user on the facebook portal).

Let's say now I want to check when a specific facebook token is going to expire and issue a refresh.
Facebook has an api to get information about the token: https://developers.face

[2018-03-13 05:08] Tratcher commented on #181
The token isn't stored by default, it's only used to fetch the user information. If you want to extend that functionality you need to hook into the [provider](https://github.com/aspnet/AspNetKatana/blob/64bf627964ca9bd312cfda31916194212731c11c/src/Microsoft.Owin.Security.Facebook/Provider/FacebookAuthenticationProvider.cs#L28) and store the token and expiration somewhere. Storing it in the Authent

[2018-03-17 06:05] nighotatul opened #182 "User is not authenticated when we clear the browser history"
We have implemented OWIN authentication in our module and are successfully implemented for windows authentication in our asp.net web-form application. The strange behaviour happening when we clear history of browser and again login then user is not authenticated and because of user is not authenticated, our application redirect to a login page.

These behaviour only happen when browser history is

[2018-03-19 16:45] Tratcher commented on #182
Can you share a Fiddler trace with of the repro?

This sounds like a usage question more appropriate for a forum like StackOverflow.

[2018-03-22 09:31] vslepakov opened #183 "Cannot remove the "Server" Header"
Hi,

we use OWIN self host and for security reasons we would like to remove the Server header (Microsoft-HTTPAPI/2.0) from the response.

How to achieve this?

Thanks and best regards

[2018-03-22 14:47] Tratcher commented on #183
FYI removing the server header is an ineffective security measure.

Microsoft.Owin uses System.Net.HttpListener, you'll need to search for solutions involving that component. I'm not aware of any simple solutions.

[2018-03-22 14:47] #183 closed

[2018-03-22 18:28] mpoirier101 opened #184 "Which .NET version ?"
Trying to update the package version from 3.1.0 to 4.0.0 I get this message.

Could not install package 'Microsoft.Owin 4.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

I just ca

[2018-03-22 18:35] CZEMacLeod commented on #184
Not sure what changed, but `Microsoft.Owin 4.0.0` requires net451 or higher.

[2018-03-22 20:14] Eilon commented on #184
@mpoirier101 can you post what your CSPROJ looks like so that we can try to reproduce this behavior?

[2018-03-22 20:57] Tratcher commented on #184
@CZEMacLeod is correct, the packages require 4.5.1 now.

[2018-03-22 21:00] mpoirier101 commented on #184
Thanks !

This is what I needed to know (4.5.1). I just could not find this info anywhere...

[2018-03-22 23:26] #184 closed

[2018-03-22 23:40] xperiandri opened #185 "Support AuthenticationOptions modification per request"
I want to authenticate ASP.NET OWIN app using OpenIdConnect provider.
My app is multi-tenant and tenant is distinguished by subdomain.

There is an ability to do some stuff before request is sent on RedirectToIdentityProvider event. And it even exposes Options that are mutable. Which leads to [crazy stupid errors](https://github.com/IdentityServer/IdentityServer3/issues/1458#issuecomment-110178584

[2018-03-22 23:51] Tratcher commented on #185
Multi tennancy is a non-goal for this project. If you have a finite number of tenants then you can add a middleware instance for each of them (but remember to give them unique CallbackPaths) and challenge then by name. For anything more complex I recommend you fork the code and customize as needed.

[2018-03-23 00:06] xperiandri commented on #185
Even if it is not the goal leaving mutable shared options instance is stupid idea if not to say worse.

[2018-03-23 00:15] xperiandri commented on #185
Do you think that eliminating hours of research and production issues of guy like this
https://github.com/IdentityServer/IdentityServer3/issues/1458#issuecomment-110178584
don't worth a little change from proposal 1 or 2?

So my question is pull request for each my options can be accepted if no other proposals be discussed?

[2018-03-23 00:49] Tratcher commented on #185
Neither of these proposals are suitable, cloning the options on every request would be grossly inefficient. What you really need for a scenario like this is a cached set of options and the ability to look them up per request. ASP.NET Core 2.0 has a some of the necessary infrastructure for that, but it would require a significant overhaul to port it over here.

[2018-03-23 11:36] xperiandri commented on #185
Could you point me to that you mean?

[2018-03-23 15:17] Tratcher commented on #185
Core has a service called IAuthenticationSchemeProvider that can be used to add, cache, and remove providers. If you override this you can even created providers on the fly such as for lazy multi-tenant scenarios.
https://github.com/aspnet/AuthSamples/blob/40f7347337850304c1cfeed0b3db0c0ca5176a39/samples/DynamicSchemes/Controllers/AuthController.cs
https://github.com/aspnet/HttpAbstractions/blob/e

[2018-03-23 17:49] xperiandri commented on #185
Ah, just use different schemes

[2018-03-23 17:51] xperiandri commented on #185
OK, let's do something with what we have now here

I can do this. And add cache here. But as you can see that 2 methods are internal.
Can thy become public?
[code]

[2018-03-23 17:58] Tratcher commented on #185
Which methods specifically?

You're still copying the options...

I should warn you that we have no scheduled releases for these packages at the moment. Even if we changed something here there's no telling when it would be released.

[2018-03-23 20:44] xperiandri commented on #185
I thought it is absolutely deducible from by sample where I get them using reflection.

https://github.com/aspnet/AspNetKatana/blob/64bf627964ca9bd312cfda31916194212731c11c/src/Microsoft.Owin.Security/Infrastructure/AuthenticationHandler%601.cs#L22

https://github.com/aspnet/AspNetKatana/blob/64bf627964ca9bd312cfda31916194212731c11c/src/Microsoft.Owin.Security/Infrastructure/AuthenticationHandler.

[2018-03-23 23:26] brentschmaltz commented on #167
@GauravDhavale I had missed this. Is this still an issue?
If so can you open an issue here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2018-03-27 14:36] spottedmahn opened #186 "NameClaimType Doesn't Seem like Validation in TokenValidationParameters"
Apparently one must configure where to get the user's name claim from so that they can perform operations like `var name = User.Identity.Name;`

In the following [Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/blob/cf011352babed2685c9c324e308a2b8775640c2b/TaskWebApp/App_Start/Startup.Auth.cs#L78) example,

[2018-03-27 15:30] Tratcher commented on #186
TokenValidationParameters is used both to configure the validation for the incoming token and to configure mapping that data into a ClaimsIdentity, both of these operations take place in the same IdentityModel API. You can learn more about TokenValidationParameters over at https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/

[2018-03-27 15:48] spottedmahn commented on #186
Gotcha, that's what it seemed like.  Thanks @Tratcher.  Validation **and** configuration.

IMHO, this comment should be updated as such

https://github.com/aspnet/AspNetKatana/blob/64bf627964ca9bd312cfda31916194212731c11c/src/Microsoft.Owin.Security.OpenIdConnect/OpenIdConnectAuthenticationOptions.cs#L263

Thoughts?

[2018-03-27 16:20] Tratcher commented on #186
Feel free 😁

[2018-03-27 16:30] #186 closed

[2018-04-03 15:00] panesofglass commented on #27
Why can you not merge the interfaces from Owin.dll into this package? Also, where is that discussion?

[2018-04-03 15:03] panesofglass commented on #26
I'm tempted to create a netstandard owin.dll just to unblock this. I just wish I understood why moving the interfaces into Microsoft.Owin is a no-go. I've never understood the argument, especially with a major version change.

[2018-04-03 15:11] panesofglass commented on #27
@Tratcher can we transfer the owin.dll project to the ASP.NET org? You would still have publishing, etc; it just wouldn't be owned by owin anymore. Wouldn't that resolve all the issues?

[2018-04-05 16:55] RobSiklos opened #188 "Unable to have multiple OpenID Connect middlewares"
I've configured multiple OpenID Connect middlewares, each having a different value for `OpenIdConnectAuthenticationOptions.AuthenticationType`, and registered with: `app.UseOpenIdConnectAuthentication(options)`.

The problem seems to be that when the authentication occurs, the first registered middleware always handles things, instead of the middleware corresponding to the correct authentication t

[2018-04-05 17:12] Tratcher commented on #188
Each instance must specify a unique CallbackPath to avoid this issue.

[2018-04-05 17:25] ryanski44 commented on #149
@Tratcher,
Thanks, I'll try that!

[2018-04-05 17:56] RobSiklos commented on #188
Thanks @Tratcher. I tried specifying this, but now it seems like the RedirectUri specified in the AuthenticationProperties is no longer honoured. Any idea what this means?

[2018-04-06 19:52] RobSiklos commented on #188
I'll try and get you a test project which demonstrates the issue.

[2018-04-07 06:39] vpwilson opened #189 "Add response_mode=query support for OpenID Connect"
I trying to use AWS Cognito as IDP but response_mode = query isn't currently supported  in AspNetKatana whereas it is supported in asp.net core implementation, please refer the link below. https://github.com/aspnet/Security/pull/279/commits/54128e813748e5143b3827c834a5b05cedd05916
Regards,
Vinod

[2018-04-09 17:54] serialseb commented on #26
I can imagine that it would be doable to do the type redirect, but it may not be needed. If you make owin a meta package for Microsoft.Owin, and move the Owin.dll in that Microsoft package, I fail to see how that would be introducing any problem if a new version comes out, you jsut remove the Owin package from the package dependency and it'll eventually die of, and anything that was binding to the

[2018-04-09 17:56] serialseb commented on #26
Also may want to @Tratcher as i don't think anyone gets notifications on closed stuff at MS

[2018-04-09 18:04] davidfowl commented on #26
We have no plans to port katana to be netstandard. Owin.dll though, I actually have no idea what the deal is there... What's the end goal here?

[2018-04-09 18:51] panesofglass commented on #26
@davidfowl some of us still have web infrastructure written in OWIN we don't necessarily want to rewrite that depends on Katana, and we would like to update it to run on netstandard/netcore. Does that sum it up, @damianh and @serialseb?

[2018-04-09 19:09] serialseb commented on #26
only dep i have on IAppBuilder is for the katana integration package, so moving the dependency from one package to another or leaving the metapackage as is wouldn't bother me much, I never cared for that interface as you know.

[2018-04-09 19:25] RobSiklos commented on #188
Ok - here's a minimal sample project showing a couple bits of weirdness:
[OpenIdConnectTest.zip](https://github.com/aspnet/AspNetKatana/files/1891438/OpenIdConnectTest.zip)

First, you'll need to customize your web app URL and OIDC identity provider information in Startup.cs (lines 65-76, plus 89).

When you run the app, browse to a URL like this: "http://localhost:12666/Home/Auth?authenticationTy

[2018-04-10 16:27] Tratcher commented on #188
You're setting RedirectUri, not CallbackPath, and it must be unique per instance.

[2018-04-10 17:00] RobSiklos commented on #188
@Tratcher You're talking about setting CallbackPath in the `OpenIdConnectAuthenticationOptions` right? Do I need to set RedirectUri as well, or is CallbackPath enough?

Using the sample application I provided, I set a unique callback path per identity provider (by uncommenting line 92 in Startup.cs). However, once I make this change, I no longer get redirected `/Home/ExternalAuthCallback`, which i

[2018-04-10 17:02] Tratcher commented on #188
RedirectUri isn't required. What did you set CallbackPath to?

[2018-04-10 17:51] RobSiklos commented on #188
I tried setting CallbackPath to all sorts of things. Even with only a single OIDC middleware, the browser ends up at "/" after authentication is complete.

[2018-04-10 18:53] benderRodrigues opened #190 "Owin OpenId authentication. Added custom claims. AuthorizationCodeReceived is not called"
Hi all,
I've almost configured my OpenId owin authentication/authorization in Azure Active Directory. My configuration is the following:

[code]

But I want to add one more application token (not user token) to claims list to be able to have ability to use this token in any place on my site. Also it's good point for me that I don't need to get this token from my external token provider more then o

[2018-04-12 08:54] damianh commented on #26
That indeed sums it up @panesofglass

[2018-04-12 09:06] davidfowl commented on #26
But we're not going to support (as of right now) Katana on netstandard, we just don't have the man power to support it.

[2018-04-12 16:04] Tratcher commented on #188
Don't set RedirectUri, and set CallbackPath to /signin-oidc1 and /signin-oidc2 on the respective instances. These need to be unique paths so the auth handler can filter out their own requests. You won't have MVC endpoints for these.

[2018-04-12 16:29] RobSiklos commented on #188
Yes, that's what I'm doing. I am setting CallbackPath on the options to a unique name, and just to make sure, I've only registered a single instance of the OIDC middleware.

I also commented out the code which sets RedirectUri both on the `OpenIdConnectAuthenticationOptions` as well as the authentication properties for the Challenge.

No matter what I do, I end up at "/" in the browser after authe

[2018-04-14 07:28] adefalque opened #191 "OpenIdConnect Authorization code flow"
Is there any chance to see the support of OpenIdConnect authorization code flow in a near future?
I understand it is already implemented in AspNet Core, but of course it's not an option for a legacy project.

If not, would a small modification in AuthenticateCoreAsync method possible to allow a response without Id token but just a code? It would be then the responsibility of the developer to redee

[2018-04-18 19:28] adefalque commented on #191
Thanks, is it something on the roadmap though?
I have a working implementation of code flow, do you think I could submit it as a pull request?
It's mostly based on the Asp.Net Core implementation, trying to minimize code changes.

[2018-04-18 19:33] Tratcher commented on #191
No this isn't on the roadmap right now and we don't have any scheduled releases in the near term. You can submit the PR for discussion but I don't know when we'd ship it.

[2018-04-18 19:49] adefalque commented on #191
Ok thanks Chris, I'll submit the PR

[2018-04-19 04:10] phucthaidoan opened #193 "OWIN Startup classes in sub-application deployed in ISS cannot be detected"
I posted the problem: OWIN Startup classes in sub-application cannot be detected to [stackoverflow](https://stackoverflow.com/questions/49875472/owin-startup-classes-in-sub-application-deployed-in-iss-cannot-be-detected), however, there is no answer yet.

Hope I can find answers here.

Questions:

- With the current structure of the deployment, OWN Startup classes in sub-application can be detecte

[2018-04-20 08:31] Kahbazi commented on #173
@Tratcher thanks for the info. I want to ask this specific question.

CultureInfo.CurrentCulture would reset after changing pipelineStage in IIS. Do you consider this a bug?

[code]

[2018-04-20 12:41] Tratcher commented on #173
That does seem problematic.

[2018-04-20 14:03] Kahbazi commented on #173
I know this is IIS problem, since it doesn't have any problem in self-host.
So I guess there's nothing wrong with katana. To Which team I should report this issue?
Do you think this will get fixed?

[2018-04-20 14:37] benderRodrigues commented on #190
Hi @Tratcher, thank you for your answer,
I've changed my `Action to take when request is not authenticated` in App Service Authentication section in the azure portal from 'LogIn with Azure Active Directory' to `Allow Anonymous requests`. As shown on the picture below:
![default](https://user-images.githubusercontent.com/4807804/39057145-398132dc-44c1-11e8-94d3-bd8e6de0d944.png)

After that `Author

[2018-04-20 14:50] Tratcher commented on #190
App services auth takes place outside of you app, so customized auth code in your app never gets a chance to run. When you turn that off it allows your app to handle the auth itself the same way it does locally.

[2018-04-20 15:13] benderRodrigues commented on #190
Thank you, it is very helpful

[2018-04-20 18:53] Tratcher commented on #173
It might be something we could address in Katana, and if not we'll send it to the correct team internally. Either way a fix won't be available for some time.

[2018-04-20 19:02] Kahbazi commented on #173
@Tratcher Thank you.
Right now I use this workaround which ignore `UseStageMarker` and I guess it only works correctly if the application doesn't use any IIS HttpModule (beside Owin of course) which need to be run on certain stages, because with this workaround all of owin application even authentications middleware run on `PreHandlerExecute`  stage.

I use this code `app.Properties.Remove("integr

[2018-04-20 19:04] Tratcher commented on #173
Creative. If your app works then go right ahead.

[2018-04-24 15:36] MikeJansen opened #194 "Improvement: CookieValidateIdentityContext.ReplaceIdentity keep ClaimsIdentity instance instead of creating new instance"
Right now `CookieValidateIdentityContext.ReplaceIdentity()` will always set` Identity` to `new ClaimsIdentity(identity)`.

If the application has implemented a `ClaimsIdentity`-derived class and replaces the identity, the derived class is lost.

`ReplaceIdentity()` should keep the existing instance passed as a parameter if it is a `ClaimsIdentity`, otherwise create a new instance.

I have a pull r

[2018-04-25 13:51] SamVanhoutte opened #196 "NullRef when starting TestServer in XUnit dotnetcore project"
Hello,

I created an XUnit test project, referencing the following packages:

- Microsoft.Owin.Testing (4.0.0)
- Microsoft.AspNet.WebApi.Owin (5.2.4)

I don't have an app.config, nor project.json file in my test project and I reference several dotnetstandard libraries in the same solution.
I created the following TestStartup.cs file:
[code]
And I start the TestServer with the following line in my

[2018-04-25 14:13] Tratcher commented on #196
These projects aren't supported on dotnetcore. Should you be using the ASP.NET Core versions instead?

[2018-04-25 14:14] Tratcher commented on #196
Note, it's probobly the strong name reference here that's broken: https://github.com/aspnet/AspNetKatana/blob/b259478b40444b06fd89395900b5c2aa32a4ebeb/src/Microsoft.Owin.Hosting/Utilities/SettingsLoader.cs#L132

[2018-04-25 15:01] fredriksknese opened #197 "UseStaticFiles with [ or ] gives error 404"
In my Configure I have added
[code]
and it works. when i then browse to http://localhost:5000/archive/ it shows the files and I can click to view all files except files that contain ```[``` and ```]```. It handles spaces and åäö (swedish characters) perfectly.

In console it prints
[code]
I'm using Microsoft.AspNetCore.All version ```2.0.6``` and TargetFramework ```netcoreapp2.0```

[2018-04-25 15:06] Tratcher commented on #197
This issue was moved to aspnet/Home#3093

[2018-04-25 17:45] ioi-christianco opened #198 "State is not passed back by the OAuth server when redirecting with an error during the implicit_grant flow"
When implementing an OAuth authorization server, calling OAuthValidateAuthorizeRequestContext.SetError() during the authorize request validation does not include the "state" value provided as a query parameter to the authorize endpoint.
OAuthAuthorizationServerHandler.SendErrorRedirectAsync() will add the error query parameters, but will not append the state parameter from the authorize request.

[2018-04-29 19:01] PinpointTownes commented on #198
Amusing to see that this bug - known for a loooooooong time - may be finally fixed :smile:

It's worth noting that fixing that won't be enough to make error responses fully work with the implicit flow. Currently, the callback is made by appending the error/description/uri as query string parameters. Sadly, this is not standard-compliant and they should be added as fragment parameters.

[2018-04-30 17:40] #198 closed

[2018-05-01 08:23] ilanArtlist opened #200 "azure deployment - access_denied error"
Hi there,
We are facing a strange behavior on azure webapp where we get access_denied error after  a few hours of successful logins.
It seems as if after a while there are too many redirects loop between owing and facebook api (Google as well).
We are working on mvc5 as SPA hence using owin to create and login users.
Any input will be appreciated.

startupauth.cs:

`  FacebookAuthOptions = new Fac

[2018-05-01 16:09] Tratcher commented on #200
Can you capture a Fiddler or network trace of the redirect loops? The most common cause is https://github.com/aspnet/AspNetKatana/wiki/System.Web-response-cookie-integration-issues

[2018-05-02 08:00] rzontar opened #201 "Cookies - Add support for SameSite attribute"
Since .Net Framework 4.7.2 adds support for the [SameSite attribute](https://docs.microsoft.com/en-us/dotnet/api/system.web.httpcookie.samesite) OWIN should support it too.
I believe implementing it in the `Microsoft.Owin.ResponseCookieCollection` and `CookieManager` should be straightforward. But don't know whether it's possible to set it in the `SystemWebCookieManager`, without compiling to .Net

[2018-05-07 20:50] lanierhall commented on #66
Comin' up on the one year anniversary of the commitment to do it soon 😄

[2018-05-08 15:11] Tratcher commented on #185
We don't have plans to design or build this functionality right now.

[2018-05-08 15:13] jpablosierral commented on #185
Thanks for answer Tratcher!
regards.

[2018-05-15 11:25] oleschri opened #202 "Update dead link in Wiki"
As CodePlex pages are not available anymore please edit the Wiki page
https://github.com/aspnet/AspNetKatana/wiki/System.Web-response-cookie-integration-issues
by changing the link
https://katanaproject.codeplex.com/workitem/197
to the archived version
https://web.archive.org/web/https://katanaproject.codeplex.com/workitem/197 .

[2018-05-15 15:59] Tratcher commented on #202
Nice link, thanks.

[2018-05-15 15:59] #202 closed

[2018-05-16 15:08] AnkitRastogi1989 commented on #103
@Shyam200408 , could you please help me for the below issue, application is hosted on IIS and configured to use Azure Authentication:

Server Error in '/' Application.

access_denied
  Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

 Exception Detai

[2018-05-17 03:55] Shyam200408 commented on #103
Hi Ankit,
For me I wasn't using Azure Auth, but as per error it seems you don't have permission.
Can you cross check if you have used correct Azure API Keys / Secrets

[2018-05-17 17:47] yeimylorena commented on #112
4.0.0-Microsoft Account is compatible with Net framework 4.5.2?

[2018-05-23 21:29] LangdalP commented on #191
@adefalque Any chance of you making your working implementation of authorization code flow available, for instance as a PR or a fork? My team are looking to start using OpenID Connect with ASP.NET, but hit a road block when we found out that Katana does not support this flow.

[2018-05-24 22:14] rxd2 opened #203 "Microsoft Account OAuth2 sign-on fails when redirect URL is not under the website root"
For example, https://my.site.com/signin-microsoft works but https://my.site.com/myapp/signin-microsoft does not.

GetOwinContext().Authentication.GetExternalLoginInfo() returns null. Callback URL contains error=access_denied parameter. Tracing shows Microsoft.Owin.Security.MicrosoftAccount.MicrosoftAccountAuthenticationMiddleware Error: 0 : Authentication failed messages.

This is broken in 4.0.0,

[2018-05-29 14:10] berhir commented on #191
Hi @adefalque, we are also looking for a way to use the authorization code flow. We will probably fork this repo and make the necessary changes. Do you think you can make your code available on github even if it's not finished yet? That would help us to get started, thank you!

[2018-05-30 09:15] fpompies opened #204 "Not installing the package Microsoft.Owin"
I am creating Hangfire as a windows service. When I try to install Microsoft.Owin.Hosting I get the next error.:
Could not install package 'Microsoft.Owin 4.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, con

[2018-05-30 10:04] CZEMacLeod commented on #204
@fpompies Pretty sure it has been mentioned in another issue, and maybe even the release notes for 4.0.0 but Microsoft.Owin 4.0.0 (and many of the related packages) require net451 or higher.
Change your target framework to net451 and re-install the packages.

[2018-05-31 19:37] shahriarhusainy commented on #203
Scenario:

The application root is `https://localhost/OwinFbDemo`

Suppose `https://localhost/OwinFbDemo/securepage` is authenticated. `https://localhost/OwinDemo/Auth/LoginFB` points to the following action method under `AuthController.cs`:

[code]

The issue is that after successful login through Facebook it will redirect to `https://localhost/securepage` instead of `https://localhost/OwinFbDemo

[2018-05-31 20:17] philjones commented on #204
There are no release notes - not even tagged in releases.

Looking at the roadmap it links to some issues in 4.0.0:
https://github.com/aspnet/AspNetKatana/wiki/Roadmap

One of them is this one which updates the target version to 4.5.1
https://github.com/aspnet/AspNetKatana/issues/14

[2018-05-31 21:01] Tratcher commented on #203
You're able to work around it by setting RedirectUri = "/OwinFbDemo/securepage", correct?

The awkward bit is that if we fixed it anybody that had used this workaround would break.

[2018-05-31 21:21] shahriarhusainy commented on #203
That worked. Thanks!

[2018-06-01 07:45] fpompies commented on #204
It works, thnx.

Met vriendelijke groeten / Meilleures salutations / Best regards

Fred Pompies
Senior Software Engineer

From: philjones <notifications@github.com>
Sent: donderdag 31 mei 2018 22:18
To: aspnet/AspNetKatana <AspNetKatana@noreply.github.com>
Cc: Pompies Fred <Fred.Pompies@cegeka.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AspNetKatana] Not installing the package

[2018-06-01 21:22] rxd2 commented on #203
The issue that shahriarhusainy described has obviously nothing to do with the issue I reported. Tratcher, did you have a chance to verify and/or take a look at what's going on?

Just to be clear, I don't manually set RedirectUrl. it's just that because my app is hosted not under the website root, but under virtual directory.

Thank you!

[2018-06-01 22:02] Tratcher commented on #203
Virtual directory or sub application? They behave quite differently.

[2018-06-01 22:04] rxd2 commented on #203
Sub application, sorry

[2018-06-04 22:54] ZOXEXIVO opened #205 "OpenidConnect first request never complete after long time of inactivity"
We use Owin OpenIdConnect for joining our old legacy system to IdentityServer4.
Sometimes we see that first auth request after long time of inactivity - is never completed. It locked on Owin side, because IdentityServer4 logs are empty. If client press F5 - it works normal and authentication works well.
What the strange behaviour for openid flow? It's not normal to repeat request again.

[2018-06-04 23:21] Tratcher commented on #205
You're going to have to be more specific. Which url / action is taking so long? If you attach the debugger were does it say it's stuck?

[2018-06-05 11:49] ZOXEXIVO commented on #205
It's difficult to catch and we havent' traces.
We enter project url (running under IIS) and it not redirecting to openid server and site still loading.
No errors in log.
I think, that problem may be catched by many other developers.

[2018-06-05 23:27] SaulFein opened #206 "OWIN console logging not working"
I am using Nuget package Microsoft.OWIN v4.0.0 and I cannot get OWIN console logging to work.

Here is my web.config system diagnostics section:
[code]
I am not getting any OWIN console output when I debug in VS 2017. I am also not see a log file `C:\Microsoft.OWIN.trace.log`

I cannot seem to figure out what the issue is. Any suggestions or tips would be awesome.

Thanks for your help!

[2018-06-06 20:02] binki opened #207 "server.OnDispose from common keys recommendation is missing"
I can’t find in the source code where the `server.OnDispose` property is supported. I assume that means there is no typed API provided around it.

When I look at http://owin.org/html/CommonKeys.html , it’s there. When I look in this typesafe wrapper API, it appears that the closest thing is https://github.com/aspnet/AspNetKatana/blob/9f6e09af6bf203744feb5347121fe25f6eec06d8/src/Microsoft.Owin/Owin

[2018-06-06 22:32] Tratcher commented on #207
Hmm, I don't know where server.OnDispose came from. It wasn't in the earlier CommonKeys I wrote.  Know any servers that implement it?

[2018-06-06 22:33] Tratcher commented on #207
And yes, the described functionality is the same.

[2018-06-06 22:49] binki commented on #207
@Tratcher

I don’t. I just stumbled across it at https://github.com/Bobris/Nowin/issues/36#issuecomment-121273979 which states that it is the standard/recommended way to get the token. Maybe that means Nowin implements it, but I haven’t checked it out. I haven’t looked, but I suspect that means it would be good for SystemWeb to be updated to provide it too?

[2018-06-06 22:51] Tratcher commented on #207
Last I checked only SystemWeb provided any such functionality, it'd be more straightforward to update the spec.

[2018-06-07 16:21] Tratcher commented on #206
You're running this in IIS Express and not a console (OwinHttpListener / OwinHost) correct?

[2018-06-07 17:02] SaulFein commented on #206
Correct, we are running this in IIS Express and the console we are looking at is the VS2017 output window.

[2018-06-07 17:08] Tratcher commented on #206
Where did you get that config? Your source element is more verbose than the one in our sample:
https://github.com/aspnet/AspNetKatana/wiki/Debugging

[2018-06-08 11:05] bosh-b opened #208 "Owin breaks URIs with sections containing forward slash"
Imagine one has a URI like this: `https://api.domain.com/v1.0/section/faultySection('Parameter%2Fthat%20fails')?queryParameters=params`
(`%2F` encodes a forward slash). Since the slash is treated as a part of a query parameters (though being in segments), it is encoded, so one expects it to be encoded all the time: converting it back will break the meaning of the URI.
If I create an instance of `U

[2018-06-08 15:21] Tratcher commented on #208
Nice analysis.

[2018-06-08 16:45] SaulFein commented on #206
We tried the config from the wiki and no luck. We got these config settings from stack overflow.

[2018-06-11 15:20] Tratcher commented on #203
The error=access_denied parameter is fishy, that would be coming from the external MSA server. It sounds like an app registration problem in MSA.

[2018-06-14 16:29] pabblur opened #209 "LogIn randomly stops working"
Hello and thanks for taking the time to read/assist with this issue.  I'm hoping that someone will have a Eureka moment and be able to steer me in the right direction.  I've spent 2 days searching blogs, technical docs, everything and no solution.

Issue: Login will fail after some random amount of time, as soon as 5 minutes and other times it's taken 4hrs before users aren't able to login anymore

[2018-06-14 17:06] Tratcher commented on #209
Can you share the actual Fiddler trace? It's useful to see the full requests.

[2018-06-14 17:17] pabblur commented on #209
I shall the moment I get back from lunch. Thanks.

Sent via the Samsung Galaxy Note® 3, an AT&T 4G LTE smartphone

-------- Original message --------
From: Chris Ross <notifications@github.com>
Date: 06/14/2018  12:06 PM  (GMT-06:00)
To: aspnet/AspNetKatana <AspNetKatana@noreply.github.com>
Cc: pabblur <pablo2002@gmail.com>, Author <author@noreply.github.com>
Subject: Re: [aspnet/AspNetKatana] Log

[2018-06-14 18:03] pabblur commented on #209
Here you go @Tratcher . Thanks for taking them time to look into this.

[061418_1257 Unable to Login.zip](https://github.com/aspnet/AspNetKatana/files/2103457/061418_1257.Unable.to.Login.zip)

[2018-06-15 14:27] pabblur commented on #209
Thanks @Tratcher I will look into this and let you know the results.

[2018-06-17 09:13] sudarshan1933 commented on #180
Hi,
Can anyone please help me in this issue?

https://stackoverflow.com/questions/50891611/implement-openid-connect-authetication-in-asp-net-web-api

I am stuck from lastweek. Thanks in Advance.

[2018-06-19 22:08] JayZhang727 opened #210 "Trying to get OWIN console logs"
I have an app project setup and a web API project serving up the request.

You can find the sample code repository here: https://github.com/JayZhang727/OwinLogging

This is basically 2 hello world calls, one secured with the [Authorize] attribute, one with out.  The non secured one succeeds with the return value, and the secured one returns a 401 unauthorized.

Owin logging is set to verbose in th

[2018-06-19 22:12] Tratcher commented on #210
Try setting an absolute path to the log file in web.config so you're sure where to look for it. E.g. `c:\temp\kestrel.log`

[2018-06-19 22:20] JayZhang727 commented on #210
Just tried that, created the folder c:\temp, running the project still does not produce the log file, folder is empty.

[2018-06-21 18:24] drGarbinsky commented on #210
I also have this issue. This was working a while ago when I had to troubleshoot an issue. Then last week I needed to use it again and now logging is broken. I did update nuget packages since it was working. I even stripped down the web.config and pasted in the section from the wiki and still not trace information

[2018-06-21 22:39] rxd2 commented on #203
Not sure what you mean by "fishy". I just created a new application, under a different microsoft account. I have exactly the same problem. Works perfectly with https://localhost:44300/signin-microsoft. Fails with https://localhost:44300/booking/signin-microsoft. Is that a limitation of MSA? What can I do to help diagnose/fix this?

[2018-06-26 14:17] pabblur commented on #209
@Tratcher I wanted to reach back out and thank you for your assistance.  The documentation you provided was most insightful.  Since I was already on v4 the solution for us was simple.

Reconfigure the CookieAuthenticationMiddleware to write directly to System.Web's cookie collection.
            app.UseCookieAuthentication(new CookieAuthenticationOptions
            {
                // ...

[2018-06-26 14:17] #209 closed

[2018-06-28 06:02] MagicAndre1981 opened #211 "Enable SourceLink for easier debugging"
### Expected  behavior

Press F11 to step into code and debug the code

### Actual behavior

because no PDBs + source info are found, debugger steps over

### Solution:

[enable SourceLink](https://github.com/dotnet/sourcelink#using-sourcelink) to [fetch the source from github](https://github.com/dotnet/designs/blob/master/accepted/diagnostics/source-link.md#source-link-file-specification) during

[2018-07-02 17:14] wjchristenson2 opened #212 "Microsoft.Owin.Security.MicrosoftAccount Upgrade 3.0.1 to 4.0.0 Broke Microsoft Login"
After 3.0.1 to 4.0.0 upgrade - we are no longer able to use Microsoft Account external logins. Others are fine (Twitter, Facebook, Google). We are aware of the issue going from 3.0.1 to 3.1.0 #112 and it appeared that 4.0.0 may have fixed it. It looks like the ExternalLoginCallback is being redirected to with error=access_denied. Our Microsoft app is setup correctly (same as what we were using for

[2018-07-06 13:16] hakonfjukstad opened #213 "ARR + owin problem with POST requests"
Hello

I have set up ARR in my IIS application to forward some requests to another server. The application is an .NET Web Api (.Net full framework). After I switched to OWIN, only GET requests are redirected properly. Post requests fail with some references to mismatch in content length.
When I switch back to Global.asax the redirect works fine?
Any pointers?

[2018-07-06 13:29] Tratcher commented on #213
That's a new one. The requests aren't 'redirected' using client side redirects (e.g. 302) right? They're internally forwarded?

What are you doing in your OWIN code? Do you have middleware that examines the request? My first guess is that the request body is being read in your app and so it does not get forwarded by ARR.

[2018-07-06 21:22] joviledog commented on #170
Are you said that there are methods in OWIN that could replace the role of the TokenValidationParameters functionality?  Please provide guidance.

[2018-07-08 18:01] ZOXEXIVO commented on #205
I found same issue at AspNetCore library
https://github.com/aspnet/Security/issues/1121

[2018-07-09 17:46] miksh7 opened #214 "This repository vs Nuget Vesrion Inconsistency"
Nuget shows Latest Stable version 4.0.0 published on February 14, 2018 (2/14/2018)
This repository shows v4.0.0-alpha1 on Aug 29 2017

What's on Nuget?

[2018-07-09 18:03] Tratcher commented on #214
Where do you see alpha1?

[2018-07-09 19:10] miksh7 commented on #214
https://github.com/aspnet/AspNetKatana/releases

[2018-07-09 19:14] Tratcher commented on #214
Ah, we updated https://github.com/aspnet/AspNetKatana/wiki/Roadmap, but not releases. Thanks for the heads up.

[2018-07-09 19:19] Tratcher commented on #214
Updated.

[2018-07-09 19:19] #214 closed

[2018-07-09 21:38] KarlZ opened #215 "Version 4.0 says Dependency Newsoft.Json >= 9.0.1, but is it 10.0.0.0?"
I kept getting warnings about version mismatch when building. It took me a while, but then I opened up Microsoft.Owin.Security.OAuth.dll in .Net Reflector, it says that it relies on 10.0.0.0, not 9.0.1. Am I looking at something wrong?

[2018-07-09 21:42] Tratcher commented on #215
You're right. The nuspec says 9.0.1: https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Security.OAuth/Microsoft.Owin.Security.OAuth.nuspec#L17
But it's using 10.0.1: https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Security.OAuth/packages.config#L3

It works fine if you install 10.0.1, right?

[2018-07-09 21:44] Tratcher commented on #215
We updated it because of OpenIdConnect, but the nuspecs never got updated.
https://github.com/aspnet/AspNetKatana/commit/476b62a271a6075b64ea453a225d19133566e929

[2018-07-09 21:51] KarlZ commented on #215
I'm using this code in some Azure Function Apps, and those are stuck on Newtonsoft.Json 9.0.1. So Microsoft.NET.Sdk.Functions has Jewtsonsfot.Json = 9.0.1 (NOT >=)... They say because the current Function App VMs are deploying that version. This has been a real headache.

[2018-07-18 17:34] ShaneCourtrille opened #216 "Expected 4.0.1 release date?"
It looks like there are 5 issues linked to 4.0.1.  3 of them are fixed and the remaining 2 sound like easy fixes so it's a bit confusing why we haven't seen 4.0.1 already.

I know major development efforts have moved over to ASP.Net Core but there are still some of us who have apps we cannot transition over so it would be nice to have a version of Microsoft.Owin we can use without the 5 known issu

[2018-07-18 17:39] Tratcher commented on #216
It's not scheduled at the moment. Is there a specific issue your blocked on?

[2018-07-20 13:58] phatcher opened #217 "OAuth Client credential flow"
I have a WebApi which is secured via Azure B2C which works well.

Azure B2C now supports client credential flow, so I can issues tokens for services to operate without an interactive user but I can't see an obvious way to validate them; ATM I just get a 401 : Bad credentials which would be expected as the audience doesn't match.

Is there a way of...

1. Supporting client credentials OOB
2. or can

[2018-07-20 14:38] Tratcher commented on #217
Have you tried these samples yet?
https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/blob/master/TaskService/App_Start/Startup.Auth.cs

[2018-07-21 10:17] phatcher commented on #217
@Tratcher Yes, my startup looks like this...

[code]
This validates correctly against tokens issued after sign-in

A decoded token from sign-in looks like this
[code]
and one from the client credential flow...
[code]
So the audience returned from the client credential flow can't be authenticated by the same token validater as the audiences don't match, hence the query ;-)

[2018-07-26 02:04] zhenm opened #218 "Owin: The content is the response has value when calling HTTP HEAD request when the API is not support 'HEAD'"
I have a 2 services(WebApi), one is azure cloud service that using IIS host and another one is azure service fabric stateless service that using Owin host. There is a handler that like below, and both services register this handler to handle the context(config.MessageHandlers.Add(new ContextHandler())).

Currently, what I met is: If I call cloud service api(just ping) using HTTP HEAD request, this

[2018-07-26 17:18] Tratcher commented on #218
This issue was moved to aspnet/AspNetWebStack#182

[2018-07-26 17:18] #218 closed

[2018-07-26 23:58] omair-sajid-confiz opened #219 "Proper way of using Clockskew in JWT OAuth"
I have an application using following packages

Autofac version="4.8.1" targetFramework="net471"
Autofac.Owin version="4.2.0" targetFramework="net471"
Autofac.WebApi2" version="4.2.0" targetFramework="net471"
Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net471"
jose-jwt" version="2.4.0" targetFramework="net471"
Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net471"
Microsoft.Asp

[2018-07-27 15:07] omair-sajid-confiz commented on #219
Stackoverflow question : https://stackoverflow.com/questions/51549040/proper-way-of-using-clockskew-in-owin-jwt-oauth

[2018-07-31 13:03] wjchristenson2 commented on #212
About 1 month with no response. We are still unable to use Microsoft Account external logins after upgrading from 3.0.1 to 4.0.0. Any help would be appreciated. Thank you.

[2018-07-31 16:15] Tratcher commented on #212
There aren't any known issues with the 4.0 MicrosoftAccounts provider. Can you share a Fiddler trace of the login flow?

[2018-08-01 13:12] wjchristenson2 commented on #212
@Tratcher I sent you an email to troubleshoot offline. We can circle back here once a resolution is found so others can benefit.

[2018-08-01 13:59] Tratcher commented on #212
Oh I see. The most likely cause is an exception while processing the callback. That should show up in your app logs or under the debugger. https://github.com/aspnet/AspNetKatana/wiki/Debugging

Are you modifying the MA config in any way beyond supplying it the client id and secret?

[2018-08-01 14:10] wjchristenson2 commented on #212
No other config outside of clientId/clientSecret. I'll look into the debugging option and see what I can find.

`app.UseMicrosoftAccountAuthentication(
                clientId: "00000000000000000",
                clientSecret: "xxxxx-xxxx-xxx-xxx-xx");`

[2018-08-01 15:58] Tratcher commented on #217
You're going to have to take that up with the B2C folks, they use the OIDC protocol in some peculiar ways.

[2018-08-01 16:58] wjchristenson2 commented on #212
@Tratcher  Here's what we get using the Microsoft.Owin.Diagnostics/Logging when I try and use the MS external login:

Fiddler shows no 400/bad requests.

[2018-08-01 17:16] Tratcher commented on #212
That 400 is on the request the server sends to MSA to exchange the code and get user information. You can capture it with System.Net logs:
https://docs.microsoft.com/en-us/dotnet/framework/network-programming/how-to-configure-network-tracing

[2018-08-01 18:07] wjchristenson2 commented on #212
[net-debug-results.txt](https://github.com/aspnet/AspNetKatana/files/2250596/net-debug-results.txt)

[2018-08-01 20:51] Tratcher commented on #212
Nothing obviously wrong, MSA is just refusing your request. You could compare the trace with one from your 3.1 app to verify. Are you sure the client secret is correct? That's the most likely thing to fail at this stage.

The 400 response did have a 485 byte response with it that may explain the failure, but the contents aren't captured in the dump. Getting those might be trickier. Here are a few

[2018-08-03 15:38] wjchristenson2 commented on #212
@Tratcher I tried the wireshark option. After a few hours, I threw in the towel. I couldn't get the tool to decrypt the traffic due to Diffie-Hellman cipher fun. Got it all disabled in Chrome and then Chrome wouldn't let me navigate to the site due to "ERR_SPDY_INADEQUATE_TRANSPORT_SECURITY". I downgraded Microsoft.Owin.Security.MicrosoftAccount back to 3.0.1 and it works perfectly. At this point,

[2018-08-06 19:03] Aarskin commented on #130
FWIW, I am also seeing this - it causes a lot of uncertainty when trying to work with System.Diagnostics.Activity (on the second invocation, Activity.Current may be null).

[2018-08-07 17:07] ZOXEXIVO opened #220 "Owin.OpenIdConnect deadlock at cold start with IIS"
We have some project, running on IIS.
**After cold start**, _sometimes_ we have deadlock, caused by method:

[code]
We can't do OpenIdConnect redirect and application freezes.  Fixed only by iisreset

DotTrace show this

![image](https://user-images.githubusercontent.com/14014921/43791137-605ad996-9a7d-11e8-8149-58234d108f31.png)

[2018-08-07 17:16] Tratcher commented on #220
Related: https://github.com/aspnet/AspNetKatana/issues/51

For this to hang ApplyResponseAsync must actually go async. Most of the time it will complete sync, but at startup it needs to fetch the metadata document.
https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa29d80d89429c9988ab40144/src/Microsoft.Owin.Security.OpenIdConnect/OpenidConnectAuthenticationHandler.cs#L138

Possible worka

[2018-08-08 13:05] bbarrick opened #221 "Issue in web.config after upgrade to 4.0"
I'm new to this so forgive me if there is something simple causing this. I recently updated to OWIN 4.0 through nuget and now my web.config is showing light blue tildes throughout the XML. Hovering over each one of them show's a different message but usually something like 'The global element 'location' has already been declared.' Any help would be appreciated.

[2018-08-08 14:35] Tratcher commented on #221
These packages have no influence over the web.config. Did you update something else at the same time?

[2018-08-08 15:10] Tratcher commented on #221
The binding redirects? Those are auto-generated by nuget. The message you're getting is a tooling warning, correct? It's not interfering with running the project?

[2018-08-09 06:46] lavilaso opened #222 "How can I have dynamic expiration times from OAuth tokens?"
I need to set the dynamic expiration time of the tokens but trying to set it to ticket.Properties.ExpiresUtc does not work and it takes the default value.
I have different types of users with different expiration times, how can I implement this behavior without being overwritten by the default in my GrantResourceOwnerCredentials () method?

[2018-08-09 14:10] scott7685 commented on #78
Just to pile in and add additional context, we recently experienced the same issue -- Excel would open two tabs when clicking a link to our ASP.NET web app. The problem began after we changed over from forms identity authentication to using OpenIDConnect authentication with Azure ActiveDirectory.

We did find that the Microsoft EasyFix download tool would resolve it (link below), however we did no

[2018-08-09 14:32] Tratcher commented on #78
Ah, I didn't know office had provided a workaround, great. @scott7685 since it's a reg key change you could deploy it via group policy or similar. You don't need the exe.

[2018-08-10 12:14] bbarrick commented on #74
Were getting this error now after upgrading to 4.0.

[2018-08-14 12:13] Prashant10 commented on #78
Thanks for the solution guys! EasyFix worked for me too. Earlier, I was also facing the same problem. Do we know how can everyone get the similar fix? I mean will Microsoft push a WIndows Update or Office Update for this fix? If yes, then is there any way I can check when will it get rollout?

[2018-08-16 15:01] kemmis commented on #74
would like to see this fixed. lots and lots of noise in our log.

[2018-08-16 17:36] #221 closed

[2018-08-28 12:07] tapos007 opened #223 "oauth2 remove access token"
I am facing a problem when user re login system then generate new access token and refresh token but the previous token can not remove .

[2018-08-28 16:25] hamish-tushar opened #224 "OWIN authentication with custom callbackpath for google not working"
Microsoft.Owin.Security.Google : 3.0.1

I am trying to integrate OWIN library and replacing existing dotnet oauth library. I am unable to get owin to work with my existing callback urls.

            var authenticationOptions = new GoogleOAuth2AuthenticationOptions()
            {
                ClientId = AppSettings.GoogleOAuth2ClientID,
                ClientSecret = AppSettings.GoogleOAuth2Cl

[2018-08-28 16:35] Tratcher commented on #224
What do the logs say for the 500 error? https://github.com/aspnet/AspNetKatana/wiki/Debugging

The CallbackPath is a path handled internally by the middleware, it should not refer to an MVC controller.

[2018-08-28 16:58] hamish-tushar commented on #224
Microsoft.Owin.Security.OpenIdConnect.OpenIdConnectAuthenticationMiddleware Warning: 0 : The state field is missing or invalid.
    ProcessId=19404
    DateTime=2018-08-28T16:56:29.5837211Z
Microsoft.Owin.Security.Google.GoogleOAuth2AuthenticationMiddleware Warning: 0 : Invalid return state, unable to redirect.
    ProcessId=19404
    DateTime=2018-08-28T16:56:29.7528382Z

[2018-08-28 18:43] hamish-tushar commented on #224
Basically anything other the signin-google does not work. Will OWIN for google only work for signin-google callback? Is that a limitation with OWIN ?

[2018-08-28 22:09] hamish-tushar opened #225 "Google callback url is going to http"
I am using owin for google oauth .

var authenticationOptions = new GoogleOAuth2AuthenticationOptions()
            {
                ClientId = AppSettings.GoogleOAuth2ClientID,
                ClientSecret = AppSettings.GoogleOAuth2ClientSecret,
            };

I check in the browser and see the redirect uri  has redirect_uri=http%3A%2F%2Fwww.test.com%2Fsignin-google

How can I make this redirec

[2018-08-29 02:05] Tratcher commented on #225
It's taking the scheme from the current request when it creates the redirect. Did it start as https? If not then you should redirect to https before initiating auth.

[2018-08-29 02:14] Tratcher commented on #224
That CallbackPath is customizable, but it still must be a unique path handled only by that middleware. Why does it matter to you what the value is?

[2018-08-30 23:37] hamish-tushar commented on #224
The value matters because I already have the url registered with Google (/user/customCallback) and cannot add more urls (/sigin-google) . I want to make sure that old uls work with new OWIN changes,

[2018-08-30 23:48] hamish-tushar commented on #225
Started off from https but the redirect to google has
https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=***&redirect_uri=http%3A%2F%2Fmydomain.com%2Fsignin-google&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&state=****

redirect url has http

[2018-08-31 15:38] Tratcher commented on #224
A custom value should just work. Can you share a Fiddler trace of the failed login flow?

[2018-09-05 16:15] alexis-y opened #226 "Localized packages in Nuget are not referenced when installed"
The localized packages for v4.0.0 available in the oficial nuget repo are still listed as using .NETFramework v4.5, as opposed to the "core" packages which use v4.5.1.

As a result, the satellite assemblies aren't "picked up" by Visual Studio, copied to the output dir, etc.

I tried with just a couple of packages (Microsoft.Owin.es, Microsoft.Owin.Security.es), but have no reason to believe this i

[2018-09-05 16:43] Tratcher commented on #226
Thanks, we'll take a look.

What's your interest in the localization packages? We've seen very low demand for them.

[2018-09-05 17:06] alexis-y commented on #226
It's very low priority. I'm maintaining an app that is localized in a couple of languages. We're using the localized packages where available, and including the satellite assemblies (both ours and from dependencies) in the WIX-based installer. I'm not actually certain these localized packages have anything useful that we may expose to the user. Exception messages maybe?

Anyway, once I upgraded fr

[2018-09-05 17:09] Tratcher commented on #226
Most of those error messages are intended for the developer, not the end user.

[2018-09-07 16:17] rabrahamOpti commented on #140
@Tratcher Can you point to documentation that lists all the breaking changes, and the workarounds for those changes?

[2018-09-07 16:44] Tratcher commented on #140
@rabrahamOpti See https://github.com/aspnet/AspNetKatana/wiki/Roadmap#400-release-february-2018

Specific guidance should not be needed for most users, only users that made extensive use the the IdentityModel types like TokenValidationParameters will need to change code.

[2018-09-07 17:30] rabrahamOpti commented on #140
@Tratcher I'm updating 3.0.0 -> 4.0.0 in a code base I'm not familiar with. It looks like they're creating a  `Microsoft.Owin.Security.Jwt.JwtFormat`, passing in a `TokenValidationParameters` object, and a `IIssuerSecurityTokenProvider` object. The constructor for `JwtFormat` seems to have changed to accept a `IIssuerSecurityKeyProvider` instead. I'm looking for documentation on the relationship b

[2018-09-07 17:35] Tratcher commented on #140
Yes, everything that was using SecurityTokens is now using SecurityKeys. What kind of provider were they using? There should be a one to one replacement.
https://github.com/aspnet/AspNetKatana/commit/5d58dab237663b694515a3adbb36dd246a7d4ca2#diff-02dcc6bdd8fadc8c97e5234d641548fcR13

[2018-09-12 22:31] ghstahl opened #227 "A better Microsoft.Owin.Security.OpenIdConnect library"
Is there a version of this asp.net 4 OpenIdConnect library;
https://github.com/aspnet/AspNetKatana/blob/release/src/Microsoft.Owin.Security.OpenIdConnect/
That is as good as this one from asp.net core;
https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNetCore.Authentication.OpenIdConnect

The Microsoft.AspNetCore.Authentication.OpenIdConnect one covers a lot more variations to the fl

[2018-09-13 17:41] rxd2 commented on #212
Similar experience, also not resolved
https://github.com/aspnet/AspNetKatana/issues/203

[2018-09-13 19:37] Tratcher commented on #188
@MoonStorm this component has been released and running in production scenarios for four years now.

The CallbackPath in this case is derived from Options.RedirectUri:
https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa29d80d89429c9988ab40144/src/Microsoft.Owin.Security.OpenIdConnect/OpenidConnectAuthenticationHandler.cs#L145
https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa2

[2018-09-13 21:29] Tratcher commented on #227
I'm not aware of alternate implementations for ASP.NET 4.

[2018-09-14 15:51] MoonStorm commented on #188
@Tratcher Not sure what you're trying to show me. How the CallbackPath is inferred from other options?

Could you please give us a small sample as to what we need to set to have the CallbackPath actually do what it's supposed to do?

[2018-09-14 19:30] Tratcher commented on #188
I'd forgotten that OpenIdConnectAuthenticationOptions.RedirectUri is the primary value in this version of OIDC, we've removed it from the ASP.NET Core version. Setting RedirectUri to an absolute uri like "http://localhost/custom-signin-oidc" should be adequate for most scenarios, there's no need to set CallbackPath as it will be derived from RedirectUri.

CallbackPath primarily needs to be overrid

[2018-09-14 23:03] ghstahl commented on #227
Ok, so I had to make one.
https://github.com/ghstahl/OpenIdConnect-Code-Flow-ASP.NET-4-and-ASP.NET-Core/tree/master/src/P7.Microsoft.Owin.Security.OpenIdConnect

Its an direct replacement for Microsoft.Owin.Security.OpenIdConnect.

I verified that it works against Google using the 3 code flow variants as well as our internal OIDC provider that only supports the code flow.

Use at your own risk...

[2018-09-20 02:00] shNerotic opened #228 "Cookie OpenIdConnect.nonce.xxxx is not in secure even though site use HTTPS"
Recently I published my site into Azure and use HTTPS as the protocol. I notice that when redirect to the login page , will add a cookie named OpenIdConnect.nonce.xxxx, but unfortunately it not in secure.

I saw the source code in the method RememberNonce in OpenIdConnectAuthenticationHandler.

[code]

So, I'm confused about the Request.IsSecure, does it mean my azure site is not Secure even thoug

[2018-09-20 05:15] Tratcher commented on #228
Right, if the request was HTTPS then it marks the cookie as secure.

It's possible that something is confusing IsSecure. Can you share a Fiddler trace of the initial request and redirect response?

[2018-09-20 06:44] shNerotic commented on #228
Thank you.

![oidc_nonce](https://user-images.githubusercontent.com/14741099/45800340-3655f080-bce3-11e8-8ea9-3ea2a2f0e741.png)

We can see the nonce cookie has no Secure flag.

I just overridden the RememberNonce method, force the CookieOptions.Secure is TRUE, then monitor the request and can see the Secure flag.
![oidc_nonce_secure](https://user-images.githubusercontent.com/14741099/45800170-a3b

[2018-09-20 13:39] Tratcher commented on #228
That's odd, the only thing that usually interferes with Scheme/IsSecure is a TLS terminating reverse proxy. This is running in Azure App Service as a normal web site?

Here's a troubleshooting [sample](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#troubleshoot) from ASP.NET Core that you should be able to adapt for Katana and run on your site.

[2018-09-20 14:53] shNerotic commented on #228
Yes. It is a normal web site in Azure App Service and I configure something in Application Gateway.
a. TLS 1.2 (may cause that issue ? )
b. Portal & STS site  are both in HTTPS protocol

![wechat screenshot_20180920223704](https://user-images.githubusercontent.com/14741099/45826598-5d361600-bd27-11e8-9bbc-88c8e8dace44.png)

I will use the sample you shared to check the site scheme, but may need so

[2018-09-24 19:12] anurse commented on #54
Another report of this issue here https://github.com/SignalR/SignalR/issues/4146, which does not appear to be running under the debugger.

[2018-09-25 02:05] #228 closed

[2018-09-27 22:26] collinsauve opened #229 "OAuth expiration times interfere with cookie auth expiration"
If the authorization server's authorization uri is hit at the same time the session is regenerated, then the value provided to [OAuthAuthorizationServerOptions.AccessTokenExpireTimeSpan](https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Security.OAuth/OAuthAuthorizationServerOptions.cs#L83) is used to set the expiry for the `.AspNet.ApplicationCookie` instead of [CookieAuthenticat

[2018-09-27 22:28] collinsauve commented on #229
So that is a bug, but I'd also like to bring up a feature request at the same time if possible:

Allow dynamic token expirations.   We've been considering implementing client-specific token expirations.   With the current configuration we have to specify `AccessTokenExpireTimeSpan` once and only once.  Please allow it to be specified per-access token.

[2018-09-27 22:33] collinsauve commented on #229
This may be a problem with other modules as well.  We see some cases where we set `CookieAuthenticationOptions.ExpireTimeSpan` to 60 days but we see a 90 day expiry on the cookie.  I believe that 90 day expiry is being picked up from this:

[code]

[2018-10-01 11:38] miraer opened #230 "OwinHttpListenerContext is disposed too early"
Looks like OwinHttpListenerContext subscribes itself on cancellationToken that is used to notify other layers and in parallel to user’s request handling does
OwinHttpListenerContext.End()
   OwinHttpListenerResponse.End()
      HttpListenerResponse.Close()
         or
      HttpListenerResponse.Abort()

too early, that leads to ObjectDiposedException to be thrown in Web.API stack:

[LogAsync,Unhan

[2018-10-03 14:11] paulhickman-a365 opened #231 "Storing ClientSecret in Azure Keyvault"
I am using OpenIdConnect, and would like to store the client secret in KeyVault to improve security. However, currently as `OpenIdConnectAuthenticationOptions.ClientSecret` is passed when constructing the pipeline, this means I have to connect to and retrieve the secret during application startup. If this fails due to network/key vault availability problems, then the application fails to start pro

[2018-10-03 15:15] Tratcher commented on #231
This OpenIdConnectin implementation doesn't actually use the ClientSecret, the option is there as a pass through for you to consume during the AuthorizationCodeReceived event. Inside AuthorizationCodeReceived you can do all of the things you're describing above.

[2018-10-08 20:09] kalyankrishna1 opened #232 "IDX10311: RequireNonce is 'true' (default) but validationContext.Nonce is null"
Cross post from
https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims/issues/42#issue-367167065

@mqamarmunir

[2018-10-08 20:43] Tratcher commented on #232
@mqamarmunir what version isn't working for you? Can you provide the Fiddler trace for success and failure sceanrios?

[2018-10-09 20:13] muratg opened #233 "Bring packages up to new NuGet compliance rules"
**NuGet team introduced new compliance requirements for all Microsoft packages. Some of our packages are not compliant.**

Impacted packages from this repo include:

- Microsoft.Owin
- Microsoft.Owin.Cors
- Microsoft.Owin.Diagnostics
- Microsoft.Owin.FileSystems
- Microsoft.Owin.Host.*
- Microsoft.Owin.Hosting
- Microsoft.Owin.Security.*
- Microsoft.Owin.SelfHost
- Microsoft.Owin.Host.StaticFiles

[2018-10-09 21:10] Tratcher commented on #233
Which rules were failing?

Can this verification be run locally?

[2018-10-09 21:55] Eilon commented on #233
@Tratcher it cannot be run locally at this time, but they are working on that for the future. No ETA.

[2018-10-09 23:34] muratg commented on #233
@Tratcher different packages have different rules failing. I can share the full list with you.

For example, copyright notice in satellite packages are localized, which is against the rules now.

[2018-10-10 09:20] i4rilu opened #234 "Please respect HttpOnly / Secure options in SignOut cookie"
https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa29d80d89429c9988ab40144/src/Microsoft.Owin/Infrastructure/ChunkingCookieManager.cs#L276
https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa29d80d89429c9988ab40144/src/Microsoft.Owin/Infrastructure/ChunkingCookieManager.cs#L289

Please respect HttpOnly / Secure options when constructing SignOut cookie.
[code]

[2018-10-10 15:09] Tratcher commented on #234
These options do not apply to signout cookies, the cookie is being deleted. Was this affecting a real client or was it only flagged by some automation?

[2018-10-11 14:40] i4rilu commented on #234
This was flagged during the compliance scanning.
If options do not apply to signout cookie - it would be great to have more control on signout cookie in ChunkingCookieManager.
Current approach is just to copy-paste whole DeleteCookie() method.
Thank you!

[2018-10-17 19:06] uncleyo commented on #201
_A temporary workaround for auth cookie under IIS_

This is of course limited and depends on what other cookies you might have to set, but...

If you host in `System.Web` (4.7.2), you can set something like
[code]
in Web.config

and then add
[code]
to your `CookieAuthenticationOptions`

[2018-10-19 17:04] julioapm commented on #215
Same here! Using HangFire and lots of incompatibilities! Please correct the NuGet package description!

[2018-10-21 11:43] Joey523 commented on #191
Hello adefalque, LangdalP and berhir, just reaching out to find out if any of you have successfully implemented a solution for the use of authorization code flow? I too just found out that Katana does not support this flow and as such presents a huge roadblock for us. Looking to implement OIDC with ASP.net webforms. Would appreciate it if someone can share their solution. Thanks!

[2018-10-22 07:00] adefalque commented on #191
hi guys,

I've just pushed my local code to my cloned repo: https://github.com/adefalque/AspNetKatana/tree/feature/oidauthcode

Still not ready for a PR and didn't retest it recently, but the idea is there.
Solution is mostly based on Asp.Net Core OpenIdConnect implementation:
https://github.com/aspnet/Security/tree/master/src/Microsoft.AspNetCore.Authentication.OpenIdConnect

[2018-10-24 13:04] jesperkristensen commented on #234
I have changed my authentication cookie name to have the __Host- prefix to ensure cookie integrity. Now the cookie is not deleted when SignOut() is called.

The following response header is sent, but the browser ignores it because it is missing the Secure flag:
Set-Cookie: __Host-.AspNet.Cookies=; path=/; expires=Thu, 01-Jan-1970 00:00:00 GMT

(Tested in latest Firefox and Chrome)

[2018-10-25 11:35] maximcus commented on #31
@davidfowl , can you please elaborate on this. Did you mean that `ExecutionContext` can be lost between `PreRequestHandlerExecute` and the next step if Action (on a Controller) processing the request is an `async` method? If so then why?

[2018-10-25 17:48] rbugginsvia opened #235 "MS Docs Examples"
Should the Authorisation Server web app example on the MS Docs site (https://docs.microsoft.com/en-us/aspnet/aspnet/overview/owin-and-katana/owin-oauth-20-authorization-server) work out of the box please? Getting issue where the AuthenticationManager .SignIn just appears to do nothing.  I know the sample code is fairly old, want to double check before looking through it in more detail.

Source for

[2018-10-25 22:12] Tratcher commented on #235
Wow, that is old. I don't think anything significant has changed in that scenario so I'd still expect the sample to work.

The most common issue with SignIn not being effective is if the authentication scheme names are mismatched. Let us know if you figure out the issue and if the sample needs to be updated.

[2018-10-26 06:31] rbugginsvia commented on #235
The application name in the StartUp and on the Account Controller are both "Application". I had seen online that this was the most common issue, but pretty sure I've tried most solutions around this - that why I'm thinking I'm missing something obvious..  No breakpoints I set in in either of the Provider, AuthorizationCodeProvider or RefreshTokenProvider seem to get hit - which is what I was expec

[2018-10-26 06:36] rbugginsvia commented on #235
The example's code where I have check the scheme name is:

[code]

And:

[code]

[2018-10-26 08:03] rbugginsvia commented on #235
Ok, so there was a bit of a red herring/idiocy/not fully reading the docs on my part. In the example the Authorization server isn't doing any username password authorization for this. I was just using the Authorization server project on its own  and not calling this from the Authorisation Claims Grant project. As there was no clientid and secret in the url, then the Authorization server wasn't doi

[2018-10-26 08:05] rbugginsvia commented on #235
Note - the example code - something like that would be good moving across to here? The only main changes I had to do was up the .net version, nuget some package updates, and then a small change on using the google auth class parameters, and set corrs on the resource project.

[2018-10-27 02:55] TarrahArshad opened #236 "after i install Microsoft.Owin.Host.SystemWeb i miss WebSocket"
before I install this package my project worked fine but after installing this I missed all request from the client to my WebSocket

[2018-10-29 04:54] YoloClin opened #237 "symbolsource.org gone, non-dev builds are missing symbols?"
According to https://github.com/aspnet/AspNetKatana/wiki/Debugging symbols are hosted at symbolsource.org which is no longer online.

Is there anywhere else I can access Symbols? The version I'm after is 4.0.0 but I assume others' would probably like to easily access symbols too :)

[2018-10-31 21:43] muratg opened #238 "Move Katana CI to Azure DevOps (AKA VSTS)"

[2018-10-31 21:51] muratg commented on #232
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-10-31 21:51] #232 closed

[2018-10-31 21:53] muratg commented on #230
We won't be fixing this issue. Workaround is simple enough.

[2018-10-31 21:53] #230 closed

[2018-10-31 21:58] muratg commented on #229
@collinsauve Were you able to find a workaround for this issue?

I'm not sure what scenario is broken BTW, so if you don't already have a solution, could you expand your description of the issue?

[2018-10-31 21:59] muratg commented on #226
Thanks for the report, though this is not something we will be fixing.

[2018-10-31 21:59] #226 closed

[2018-10-31 22:00] muratg commented on #227
Thanks @ghstahl. Closing this issue as we don't plan to take any action on it at this point.

[2018-10-31 22:00] #227 closed

[2018-10-31 22:02] muratg commented on #225
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-10-31 22:02] #225 closed

[2018-10-31 22:02] muratg commented on #224
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-10-31 22:02] #224 closed

[2018-10-31 22:03] Eilon commented on #238
Need to do this at some point if we keep releasing updates to Katana... changed the title.

[2018-10-31 22:05] muratg commented on #223
@tapos007 Are you talking about revocation (when you say "remove access token")?

We don't plan to make changes on the auth server, but I'd be interested in seeing what you were missing.

[2018-10-31 22:06] muratg commented on #222
We don't plan to make changes on the auth server.

Did you try some others like IdentityServer or KeyCloak? Do they have this feature?

[2018-10-31 22:07] muratg commented on #220
Closing this one.

[2018-10-31 22:07] #220 closed

[2018-10-31 22:12] muratg commented on #219
@omair-sajid-confiz

and

Maybe I'm missing it, but it just looks like your tokens are expiring. Nothing to do with clock skew here. Just get a new token, or adjust the timeout accordingly (if you have access)

[2018-10-31 22:13] muratg commented on #217
Closing this one. @phatcher let us know if you still are having issues after checking with B2C folks.

[2018-10-31 22:13] #217 closed

[2018-10-31 22:14] muratg commented on #216
@ShaneCourtrille Please let us know if there's any specific issue you'd like fixed in an upcoming patch.

BTW, we still don't have a set date for a 4.0.1 release.

[2018-10-31 22:14] #216 closed

[2018-10-31 22:15] muratg commented on #213
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-10-31 22:15] #213 closed

[2018-10-31 22:19] muratg commented on #212
@Tratcher related to us moving to V2 endpoints?

[2018-10-31 22:21] muratg commented on #203
@rxd2 your issue seems to be a dup of https://github.com/aspnet/AspNetKatana/issues/212, not this one.

@shahriarhusainy glad your issue is resolved, thanks @Tratcher!

Closing this one.

[2018-10-31 22:29] muratg commented on #208
Putting this in 4.0.1 for investigation.

[2018-10-31 22:31] muratg commented on #207
We don't plan to add more features to Katana as it stands now.

[2018-10-31 22:31] #207 closed

[2018-10-31 22:34] muratg commented on #133
Closing this one as this has not seen recent activity. @SeriousM let us know if you found/worked around this!

[2018-10-31 22:34] #133 closed

[2018-10-31 22:35] #139 closed

[2018-10-31 22:35] Eilon commented on #122
We should change the licenses of the NuGet packages to be the same as the source codez - i.e. .NET Foundation, Apache 2.0. Same as we do in ASP.NET Core.

[2018-10-31 22:36] muratg commented on #149
Simple workaround. We won't be fixing this.

[2018-10-31 22:36] #149 closed

[2018-10-31 22:40] muratg commented on #153
I don't know the Katana auth server very well, but how do you register your client apps with that? Perhaps it's registered properly on your dev machine, but not your prod server?

[2018-10-31 22:43] muratg commented on #157
@yaliashkevich I recommend looking at https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/ repo instead. The implementation details for JWT is there.

[2018-10-31 22:43] #157 closed

[2018-10-31 22:44] muratg commented on #166
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-10-31 22:44] #166 closed

[2018-10-31 22:48] muratg commented on #173
We don't plan to fix this issue.

[2018-10-31 22:48] #173 closed

[2018-10-31 22:52] #179 closed

[2018-10-31 22:52] #181 closed

[2018-10-31 22:52] #182 closed

[2018-10-31 22:55] muratg commented on #189
We do not plan to add more features to Katana. Closing this.

[2018-10-31 22:55] #189 closed

[2018-10-31 22:56] #190 closed

[2018-10-31 22:56] rxd2 commented on #203
@muratg I don't agree, it's not a dup. #212 is maybe similar but not quite the same, My application does work with 4.0,0 as long as the redirect URL is a website root.

[2018-10-31 22:58] muratg commented on #191
@adefalque We're not planning to make any more feature changes to Katana anymore. Thanks for your work on this, and perhaps it'll help someone else too!

[2018-10-31 22:58] #191 closed

[2018-10-31 23:02] muratg commented on #194
This breaks serialization, so we don't plan to make a change here. Thanks for the PR, but I'll be closing the PR as well. Hopefully you're able to solve your own problem though!

[2018-10-31 23:02] #194 closed

[2018-10-31 23:02] #196 closed

[2018-10-31 23:04] muratg commented on #201
@blowdart thoughts here?

[2018-10-31 23:04] muratg commented on #204
:+1:

[2018-10-31 23:04] #204 closed

[2018-10-31 23:06] muratg commented on #205
Closing this one as dup.

[2018-10-31 23:06] #205 closed

[2018-10-31 23:17] muratg commented on #203
@rxd2 please file a separate issue as your issue doesn't seem to be related to this one either.

[2018-10-31 23:22] rxd2 commented on #203
@muratg Excuse me? It is my issue, I created it. How can it possibly be not "related to this issue"?

[2018-11-01 00:21] muratg commented on #203
@rxd2 you're right, my apologies. @shahriarhusainy's issue was unrelated.

[2018-11-01 13:35] rxd2 commented on #203
@muratg No problem, thank you!

[2018-11-01 14:03] sixlettervariables commented on #191
@muratg can you update the README to let folks know this project is abandoned? We're fairly disappointed to hear this.

[2018-11-01 18:52] collinsauve commented on #229
This concisely captures the issue:

To expand on that explanation, the issue is that when using both IAppBuilder.UseCookieAuthentication and either IAppBuilder.UseOAuthAuthorizationServer or IAppBuilder.UseTwoFactorSignInCookie, the AccessTokenExpireTimeSpan,  AuthorizationCodeExpireTimeSpan, or timespan specified in UseTwoFactorSignInCookie can end up overriding the expiration time of the Applica

[2018-11-01 18:56] collinsauve commented on #229
I still don't have a work-around for `UseTwoFactorSignInCookie`'s expiry replacing `UseCookieAuthentication`'s expiry on every request on the authorization server, but that's not as much of a problem for us since our two-factor expiry is actually longer than our ApplicationCookie expiry.

[2018-11-05 14:45] nordleif opened #239 "How do you configure UseWindowsAzureActiveDirectoryBearerAuthentication?"
I'm trying to configure UseWindowsAzureActiveDirectoryBearerAuthentication.
What options should I use.
I have tried several examples on the Internet, but I cannot figure out what Tenant and ValidAudience is?

`
var azureBearerOptions = new WindowsAzureActiveDirectoryBearerAuthenticationOptions();
azureBearerOptions.Tenant = "???"; // Directory Id
azureBearerOptions.TokenValidationParameters = new

[2018-11-05 16:45] Tratcher commented on #239
See https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-dotnet-webapi#step-2-set-up-the-app-to-use-the-owin-authentication-pipeline
"ida:Tenant is the name of your Azure AD tenant--for example, contoso.onmicrosoft.com.
ida:Audience is the App ID URI of the application that you entered in the Azure portal."

[2018-11-05 21:49] blowdart commented on #201
If you're signing up to do new features then yea I suppose so. Framework got it.

[2018-11-06 07:20] nordleif commented on #239
I'm not sure what my Azure AD Tenant is?
My IT department says it is unique identifier (Directory ID).
The example says e.g. contoso.onmicrosoft.com.
Where can I find the tenant value in the Azure portal?

By the way, the example is outdated.
Audience is deprecated.
`
            var options = new WindowsAzureActiveDirectoryBearerAuthenticationOptions
            {
                Audience = "???"

[2018-11-06 16:31] Tratcher commented on #239
x-ref: https://github.com/MicrosoftDocs/azure-docs/issues/16848

Here's an updated version of the sample: https://github.com/AzureADQuickStarts/AppModelv2-NativeClient-DotNet/blob/complete/TodoListService/App_Start/Startup.Auth.cs

[2018-11-06 20:33] jackkjhsu opened #240 "Occasional SecurityTokenInvalidAudienceException (IDX10208) thrown from web client, requiring IIS app pool restart to fix"
Hi,
We occasionally, but not frequently, get the following SecurityTokenInvalidAudienceException thrown by a client site after user's request gets redirected from an OpenIDConnect server (Thinktecture IdentityServer3) following a successful authentication. The only way we currently know of to resolve this issue is to restart the app pool associated with the client IIS site. The authentication serv

[2018-11-06 20:43] Tratcher commented on #240
Does this still happen using the Microsoft.Owin 4.0 packages? There were significant changes in the IdentityModel dependencies.

[2018-11-06 21:37] Tratcher commented on #240
No I haven't seen issues like this. I would recommend updating because the latest versions are always easier to debug.

[2018-11-06 21:40] jackkjhsu commented on #240
Thanks. I’ll update the nuget package and report back if there’s any more issue.
Thank you so much.

[2018-11-16 10:24] dp-huang opened #241 "OnCreate is mandatory if use OnCreateAsync in AuthenticationTokenProvider"
when using OnCreateAsync in AuthenticationTokenProvider, I get an error saying "The AuthenticationTokenProvider's required synchronous events have not been registered."

Check out the AuthenticationTokenProvider.cs sourcecode,
[code]

Looks like OnCreate is mandatory if OnCreateAsync has a value. So I have to write the code like this,
[code]
The empty actions OnCreate and OnReceive make sense?

[2018-11-19 09:20] wangyingmm commented on #230
sorry, but what is the workaround here?

[2018-11-19 16:01] Tratcher commented on #230
The client has already disconnected so there's no way for the request to succeed. This becomes a question about how gracefully it fails. Weather you catch this exception or ignore it and let the server catch it, it won't affect the overall application.

[2018-11-22 09:48] ghanchiasif commented on #220
I did similar thing as per your guidance but and also kept the code to check if config value is null then it will call retrieve metadata. And noticed that it is getting null suddenly (after multiple requests in production) for config and going to retrieve metadata and getting stuck and blocking complete service. I don't know if config will be null for each requests after that because our service i

[2018-11-22 15:08] hannespreishuber opened #243 "Session null nothing vb.net Webforms"
I try to rewrite msgraph-training-aspnetmvcapp to a Website Project vb.net and webforms.
doenst work, cause Session object (here ctx) is Nothing (null) in Startup class Registration Event. SessionToken storage class Need it.  Same Code, same packeages in c# Project have a session object and works fine (Shows calender entrys)

         private async Task OnAuthorizationCodeReceivedAsync(Authorizati

[2018-11-22 16:45] Tratcher commented on #220
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

Check here for an example that avoid blocking request threads:
https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa29d80d89429c9988ab40144/src/Microsoft.Owin.Security.ActiveDirectory/WsFedCachingSecurityKeyProvider.cs

Why do you have null checks for _config in Issuer and SecurityTokens

[2018-11-22 16:53] Tratcher commented on #220
Reading that closer, there's no way for _config to become null after the constructor. If RetrieveMetadata threw in the constructor the entire object never would have been created.

[2018-11-23 20:33] Workshop2 commented on #74
We get loads of these in our logs - are there plans to fix it?

[2018-11-23 22:29] Tratcher commented on #74
See above. https://github.com/aspnet/AspNetKatana/issues/74#issuecomment-370000081

[2018-11-26 19:54] hannespreishuber commented on #243
added a GitHub Project as demo
https://github.com/hannespreishuber/demoAuthorizationCodeReceivedSessionNull

[2018-11-27 19:02] Tratcher commented on #243
Is it the HttpContextBase that's null or HttpContextBase.Session?

[2018-11-27 19:40] hannespreishuber commented on #243
Session null!

[2018-11-27 19:44] Tratcher commented on #243
What does your Startup.Auth code look like? The IIS integrated pipeline has many stages and auth is usually run before session is loaded. That would affect Cookie auth, but I would not expect OpenIdConnect to be affected.

[2018-11-27 19:45] Tratcher commented on #243
Nevermind, this is what's breaking you:
https://github.com/hannespreishuber/demoAuthorizationCodeReceivedSessionNull/blob/de87e53ecdc1078ce6c8b3ea77474eb4d74d6494/nochmal5/App_Start/StartupAuth.cs#L81

[2018-11-27 19:46] Tratcher commented on #243
You can remove UseStageMarker, it's built into UseCookieAuthentication.

[2018-11-27 19:57] hannespreishuber commented on #243
this is a dead line of Code, from 20 tries. I will remove it and give it a try, but dont think will work

[2018-11-27 20:34] hannespreishuber commented on #243
ok started a new Project
VISUAL Studio - Web Project Webforms, add authenication (Company)
the Stagemarker line is generated (i remove it)
same effect session is null

[2018-11-27 20:40] hannespreishuber commented on #243
the 60 Seconds Project https://github.com/hannespreishuber/nochmal7/tree/master/nochmal7
session is still  null

[2018-11-27 20:41] Tratcher commented on #243
Still calls UseStageMarker?

[2018-11-27 20:44] hannespreishuber commented on #243
with or without, doenst matter

[2018-11-27 20:47] hannespreishuber commented on #243
https://github.com/hannespreishuber/nochmal7/blob/master/nochmal7/App_Start/StartupAuth.cs
and once again - this line is generated.

[2018-12-01 16:16] hannespreishuber commented on #243
I am getting Closer. It must be the friendlyurl Redirect feature in conjunction with the owin pipeline

[2018-12-01 19:55] Engineerumair opened #244 "OIDC authentication with google and fb in WebForm / MVC"
Hi, can someone please guide me how to authenticate on asp.net MVC/Webform app with google provider using OIDC?

[2018-12-01 21:17] Tratcher commented on #244
@Engineerumair I don't think they're compatible. See https://stackoverflow.com/questions/25423898/openidconnect-owin-login-with-google

Any reason you can't use the Google OAuth provider instead?
https://docs.microsoft.com/en-us/aspnet/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on#creating-a-google-app-for-oauth-2-and-connecting-the-app-to-the-

[2018-12-02 19:32] Engineerumair commented on #244
Hello I have implemented google authentication in webform app with the following app but the article doesn't include many features.
http://www.cloudidentity.com/blog/2014/07/24/protecting-an-asp-net-webforms-app-with-openid-connect-and-azure-ad/#comment-202460

[2018-12-02 20:00] Tratcher commented on #244
Such as?

[2018-12-02 20:12] Engineerumair commented on #244
such as authenticating API and using more than 1 IDP using different scopes and claims e.t.c

[2018-12-03 17:40] #215 closed

[2018-12-03 17:40] Tratcher commented on #171
We've lowered the TFM back to net45.

[2018-12-03 17:40] #171 closed

[2018-12-03 17:40] #178 closed

[2018-12-04 06:48] hannespreishuber commented on #243
Also installed and mapped SignalR 2.4 destroys the session object.
correct order in Startup
  app.MapSignalR()
  ConfigureAuth(app)
still no glue - what exactly happens in magic owin

[2018-12-04 15:57] Tratcher commented on #243
SignalR also adds a stage marker to make it run before session is loaded. SignalR has long running requests and if they acquired the session lock then the rest of the app would hang.

[2018-12-04 15:59] hannespreishuber commented on #243
make sense, but how to troubleshoot such a issue? would it be possible to write out some warnings?

[2018-12-04 16:12] Tratcher commented on #243
Warnings about what? These are components that don't generally require session.

[2018-12-04 16:21] hannespreishuber commented on #243
from a coding point of view, there is zero evidence about how a object (HttpContextBase) will work in a specific Environment.

"no session object, cause of stagemarker blah" during compile

I see no possibility to troubleshoot with debugger or any other tool. It is only by testing and compare behavior- Had to invest 30h to get it, Perhaps I am a complete idiot, or others fail into the same pitfall

[2018-12-04 18:40] Tratcher commented on #243
Do you have a link to the specific samples?

[2018-12-04 18:41] hannespreishuber commented on #243
https://github.com/microsoftgraph/msgraph-training-aspnetmvcapp

[2018-12-04 18:50] Tratcher commented on #243
And that sample doesn't work as is? Or it doesn't work after you've re-written it? The repro you posted does not match the sample [here](https://github.com/microsoftgraph/msgraph-training-aspnetmvcapp/blob/master/Demos/03-add-msgraph/graph-tutorial/App_Start/Startup.Auth.cs).

[2018-12-04 18:55] hannespreishuber commented on #243
the sample works, which is confusing enough. It doenst work in some sceanrios with ASP.NET Webforms (Friendlyurls) and also SignalR. My Point is that it is impossible to get this dependency, which is somehow influenced by owin and session (still didnt get the Details) - For me - I am fine. Thinking About the rest of the world and how the magic could be more helpfull

[2018-12-05 14:17] Engineerumair commented on #180
Is Microsoft.Owin.Security.OpenIDConnect supported in .Net 4.0 if not then how can we use OIDC in webforms app based on .Net 4.0?

[2018-12-05 15:35] Tratcher commented on #180
The latest version supports .Net 4.5.1.

[2018-12-06 13:47] Engineerumair commented on #180
can we use the previous versions with .net 4.0?

[2018-12-06 16:17] Tratcher commented on #180
No. You would need to go back to version 2.1 to get .net 4.0 support (5 years old), and that was before we developed OpenIdConnect. Why do you need 4.0? 4.5 is [6 years old](https://en.wikipedia.org/wiki/.NET_Framework#Release_history) and has been installed by default since Windows 8.

[2018-12-06 18:35] Engineerumair commented on #180
Because of Existing application

[2018-12-07 03:13] prakashchidambaram opened #246 "".AspNet.Cookies" creates security vulnerability"
We have azure ad authentication using owin  whereas its creating an client side cookie called ".AspNet.Cookies".

If any hacker tries to change the value through browser developer tools then its allowing the user to get authenticated.

How to get rid of this client side cookie ".AspNet.Cookies" ?

[2018-12-07 05:40] Tratcher commented on #246
Client side cookies are the standard mechanism for preserving the identity across requests.

The cookie is encrypted to prevent tampering. If you have a reliable mechanism for tampering with the cookie then please privately contact secure@microsoft.com.

[2018-12-07 05:40] #246 closed

[2018-12-10 10:25] rivkia opened #247 "Bad request - Request too long. the size of the request headers is too long, SignInMessage Cookie duplicated"
I am using Katan, IdentityServer3 and OpenID Connect to authenticate user with DB, sometimes (not clearly when, couldn’t restore the problem manually) I get the message 'Bad request - Request too long. the size of the request headers is too long'.<br>
The issue now occurs on Google Chrome MF. After deleting the cookies, the site will work. I'm running version 4.0.0 of the OpenID Connect package.<b

[2018-12-13 16:34] praveena-muk commented on #188
@MoonStorm
based on the discussion above i understand this issue is the scenario when OWIN startup + multiple OpenIdConnect Authorities + custom DataProtector are involved.
were you able to solve your issue? (asking since the thread is still open)
could you maybe post a sample solution?

[2018-12-18 17:23] olegmkr opened #248 "Microsoft.Owin.* 4.0.0"
I have update Microsoft.Owin.* packages:
Microsoft.Owin
Microsoft.Owin.Security
Microsoft.Owin.Security.Jwt
Microsoft.Owin.Security.OAuth

to 4.0.0 and now in

[code]

 I get error:
[code]
But jwtSecurityToken in catch block with all my claims as before. I think problem with my configuration or something else. Could someone help me, please

[2018-12-18 23:22] Tratcher commented on #248
Can you provide a full project that reproduces this issue?

[2018-12-19 11:12] olegmkr commented on #248
The problem is SecurityKeys and exception from there https://github.com/aspnet/AspNetKatana/blob/d95d857cecd648e05dccc334edef284212d139db/src/Microsoft.Owin.Security.Jwt/JwtFormat.cs#L209

Before update I have this class

`   /// <summary>
    ///     Reads certificate tokens from openid-configuration endpoint.
    /// </summary>
    public class OpenIdIssuerSecurityTokenProvider : IIssuerSecurity

[2018-12-19 18:07] Tratcher commented on #248
Microsoft.IdentityModel.Protocol.Extensions is obsolete and can be removed. That's likely messing up your dependencies.
Update System.IdentityModel.Tokens.Jwt to 5.3 while you're at it.

[2018-12-19 22:44] olegmkr commented on #248
Hi, I use it in my project as I wrote before -> https://github.com/olegmkr/MicrosoftIdentityModel
Question is how I have to change OWIN 3.0 OpenIdIssuerSecurityTokenProvider implementation to OWIN 4.0.
I found some wikis https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Migrating-from-Katana-(OWIN)-3.x-to-4.x#katana-4x-doesnt-support-net-45-target but this p

[2018-12-19 23:17] olegmkr commented on #248
Looks like I found solution: I have use OpenIdConnectConfigurationRetriever.GetAsync instead of ConfigurationManager<OpenIdConnectConfiguration>. Tomorrow I will check it

[2018-12-20 12:32] leejeffr opened #249 "Could not load file or assembly 'Microsoft.IdentityModel.Protocols.OpenIdConnect, Version=5.2.0.0"
I am running asp.net v4.6. I am trying to get the oidc client runtime working.  I receive the following error. Can someone point me in the right direction? I read a another post about how I need to run Katana 3.x because I'm using asp.et 4.x but when I look at the dependencies for Microsoft.Owin.Protocols.OpenIdConnect (3.1.0) it depends on Microsoft.IdentityModel.Protocol.Extensions (1.0.0). I th

[2018-12-20 14:53] Tratcher commented on #249
The current versions you should use with ASP.NET 4.x are:
- Microsoft.Owin.* 4.0
- IdentityModel 5.3

And yes Microsoft.IdentityModel.Protocol.Extensions is obsolete.

[2018-12-20 22:30] CedricInfeeny opened #250 "Bad request - Request too long. the size of the request headers is too long with Kerberos authentication"
Hello,

We use Kerberos authentication for Owin Server (self hosting). We have set up a middleware: https://github.com/SteveSyfuhs/Kerberos.NET/blob/master/Samples/KerberosMiddlewareEndToEndSample/KerberosEndToEndMiddleware.cs

For some users who are part of many groups (~600) we have the HTTP Code 400 Bad Request error (browser or other client that requests to our server).
We had to check the cau

[2018-12-20 22:52] Tratcher commented on #250
Do you have a sense for how big your headers are? Growing the header limit is not a good idea, it will have a significant impact on your site performance. Groups should not be listed in the headers.

Here's how you need to do it:
https://support.microsoft.com/en-us/help/820129/http-sys-registry-settings-for-windows
MaxRequestBytes
MaxFieldLength

[2018-12-20 23:04] CedricInfeeny commented on #250
In the Kerberos authentication process, we do not control what is included in HTTP headers. It may not be the name of the groups that pass but the fact is that a user who is part of many groups, it causes a 400 error, bad request.

This may be related to the ticket-granting service-granting service (TGS)?
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2003/cc77281

[2018-12-21 07:49] fhtino opened #251 "Google+ shutdown impacts"
As far as I can understand, I suppose this library will be impacted by Google+ API shutdown on March, 7 2019.  Like AspNetCore, Katana uses deprecated API URL, like "https://www.googleapis.com/plus/v1/people/me"
Issue opened on AspNet core:  https://github.com/aspnet/AspNetCore/issues/6069

[2018-12-21 15:46] rhubrightj commented on #251
Definitely a breaking change on my site... I hope it's as simple as just updating Microsoft.Owin.Security.Google NuGet pkg.

[2018-12-21 16:03] ThoughtHopper commented on #251
Yup this will break our stuff.
Google has really screwed us up by pushing the date to end of march.

I tried changing the endpoints to the endpoints given back by the well-known configuration:
https://accounts.google.com/.well-known/openid-configuration

The current code works until it tries to retrieve the userinfo.
The response is not the same format as the response given by google+ apis.
Fails

[2018-12-22 15:16] luronumen commented on #251
Hi @Tratcher

Could you please comment this issue? Is there any possibility to fix it thru the _Microsoft.Owin.Security.Google_ NuGet package?
For more details about this issue you can check [Google+ API Shutdown](https://developers.google.com/+/api-shutdown).

Thanks in advance!

[2018-12-22 17:44] fhtino commented on #251
Perhaps a couple of small changes could solve the issue.

In Microsoft.Owin.Security.Google.Constants
[code]

In  Microsoft.Owin.Security.Google.GoogleOAuth2AuthenticatedContext

[code]

I tried the new code. The "id" and the other fields are filled with the same values. It seems backward compatible. The ClaimsIdentitity is filled with the same values.

[2018-12-22 17:56] Tratcher commented on #251
Here's a temporary workaround. I tested it with 4.0 but it should also work with 3.1.

[code]

[code]

We'll see about getting a real fix into 4.0.1.

[2018-12-22 22:05] hempels commented on #251
I think someone should try to figure out what the differences are (if any) in the data returned by using their openid connect endpoint versus their Me API. They might be the same under the hood or they might not.

[2018-12-22 22:14] Tratcher commented on #251
They're not, the workaround above accounts for the difference.

[2018-12-23 06:31] hempels commented on #251
I guess my real point was that if we were using a Me API from G+ before, I don't understand why we'd switch to an Open ID Connect API instead of using their other Me API that's outside of G+. Assuming the only reason for making the change is that one was deprecated, taking on any additional risk by switching paradigms seems unnecessary. I'm not opposed to it, I just don't understand the motivation

[2018-12-23 08:21] fhtino commented on #251
For info: the two, not deprecated Google UserInfo APIs, return very similar json.
The remapping in GoogleOAuth2AuthenticatedContext class should solve the whole issue.

[code]

[2018-12-24 04:39] YJChan commented on #70
Hi, We happened to face the same error,  missing nonce error "IDX10311: RequireNonce is 'true' (default)". Most of the cases, we are failed to login.  We are following the guide provided by Microsoft.
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-aspnet-webapp

After some finding, we have try to capture all our http headers with fiddler and realized that a cookie wi

[2018-12-26 16:45] jcwchriswalker opened #252 "CookieAuthenticationOptions LoginPath is not redirecting"
I am doing a proof of concept project for a vb asp.net webforms application using forms authentication and replacing it with Katana. From researching the documentation, samples and blogs it seemed to be fairly simple and straightforward. However in my test project, I can never get the project to redirect to the login page defined in the CookieAuthentications LoginPath property. It always goes to t

[2018-12-26 17:41] Tratcher commented on #252
You're missing the part that says your pages require authorization. The login redirect only happens if a page needs authorization.

I don't know a lot about webforms but these folks seem to have gotten it working: https://stackoverflow.com/questions/24614801/asp-net-owin-webforms-require-authorization-all-pages

[2018-12-26 22:37] ADefWebserver commented on #251
I can confirm this worked on my .Net 4.5.1 project. I updated the Microsoft.Owin.Security.Google to 4.0.0 first. I disabled the Google+ API in the Google API Console (https://console.developers.google.com/apis) and I was able to log in using this updated code, and retrieve the properties of the logged in user.

[2018-12-29 00:30] CarloSaccone commented on #200
Hi, any update here? We're having exactly the same issue: we have a working solution (feel free to try) here:

https://200crowdfe.azurewebsites.net/account/login

When I deploy to the production website, it works for a while (sometimes a few minutes, sometimes hours), then it stops and starts answering "access_denied" with any provider, for any user.

Any idea? How can I debug/log the reason why t

[2019-01-01 14:45] fhtino commented on #212
I had the same issue: error=access_denied

I solved creating a completely new Application under the MS Application Registration Portal https://apps.dev.microsoft.com  following the instruction here https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins

I noticed that theold, not working, applicationID was in the format 00000000XXXXXXX. The new applicationID i

[2019-01-02 17:00] ThoughtHopper commented on #251
Good day, @Tratcher

I was just wondering if it's possible for you to give a tentative date of when this will be officially fixed.
I ask due to time constraints, planning, scheduling, development, testing, etc.
We need to know if we should wait for it or try to implement one of the workarounds suggested.

Much appreciated

[2019-01-02 20:38] Tratcher commented on #252
Those examples are based on the Identity framework where there is a Login link on the page that the user is expected to click, otherwise only anonymous content is shown.

[2019-01-02 22:35] leejeffr commented on #249
I've tried your suggestion above but something is still looking for Microsoft.IdentityServer.Protocols.OpenIdConnect V5.2

Could not load file or assembly 'Microsoft.IdentityModel.Protocols.OpenIdConnect, Version=5.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HR

[2019-01-02 22:40] Tratcher commented on #249
Edit your csproj file to make sure all of the references were updated correctly.

[2019-01-02 22:42] Tratcher commented on #249
Oh, Microsoft.Owin.Security.OpenIdConnect did depend on Microsoft.IdentityModel.Protocols.OpenIdConnect 5.2.0. You'll need to use 5.2 or make sure your project has binding redirects. Nuget should have added the redirects for you.

[2019-01-02 23:02] leejeffr commented on #249
When I look at nuget solution manager, I see options to install 5.2.1 but not 5.2.0.0. The previous version is 2.1.5.

My original post used 5.2.1 and still got the same error. I tried using 5.2.4 but it's still complaining about wanting 5.2.0.0 but I don't know how to get that version of the dll.

[2019-01-02 23:04] Tratcher commented on #249
They must have delisted it. Check your binding redirects instead.

[2019-01-02 23:16] leejeffr commented on #249
I think the binding redirect that I have should work?
 oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"

`<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"

[2019-01-02 23:20] Tratcher commented on #249
You're going to need to check the binding logs then. See https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer

[2019-01-02 23:36] leejeffr commented on #249
So I am able to get the binding logs but unsure how to make sense of them.

*** Assembly Binder Log Entry  (1/2/2019 @ 1:33:17 PM) ***

The operation failed.
Bind result: hr = 0x80131040. No description available.

Assembly manager loaded from:  C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clr.dll
Running under executable  c:\windows\system32\inetsrv\w3wp.exe
--- A detailed error log follows.

[2019-01-02 23:52] leejeffr commented on #249
I notice that there are two bindings for the same assembly. The first one is successful and the second one fails.

![image](https://user-images.githubusercontent.com/5108841/50618222-807b7000-0e95-11e9-8dcf-9ce170d709c4.png)

[2019-01-03 00:32] leejeffr commented on #249
I'm not clear on why Microsoft.Owin.Security.OpenIdConnect can only use 5.2.0.0? The documentation shows that any version equal to or greater than 5.2 should work.

Microsoft.IdentityModel.Protocols.OpenIdConnect (>= 5.2.0)

What else could affect the binding redirects? It seems like they are not working.

[2019-01-03 01:51] #249 closed

[2019-01-03 21:32] Tratcher commented on #251
@ThoughtHopper we don't have a specific date yet.

The fix here is easy enough, but releasing 4.0.1 requires updating a lot of infrastructure that's gotten out of date. You can track our progress at https://github.com/aspnet/AspNetKatana/milestone/8

[2019-01-03 23:13] Tratcher commented on #251
Fixed by https://github.com/aspnet/AspNetKatana/pull/253. I ended up using an OAuth2 specific endpoint and I updated the mitigation above to match.

[2019-01-03 23:13] #251 closed

[2019-01-05 11:32] YurasNazar opened #255 "Could not load type System.Security.Cryptography.DpapiDataProtector from assembly System.Security, Version=4.0.0.0"
[code]
-------------------------------------------------------------------------------------------------------------------
All source code:
Target platform - ASP.Net Core 2.1
[code]
-------------------------------------------------------------------------------------------------------------------
The reason why I do this is when I call GenerateEmailConfirmationTokenAsync method from my UserManager

[2019-01-07 18:23] #122 closed

[2019-01-07 19:18] Tratcher commented on #255
You shouldn't be using Microsoft.Owin components in ASP.NET Core applications. There should be an ASP.NET Core replacement for these.

[2019-01-07 19:56] Tratcher commented on #233
See https://aka.ms/Microsoft-NuGet-Compliance for guidance.

[2019-01-08 12:10] watoo commented on #74
When a hit my website's page after about 20 minutes of inactivity, I get this warning in event logs "Server cannot append header after HTTP headers have been sent", and the user is logged out.

I can't see any other reason to logout the user, i think this is expiring the cookies?

[2019-01-08 16:07] Tratcher commented on #74
@watoo sounds like a sliding refresh of the cookie.

[2019-01-08 17:42] wjchristenson2 commented on #212
I can confirm that the solution that @fhtino suggested worked. I deleted the old application and recreated a new one using 4.0.0 and it worked.

[2019-01-08 20:38] Tratcher commented on #237
Nuget.org runs a symbol server now that we can publish to for the next release.
https://blog.nuget.org/20181116/Improved-debugging-experience-with-the-NuGet-org-symbol-server-and-snupkg.html

It requires a new format so we wouldn't be able to publish symbols from prior releases.

[2019-01-08 20:39] Tratcher commented on #211
Related to https://github.com/aspnet/AspNetKatana/issues/237

[2019-01-10 18:44] mamidon commented on #251
@Tratcher I actually did the same thing you did as a prototype in my own project -- can confirm that updating the user/auth/token URLs & addressing the slightly changed JSON is sufficient for migrating.

[2019-01-16 12:38] mpramat opened #257 "Supporting urn:ietf:wg:oauth:2.0:oob"
I need to support native apps via the urn:ietf:wg:oauth:2.0:oob redirect_uri value. I was planning on letting ValidateClientRedirectUri change the redirect uri to a local page when the above value is detected, but the context does not validate if the redirect uri is changed.

Is there another way to support this scenario?

Thanks!

[2019-01-16 17:14] Tratcher commented on #257
That's a new one. It looks like changing the uri was specifically blocked:
https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa29d80d89429c9988ab40144/src/Microsoft.Owin.Security.OAuth/Provider/OAuthValidateClientRedirectUriContext.cs#L67

Not sure why, and I wouldn't want to change it without more context.

[2019-01-16 19:42] Tratcher commented on #208
I found the tests that cover this [here](https://github.com/aspnet/AspNetKatana/blob/dev/tests/Microsoft.Owin.Host.IntegrationTests/PathEscapingTests.cs#L51-L59). The current behavior exists to avoid cases such as double un-escaping %25. Escaped # and ? also get messed up and break the URI structure. These workarounds got us rough parity with System.Web. We wouldn't risk regressing that.

Specific

[2019-01-16 19:42] #208 closed

[2019-01-16 21:16] mpramat commented on #257
I think it is good design that it is blocked. It makes sure that the validation happens for the requested redirect_uri only. I would like to have this overridden only for the specific value.

The urn:ietf:wg:oauth:2.0:oob value is thought for native apps that cannot use the browser to obtain the authorization code. So, instead of performing a redirect, the auth server shows the code in the browser

[2019-01-16 21:33] Tratcher commented on #257
We're not adding features to the OAuth server at the moment. Let us know how it works for you though.

[2019-01-17 08:34] mpramat commented on #257
OK, Thanks!

[2019-01-17 08:34] #257 closed

[2019-01-18 01:58] klumsy opened #258 "When will the updated google auth stuff in the dev branch be part of an official release?"
Given google retiring their googleplus oauth api endpoint starting Jan 28th through March, and the fact the the dev branch already has a fix to use their maintained and newer oauth endpoints, when will this be rolled into an official release. We have changed over to the dev branch, but would like to use go back to using the official release nuget package.

[2019-01-18 02:19] Tratcher commented on #258
As soon as we get some build issues worked out and run some sanity tests on the final output.

[2019-01-18 02:19] #258 closed

[2019-01-18 19:13] klumsy commented on #258
Thanks. So i take it then that its more on the order of days/weeks.. rather than months/years? I'm only asking for planning purposes, and because i couldn't be sure of the plans based on looking at official release history which ranges from a number of times a year, to a year plus. I am do not want to put pressure on rushing something that isn't ready but rather just planning for the future. Thank

[2019-01-22 06:44] RamakrishnanRamar opened #260 "Unable to invalidate the Asp.Net cookies instantly after logout on Azure AD Cookies authentication,"
We are using Azure AD open Id connect cookies based authentication, that is working fine. For log out purpose, We added single sign out and log out the both application and azure portal using below code.

[code]

But this code sign out the application, not in azure portal. If I logout the application then cookies need to be invalidated, but not happening and it's not redirected to logout page. If

[2019-01-22 16:08] Tratcher commented on #260
You used OpenIdConnectAuthenticationDefaults.AuthenticationType for signout, but AuthenticationType = "oidc" for the middleware. Those values need to be the same.

If that doesn't fix your other issues then please capture and share a Fiddler trace file for your logout flow.

[2019-01-22 16:57] Tratcher commented on #211
Dropping this for 4.0.1, it's going to require a significant infrastructure overhaul.

[2019-01-24 05:53] RamakrishnanRamar commented on #260
@Tratcher Thanks for your comment, How Can I sign out OIDC on logout else which authentication need to use on Authenticaton type?

[2019-01-24 13:23] Tratcher commented on #260
Start by changing `AuthenticationType = "oidc"` to `AuthenticationType = OpenIdConnectAuthenticationDefaults.AuthenticationType`.

[2019-01-24 13:39] RamakrishnanRamar commented on #260
@Tratcher It's also accepting the session out cookies.

[2019-01-24 15:51] Tratcher commented on #260
The security stamp should only be changed as a last resort.

I don't know what you mean. Please capture and share a Fiddler trace file for your logout flow.

[2019-01-24 16:19] RamakrishnanRamar commented on #260
How can I share Fiddle trace file, it's have confidential details?

[2019-01-24 16:23] Tratcher commented on #260
You can e-mail it to the address in my profile.

[2019-01-24 23:21] Tratcher commented on #258
The 4.0.1 release has been published.

[2019-01-24 23:22] Tratcher commented on #251
FYI The 4.0.1 release has been published.

[2019-01-25 05:41] #260 closed

[2019-01-25 17:48] alamfsmb opened #261 "Random redirect loop due to expired cookie"
With our implementation of Azure AD B2C including the `Microsoft.Owin.Security.Cookies 4.0.0` middleware together with the OpenIdConnect middleware, we were experiencing intermittent cases where users would get stuck in an infinite redirect loop between our app and Azure.

After much debugging and logging, we were seeing that in these looping cases, the repeated challenge request to Azure included

[2019-01-25 19:56] Tratcher commented on #261
Do not use UseKentorOwinCookieSaver. If the documentation [here](https://github.com/aspnet/AspNetKatana/wiki/System.Web-response-cookie-integration-issues) is insufficient then let me know.

[2019-01-25 21:54] luronumen commented on #251
I have updated my ASP.NET MVC projects for the 4.0.1 version without any issue.
Thank you very much @Tratcher !

[2019-01-29 17:22] jbutler94127 commented on #251
Currently, we have 4.0.0, and will update to 4.0.1.  Is there an easy way to prove the upgrade will work after it's been totally deactivated?  ie after upgrading, can I disable Google API+ and then still be able to register / login with Google credentials?

[2019-01-29 17:26] Tratcher commented on #251
@jbutler94127 correct, you can disable G+ now and verify your app still works.

[2019-01-29 20:10] imukai commented on #251
I tried doing the workaround in my core 1 project but new WebRequestHandler doesn't seem to be a thing.  My project isn't using Microsoft.Owin but it is using Microsoft.AspNetCore.Authentication.Google v1.1 which has a recent prerelease package that might fix this.

But in lieu of that, any idea what the correct handler is to pass into your workaround class other than WebRequestHandler?

[2019-01-29 20:46] fxtrade opened #262 "Google Oauth with ASP.NET MVC"
Hello,

I've updated Microsoft.Owin.Security.Google to 4.0.1 on our website in order to fix the problem with Google+ API shutdown.

If I deactivate Google+ Api in Google's console, login on our website doesn't work anymore...
Authentication is made from App_start/Startup.Auth.cs with a small code like:

[code]

When I try to login, no error is logged, but it loops to the login page after the Googl

[2019-01-29 21:57] Tratcher commented on #262
Please share a Fiddler trace file showing the redirect loop.

[2019-01-29 21:58] Tratcher commented on #251
@imukai You can use HttpClientHandler instead of WebRequestHandler.

[2019-01-30 00:33] imukai commented on #251
That worked.  I was able to disable their G+ API.  Thank you.  It's been a long while since I did anything with handlers and I couldn't figure out offhand which was the correct one to use.

The v1.1 of Microsoft.AspNetCore.Authentication.Google  I have been using for 2 years already has a v2 and v3 (in pre-release) -- one day when I get around to upgrading the whole project from core 1 I'll update

[2019-01-30 10:45] WangFeng2333 opened #263 "Owin with IIS host fail to auto-start"
I have an Owin Web api service , and host it in IIS enviroment, but I found that the Startup method will not fire until there is a http request to the service , and the same case after IIS recyle. But I have some  message to listen by background task of this service, that means I need to set the Application Pool never recyle.

I try to add   <add key="owin:AutomaticAppStartup" value="false" /> to

[2019-01-30 16:05] Tratcher commented on #263
That's not something controlled by the Microsoft.Owin components, that's controlled by IIS. See https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-8/iis-80-application-initialization

[2019-01-30 17:58] fxtrade commented on #262
Hello Tratcher,

Here's the Fiddler SAZ file (ZIP formatted because SAZ is not supported).
Thank you!

[loop.zip](https://github.com/aspnet/AspNetKatana/files/2813839/loop.zip)

[2019-01-30 18:14] Tratcher commented on #262
The request to /signin-google returns `Location: /Account/RegisterExternalLogin?providerName=Google&returnUrl=&error=access_denied` That means the request from your server to the token endpoint failed, usually because your client secret is wrong. You can turn on System.Net.Http logs to see that backchannel request and confirm its details.

[2019-01-30 20:33] Tratcher commented on #262
Turn on System.Net.Http logs to see what happens on the backchannel.

[2019-01-30 22:19] Tratcher commented on #237
The symbols have been published to the Microsoft symbol server and are loading for me in my project. However, I get an error "Source information is missing from the debug information for this module" and can't see the sources. Did the PDBs need to be build differently?

[2019-01-30 22:37] Tratcher commented on #237
Ok, it looks like source stepping is a separate feature we'll have to revisit, likely using sourcelink and the nuget symbol server. For now the Microsoft Symbol Server will at least give you better stack traces and type inspection.

[2019-01-31 08:47] mavjt commented on #262
I am having the same issue after an upgrade to 401.  Here is my trace
[trace_owin.txt](https://github.com/aspnet/AspNetKatana/files/2816322/trace_owin.txt)

[2019-01-31 14:56] Tratcher commented on #262
`System.Net.Http Verbose: 0 : [14636] Entering HttpClient#9886408::SendAsync(HttpRequestMessage#21127028: Method: GET, RequestUri: 'https://www.googleapis.com/plus/v1/people/me', Version: 1.1, Content: <null>, Headers:`

I don't think you successfully installed 4.0.1. That's the url 4.0.0 uses. See https://github.com/aspnet/AspNetKatana/commit/110f17f4bf561f14f9010e8eff0712981150a282. Double check

[2019-01-31 16:59] Tratcher commented on #263
@pakrym are you aware of better instructions for this feature?

[2019-01-31 20:04] pakrym commented on #263
No, that's the only one I know of.

[2019-01-31 20:53] fxtrade commented on #262
Dear Tratcher,

I've unin stalled and reinstalled all owin packages, all packages with version 4.0.1, still the same behavior...

Please find attached 2 traces files during the login session: working.txt and notworking.txt
The first one is when Google+ API is activated in Google's console.
The second is when Google+ API is deactivated.

The same code is used in both case.

Thanks for your help.

[

[2019-01-31 21:43] fxtrade commented on #262
Tratcher,

After further investigation it seems there's a problem with "Assembly's manifest definition does not match assembly reference". Don't work on this for now, it seems the issue is in my setup.

[2019-02-01 01:20] WangFeng2333 commented on #263
Thanks for the help.
It works after I restart the laptop.

[2019-02-01 01:20] #263 closed

[2019-02-03 09:45] chucklu commented on #96
@Tratcher what did you mean by `static file middleware` ? how can I invoke it?

[2019-02-04 13:22] fxtrade commented on #262
Tratcher, you were right, it was a dll conflict issue. With 4.0.1, it works perfectly in ASP.NET MVC website.
Sorry for the confusion and thank you for your time.

[2019-02-04 13:22] #262 closed

[2019-02-04 20:43] Tratcher commented on #96
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2019-02-05 08:42] petsuter opened #266 "Microsoft.Owin.Hosting.Engine.HostingEngine's HostingTraceListener causes problems"
The `HostingTraceListener` in [Microsoft.Owin.Hosting.Engine.HostingEngine.EnableTracing](https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa29d80d89429c9988ab40144/src/Microsoft.Owin.Hosting/Engine/HostingEngine.cs#L287) causes weird problems. E.g. `Debug.Writeline` messages get duplicated, tripled and more.

Various [other people](https://stackoverflow.com/questions/48208332/owin-webap

[2019-02-05 21:04] Tratcher commented on #266
It's documented here: https://github.com/aspnet/AspNetKatana/wiki/OWIN-Keys

You can remove it if you don't need it.

[2019-02-06 06:28] NajeebMohammed opened #267 "Multiple Authentication middleware - last middleware always called ignoring previous ones."
I have an SSO scenario where user navigates between a sharepoint application and an MVC web app. A user can login to SharePoint application via AD FS (WSFed) using AD credentials or another set of users can login using accounts on an Azure AD tenant. Sharepoint does this pretty neatly.
I'm now looking to configure the MVC web app using OWIN middle layers to enable SSO to customers who are logged i

[2019-02-06 06:37] NajeebMohammed commented on #267
I have an SSO scenario where user navigates between a sharepoint application and an MVC web app. A user can login to SharePoint application via AD FS (WSFed) using AD credentials or another set of users can login using accounts on an Azure AD tenant. Sharepoint does this pretty neatly.
I'm now looking to configure the MVC web app using OWIN middle layers to enable SSO to customers who are logged i

[2019-02-06 11:52] #248 closed

[2019-02-06 12:06] olegmkr opened #268 "Index was outside the bounds of the array. - owinContext.Environment.Add(X,Y)"
Hi,

With bigger load as usual we get error:

Message":"Index was outside the bounds of the array.","Data":{},"StackTrace":"   at System.Collections.Generic.Dictionary`2.Insert(TKey key, TValue value, Boolean add)\r\n   at System.Collections.Generic.Dictionary`2.Add(TKey key, TValue value)\r\n   at Microsoft.Owin.Host.HttpListener.RequestProcessing.CallEnvironment.Add(String key, Object value)\r\n

[2019-02-06 13:26] Tratcher commented on #268
Do not multithread individual requests, it's not supported for exactly this reason.

[2019-02-06 13:29] Tratcher commented on #266
It's the first entry "host.TraceOutput". It's for app diagnostics. If you're not debugging then feel free to turn it off.

[2019-02-06 14:33] olegmkr commented on #268
We use DefaultHttpBatchHandler (https://books.google.lt/books?id=7aE8BAAAQBAJ&pg=PA187&lpg=PA187&dq=DefaultHttpBatchHandler+webapi&source=bl&ots=fwWaNUWsQH&sig=ACfU3U1H52fdI6b2UIJzV0t8uSAFmWyjxQ&hl=lt&sa=X&ved=2ahUKEwjZxvbxqKfgAhWJr6QKHSIKB0AQ6AEwB3oECAMQAQ#v=onepage&q=DefaultHttpBatchHandler%20webapi&f=false) for batch request - multipart/mixed. We want that every request has property which we ca

[2019-02-06 15:45] #268 closed

[2019-02-06 16:31] Tratcher commented on #267
Having more than one middleware with `AuthenticationMode = AuthenticationMode.Active,` has never worked well. Your choices are:
A) When you Authorize/Challenge you specify openidconnect or wsfed.
B) You make cookies the only active one and have that redirect to a login page where the user selects openidconnect or wsfed. This is how the Individual Auth template works with external providers.

[2019-02-11 15:49] togakangaroo commented on #76
So this is still causing issues. I'm trying to run versions that [have source symbols available](http://www.symbolsource.org/Public/Metadata/NuGet/Project/Microsoft.Owin.Security.OAuth) but doing so causes this error. I can upgrade to 4.whatever but I haven't the foggiest of clues where to find the symbols nor source for it.

[2019-02-11 16:41] Tratcher commented on #76
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

Note symbols nor sources are of much use for assembly load errors. Your packages.config is the primary place to check for mismatches. You want Microsoft.Owin 4.x and IdentityModel 5.x.

[2019-02-20 20:14] jaglick commented on #251
@Tratcher There still seems to be an issue with the implementation when requesting additional scopes. See my post at https://github.com/googleapis/google-api-dotnet-client/issues/1332#issuecomment-465735372.

[2019-02-22 10:02] kleinbiker opened #269 "Domain not set for nonce cookie"
When adding/deleting nonce cookies, the domain isn't being set. This causes a problem for our scenario with multiple sub-domains.

[2019-02-22 16:09] Tratcher commented on #269
What sort of problems? The nonce cookies use unique names to avoid collisions.

[2019-02-22 16:34] kleinbiker commented on #269
Sorry, my mistake, this isn't an issue.

[2019-02-22 21:27] alamfsmb commented on #261
Thank you for your quick response. We just tried removing KentorOwinCookieSaver but the redirect loop still happens occasionally so we had to keep the Delete Expired cookie hack.

Before our latest changes with removing Kentor, we were updating the cookie post login with an updated identity having additional claims via `HttpContext.GetOwinContext().Authentication.SignIn(identity);` but then I real

[2019-02-22 22:22] jeremeguenther commented on #74
Has anyone found a fix for this issue?
I am not aware of any Owin upgrades I have done recently, I am using version 3.1.0.0, which has been running fine for quite awhile.  Now all of a sudden my logs are getting filled with this odd HTTP headers error.

It's always thrown at the application level, two identical errors are always thrown one after the other, and it is always at the root of the site,

[2019-02-22 22:45] Tratcher commented on #74
See https://github.com/aspnet/AspNetKatana/issues/74#issuecomment-370000081

[2019-02-22 22:54] Tratcher commented on #261
Did you try the mitigation recommended in the docs? https://github.com/aspnet/AspNetKatana/wiki/System.Web-response-cookie-integration-issues

[2019-02-22 22:57] alamfsmb commented on #261
Yes, we went with using "Reconfigure the CookieAuthenticationMiddleware to write directly to System.Web's cookie collection." by using SystemWebChunkingCookieManager (which seems to be the same as SystemWebCookieManager with Chunking functionality

[2019-02-22 22:59] Tratcher commented on #261
Ok, it wasn't in your code above. Also, what's wrong with your CookieAuthenticationProvider code? That doesn't look like it would compile.

[2019-02-22 23:02] alamfsmb commented on #261
Sorry, I took out some code in the provider and made it partially pseudocode. The CookieAuthenticationProvider for the other apps just redirects to the mainApp's signIn action which calls the HttpContext.GetOwinContext().Authentication.Challenge()

[2019-02-22 23:08] jeremeguenther commented on #74
I read the thread already, that is why I posted here.  We all know the issue exists, which is what comment 74 confirms.  What I asked is if there was a work around to fix it until the code base has been fixed.

Like others here this is filling up my error logs and has wasted a lot man hours reviewing logs for what seems to be a known bug.  But it is not a consistent bug for everyone, which means t

[2019-02-23 11:55] kleinbiker commented on #269
This may be an uncommon scenario and we are working around it. I just wanted to clarify why we would have preferred having the domain set on the nonce cookie.

Our domain structure:
accounts.mydomain.com
content1.mydomain.com
content2.mydomain.com....

accounts site handles all user/auth management.

In CookieAuthenticationOptions:
CookieDomain=mydomain.com
In OpenIdConnectAuthenticationOptions
Re

[2019-02-23 15:15] Tratcher commented on #269
You could wrap the ICookieManager to add the domain.
https://github.com/aspnet/AspNetKatana/blob/58d945af6c40ac5d50b6a722efb52016cabdf572/src/Microsoft.Owin.Security.OpenIdConnect/OpenIdConnectAuthenticationOptions.cs#L296

[2019-02-24 01:12] kleinbiker commented on #269
Thanks, that's cleaner and also takes care of the cookie deletion on the post back to idprovidercallback.aspx. Have switched to that.

[2019-02-24 01:12] #269 closed

[2019-02-24 11:57] kleinbiker opened #270 "id_token not supplied on logout"
On logout we get an error from our idprovider that id_token wasn't supplied.

Looking through the Katana sources, I don't see the IdToken/IdTokenHint getting set anywhere in the code.

In the AspNet Core sources, I see the following in SignOutAsync:
// Attach the identity token to the logout request when possible.
            message.IdTokenHint = await Context.GetTokenAsync(Options.SignOutScheme,

[2019-02-25 20:26] Tratcher commented on #270
Yes, that's a good solution.

[2019-02-26 05:29] phaselden commented on #74
It might not be ideal, but until this is addressed we prevent these getting into our logs we capture and ignore them in the application-level error handler. e.g.:

`	Exception exc = Server.GetLastError();
	if (exc.GetType() == typeof(HttpException) && exc.Message.Contains("Server cannot append header after HTTP headers have been sent"))
	{
		Server.ClearError();
	}`

[2019-02-26 15:08] jeremeguenther commented on #74
That is similar to the approach I am taking, I am setting a unique flag on this type of error so I can ignore it.  It is not a good solution though because that Message could very well be a valid error message for the site if I were to mess up and try and set headers somewhere in code after the response has already been sent.

[2019-02-26 20:59] kamranbashir opened #274 "HTTP Error 401.0 - open id connect nonce cookie not being set"
This is intermittent issue coming on windows azure web app. When we restart web app and recycle app pool.
we get
**HTTP Error 401.0 - Unauthorised
You do not have permission to view this directory or page.**

in case of 401 we are not redirecting to IDP/ODIC login page (which is b2c login page in my case)

Some sample code here:
[code]

[2019-02-26 23:18] Tratcher commented on #274
How does the 401 relate to the nonce cookie? Do you just mean that you specified a 401 in the application and the expected middleware did not take over, set a 302, and add a nonce cookie?

[2019-02-27 11:00] kamranbashir commented on #274
yes. middleware did not take over, set a 302, and add a nonce cookie

[2019-02-27 16:18] Tratcher commented on #274
My first suspicion would be your custom routing `context => (HttpContext.Current.Request.Url.BaseURL() == record.Key)` I'd start by using an OrdinalIgnoreCase comparison. Also adding a log after all of your MapWhen's to make sure no requests fall through.

[2019-02-27 16:35] kamranbashir commented on #274
Issue has been fixed. For a given url we were requesting b2c config data from API and some silly stuff was going there causing blockage. It is too long story i will end here.

Thank you Tratcher

[2019-02-27 16:36] #274 closed

[2019-03-02 01:31] kleinbiker commented on #270
Got it, thanks.

[2019-03-02 01:31] #270 closed

[2019-03-07 16:38] lukeeey commented on #48
What is the uaid?

[2019-03-10 06:10] alt22247 commented on #212
@Tratcher I am having the exact error after upgrading from 3.1 to 4.0.1. This only happens with the old Live SDK applications. The new Converged applications work fine.

The new converged applications work if i do not explicitly specify the scope but the old Live SDK applications keeps giving me access denied with or without explicit scope specified.

Can you test this with a Live SDK applications

[2019-03-11 16:08] faceoffers28 opened #275 "How to handle Owin Facebook and Twitter Cancel in Web API using 4.0.1.0 version of packages"
I am using Owin in both my MVC 5 Web App and Web API 2. A Cancel seems to be handled correctly in my MVC Web App. The same can not be said for my Web API. When I Cancel a Twitter and Facebook login, I am presented with a dialogue box and an option to Return. Here are the resulting URL options.

TWITTER
https://api.domain.com/signin-twitter?denied=

FACEBOOK
https://api.domain.com/signin-facebook?e

[2019-03-11 17:20] faceoffers28 commented on #275
I'm not sure if this is the correct way to handle this, but here is what I did.

I added string redirect_uri to my GetExternalLogin method.

[code]
This will redirect the user back to the redirect_uri and adds the #error hash.

[2019-03-13 06:38] gjdownes opened #276 "Connecting a logger to OAuthAuthorizationServerHandler"
I'm trying to debug `invalid_grant` errors I'm receiving in production, most of which appear to originate from the `OAuthAuthorizationServerHandler` class.

I'm just curious how do I connect the logger to my application logger. Would it be as simple as follows?

    app.SetLoggerFactory(ILoggerFactory);

I'm looking to troubleshoot log output like the following:

    _logger.WriteError("expired re

[2019-03-14 16:29] audacity76 commented on #148
I have the same issue using simple cookie authentication. My Website runs inside an IFrame which is used by different websites (domains). Each website starts my website (=IFrame address) on a different address with a token. With that token I read the user information from the calling website. The information is used to fill the user claims and sign the user in. And once in a while a user gets the

[2019-03-16 16:11] Tratcher commented on #275
OnRemoteFailure is an AspNetCore API, it's not available here. That's not a bad workaround.

[2019-03-19 09:48] audacity76 commented on #148
@Tratcher Do you have any idea on this?

[2019-03-19 22:39] Tratcher commented on #276
See https://github.com/aspnet/AspNetKatana/wiki/Debugging#logging for the standard logging system.

[2019-03-19 23:23] Tratcher commented on #148
How do you verify that?

[2019-03-20 07:41] audacity76 commented on #148
Users send me screenshots of my welcome screen showing the wrong identity...

[2019-03-20 08:27] coronag opened #277 "[Facebook] api version used 2.8 won't be supported after April 18, 2019"
https://developers.facebook.com/docs/graph-api/changelog
=> v2.8 is available until April 18, 2019 and is still used as the default one here:
https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Security.Facebook/Constants.cs

[2019-03-20 10:21] jinek opened #278 "DefaultLoader.SearchForStartupAttribute get all assembly attribute instances during initialization"
Method DefaultLoader.SearchForStartupAttribute executes
`customAttributes = referencedAssembly.GetCustomAttributes(false);`
Which means instantiating of all assembly attributes (that is not necessary and can bring problems)
Can be replaced by
`customAttributes = referencedAssembly.GetCustomAttributes<OwinStartupAttribute>(false);`
or similar.

[2019-03-20 14:55] #275 closed

[2019-03-20 15:10] Tratcher commented on #277
It will auto roll forward to 2.9 and there's no indication of any breaking changes. You can confirm by updating the endpoints directly:
https://github.com/aspnet/AspNetKatana/blob/58d945af6c40ac5d50b6a722efb52016cabdf572/src/Microsoft.Owin.Security.Facebook/FacebookAuthenticationOptions.cs#L36-L38

[2019-03-20 15:15] Tratcher commented on #148
This is the kind of contamination you can get when you have a cache shared across users, either in memory on on a caching reverse proxy. There's nothing like that in the system by default.

[2019-03-20 19:23] Tratcher commented on #278
This one? https://docs.microsoft.com/en-us/dotnet/api/system.reflection.customattributeextensions.getcustomattributes?view=netframework-4.7.2#System_Reflection_CustomAttributeExtensions_GetCustomAttributes__1_System_Reflection_Assembly_

[2019-03-20 20:18] audacity76 commented on #148
Thank you, I'll search in this direction.

[2019-03-20 22:12] jinek commented on #278
Yes, or this https://docs.microsoft.com/en-us/dotnet/api/system.reflection.customattributeextensions.getcustomattributes?view=netframework-4.7.2#System_Reflection_CustomAttributeExtensions_GetCustomAttributes_System_Reflection_Assembly_System_Type_

If will be planned, let me do?

[2019-03-20 22:14] Tratcher commented on #278
Feel free to send a PR.

[2019-03-20 22:42] jinek commented on #278
I see you did it for some reason 6 years ago, you also introduced
Owin.Loader.Tests.OwinStartupAttribute with a comment // Alternate definition, used to confirm that there is not a direct type dependency.
But I can't find the reason, do we still want to be independent from type *Microsoft.Owin.OwinStartupAttribute* ?
Because logic here seems strange for me: if I introduced my own attribute with na

[2019-03-20 22:53] Tratcher commented on #278
I'd forgotten about that. Yes it was intentionally type decoupled but I don't remember the reasoning. Best not to break that at this point though.

What was your issue with loading the attributes?

[2019-03-20 22:58] jinek commented on #278
That is fine, this still can be used: https://docs.microsoft.com/en-us/dotnet/api/System.Reflection.Assembly.GetCustomAttributesData?view=netframework-4.5
It should not break anything and won't instantiate all attributes.

My issue was that one assembly happened to be in bin folder does not have all dependencies, some of them were referenced in assembly level attributes. Thus trying to instantiate

[2019-03-26 01:22] thiruvenkadame opened #281 "OAuth2.0 integration with Xamarin"
OAuth2.0 integration with Xamarin

1. We build our own "OWIN OAuth 2.0 Authorization Server" using "Microsoft.AspNet.Identity.Owin" and "Microsoft.Owin" framework. Ref: https://docs.microsoft.com/en-us/aspnet/aspnet/overview/owin-and-katana/owin-oauth-20-authorization-server

2. We can be able to send a request to our custom OAuth2.0 server and get OAuth2.0 access token from web applications by us

[2019-03-26 16:23] Tratcher commented on #281
You're going to need more detail to debug that. Start by capturing and sharing a trace of the HTTP requests using a tool like Fiddler.

[2019-03-28 17:40] Tratcher commented on #212
Is there some reason you're still using Live SDK applications? I was under the impression they were obsolete.

[2019-03-30 01:00] dlwennblom opened #282 "Unable to login to my azure website using Facebook external login via Microsoft.owin.security.facebook oauth library"
It works when I use debug mode on my local machine.  However, when I publish the site to [https://seekerworksnet.azurewebsites.net](https://seekerworksnet.azurewebsites.net), go to the login page, click the (Continue with Facebook) button, all I see is "#=" appended to the address line.  I am able to login using Google, Twitter and Microsoft external logins, however.  I don't know what to do to re

[2019-03-30 01:24] Tratcher commented on #282
Please capture and share a Fiddler trace file. App logs may also be useful. https://github.com/aspnet/AspNetKatana/wiki/Debugging#logging

[2019-03-30 01:28] dlwennblom commented on #282
How can I use fiddler with an Azure web app?  I’m not running a virtual machine.

Thanks.

Daniel Wennblom

 <mailto:daniel.wennblom@seekerworks.com> daniel.wennblom@seekerworks.com

Tel: 763.262.0333

Cell: 763.367.0302

MCSD: Microsoft Certified Solutions Developer

From: Chris Ross <notifications@github.com>
Sent: Friday, March 29, 2019 8:24 PM
To: aspnet/AspNetKatana <AspNetKatana@noreply.gith

[2019-03-30 01:30] Tratcher commented on #282
You use it on the client, not the server. Make sure you enable HTTPS decryption.

[2019-03-30 02:06] dlwennblom commented on #282
Sorry- it’s been a few years since I used it last.  Did I attach the right file?

Thanks.

Daniel Wennblom

 <mailto:daniel.wennblom@seekerworks.com> daniel.wennblom@seekerworks.com

Tel: 763.262.0333

Cell: 763.367.0302

MCSD: Microsoft Certified Solutions Developer

From: Chris Ross <notifications@github.com>
Sent: Friday, March 29, 2019 8:31 PM
To: aspnet/AspNetKatana <AspNetKatana@noreply.gith

[2019-03-30 02:16] Tratcher commented on #282
No, I don't think you can do github attachments via e-mail.

[2019-03-30 02:24] dlwennblom commented on #282
[Facebook login.zip](https://github.com/aspnet/AspNetKatana/files/3025039/Facebook.login.zip)
Is this better?

[2019-03-30 02:33] Tratcher commented on #282
Better. Everything on the client looks fine, it comes back to /signin-facebook with the expected parameters. However it looks like the backchannel call between your server and facebook fails with a generic `error=access_denied`. That's trickier to debug.

Out of curiosity does it work if you remove these lines?
[code]

Also, double check the value of UseFacebookAuthenticationappSecret, that's only

[2019-03-30 02:45] dlwennblom commented on #282
I added the lines above because I got a notice from Facebook:

Your App, SeekerWorksNET (localhost), is currently accessing Graph API v2.8 which will reach the end of its 2-year lifetime on 18 April, 2019. We estimate 1 endpoint that SeekerWorksNET (localhost) calls will be impacted by this change and may stop working after the automatic upgrade push. To ensure a smooth transition, please migrate

[2019-03-30 02:48] #282 closed

[2019-04-01 14:04] thiruvenkadame commented on #281
We resolved the issue by using this redirect_uri pattern oauth2redirect:/com.company.package/

[2019-04-01 14:04] #281 closed

[2019-04-12 06:10] LFDCC opened #283 "oauth2 How do I customize the message structure"
I tried oauth2 and found that the returned structure is {"error":" message"}. If I want to return the custom structure {"result":"000000"}, how can I do it?

I tried this method context.response.write ("{\"result\": "000000\"}"), but the default result will be appended, and it will be {"result":"000000"}{"error":" message"}

[2019-04-12 14:47] Tratcher commented on #283
You're going to need to be more specific about which component and endpoint you're using.

[2019-04-16 08:12] mengms opened #284 "How it ConfigureAuth(app) comes from in Startup.cs?"
How it ConfigureAuth(app) comes from in Startup.cs?

[2019-04-16 14:37] Tratcher commented on #284
I don't understand, can you rephrase the question?

[2019-04-17 08:19] polterguy opened #285 "Manually validate token"
Sorry, but I am bewildered within all the _"automagic middleware"_ in regards to a legacy project I am currently maintaining, and I could really need some help. My reasons is that I am using _two distinctly different authentication mechanisms_: One doing ActiveDirectory/SSO authentication for employees where I work, and another using a (legacy) authentication website, which again uses Katana. Henc

[2019-04-17 15:13] Tratcher commented on #285
Most of the components should be available for you to call directly, but there are several layers you'll need to assemble.

Setting up the DataProtection/MachineKey is a good place to start. Are you running in IIS or in your own application (self-hosted)? For IIS the key sharing is configured in the Web.Config file.
https://stackoverflow.com/a/3855874/2588374

[2019-04-17 16:06] lluismontero opened #286 "Customize 401 Unauthorized error message"
Hi,

Is there any way to customize the message returned when there is a 401 Unauthorized error? We want to provide more information about the error to our API consumers.

The message we are getting on any bearer token validation error is:
`{"message": "Authorization has been denied for this request."}`

We are using the OAuth bearer authentication and have implemented our "OAuthBearerAuthenticatio

[2019-04-17 16:15] Tratcher commented on #286
No, not in the current design.

[2019-04-17 16:16] lluismontero commented on #286
Could you point us to where this error message is generated so we can look to find any way to accomplish that? We haven't been able to find it.

[2019-04-17 16:53] polterguy commented on #285
I actually solved this, by simply completely bypassing it, since the OWIN endpoint will only return 200 status code if it successfully authenticates the user, at which point I (from the server) have everything I need to create a _"traditional"_ JWT token myself, using the same logic as I use for AD accounts ...

Hence, I don't need to validate the token, and can simply create my own JWT token, com

[2019-04-17 16:53] #285 closed

[2019-04-17 17:32] Tratcher commented on #286
Found it at the MVC/WebApi layer:
https://github.com/aspnet/AspNetWebStack/blob/749384689e027a2fcd29eb79a9137b94cea611a8/src/System.Web.Http/Properties/SRResources.resx#L385
https://github.com/aspnet/AspNetWebStack/blob/749384689e027a2fcd29eb79a9137b94cea611a8/src/System.Web.Http/AuthorizeAttribute.cs#L145-L156

[2019-04-23 12:35] #286 closed

[2019-05-02 10:17] jordyvaneijk opened #287 "Is Microsoft.Owin.Security.OpenIdConnect 4.0.1.0 compatible with Microsoft.IdentityModel.Protocols.OpenIdConnect 5.4.0.0"
I keep getting the following exception over and over again after updating my asp.net (WebForms) "Website" not  "WebProject"

this is comming from my Startup.cs

here is the full Assembly load trace:

LOG: DisplayName = Microsoft.IdentityModel.Protocols.OpenIdConnect, Version=5.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
 (Fully-specified)
LOG: Appbase = file:///C:/Users/Jordy van Eijk/

[2019-05-02 14:42] EdSF commented on #168
A key item in the above is that it is **necessary** do this if your application offloads SSL (to SSL concentrator/load balancer, etc) as stated in the [SO answer](https://stackoverflow.com/a/48794939/304683)

- The traffic between end user to your site is SSL (hits SSL concentrator/load balancer)
- The traffic between SSL concentrator/lb and your application is `http`
- therefore your application'

[2019-05-02 16:02] Tratcher commented on #287
https://www.nuget.org/packages/Microsoft.Owin.Security.OpenIdConnect/4.0.1 depends on Microsoft.IdentityModel.Protocols.OpenIdConnect (>= 5.3.0).

You should be able to use it with IdentityModel 5.4 but you'll have to ensure your application has binding redirects from 5.3 to 5.4. Also, ensure you update all of the identity model packages to the same version.

Microsoft.IdentityModel.Logging (>= 5.

[2019-05-02 19:49] rcorfman commented on #74
So is there a way to work with this? Yes I've read #74 comment and that does seem to match my experience. But for my app, this does affect clients as certain claims that were just created are no longer in the identity. The current work around is for users to log off and sign back in, or to just have a coffee and try again later. But that seems to be temporary since this may occur again a short tim

[2019-05-02 20:40] Tratcher commented on #74
@rcorfman in the repro above (https://github.com/aspnet/AspNetKatana/issues/74#issuecomment-362428094) the client gets the response from /default.aspx, but not the from the duplicate request to /. Are you producing different results on the first and second request? Or do you have a different repro?

[2019-05-02 21:32] rcorfman commented on #74
@Tratcher thanks for the quick reply. I catch the exception in Global.Application_Error and at that point the raw URL seems to always be "/". Beyond that, I don't know. I haven't been able to reproduce this, I just see the results in my web app's log files. When a user signs in or gets authenticated through a cookie, the app retrieves some user information from a third party web service which is t

[2019-05-02 21:44] Tratcher commented on #74
In this scenario that should be happening twice, and the user should be getting the results from the first one. I'd only expect a user facing problem if the claims were different from the second request.

[2019-05-03 04:02] rcorfman commented on #74
@Tratcher It only happens once though that's probably because I never moved it out of Global.Session_Start. I glanced at moving it to ApplicationUser.GenerateUserIdentity, but I don't yet understand the flow for when/how it is called.

[2019-05-09 15:05] alexliard opened #288 "Problem with State received URLEncoded"
We are using Microsoft.Owin.Security.OpenIdConnect.OpenidConnectAuthenticationHandle in order to do OpenID Authentication into our application.
One of our client is using Siteminder as their OpenId platform. When Siteminder redirects to our application the POST request contains the state URLEncoded. This cause the library to fail with an error saying that the state is missing or invalid. This is c

[2019-05-09 15:13] Tratcher commented on #288
Can you show the whole state field in the OIDC message / form POST for context? Is it like this?
`state=OpenIdConnect.AuthenticationProperties%3FSomeBase64Blob`
That state is created here:
https://github.com/aspnet/AspNetKatana/blob/0f6dc4bf2722fb08759da3eacaf38f2a098771bd/src/Microsoft.Owin.Security.OpenIdConnect/OpenidConnectAuthenticationHandler.cs#L151
And read here:
https://github.com/aspnet/

[2019-05-10 03:11] shenzhigang commented on #88
I had the same problem. It seems that OWIN do not catch `TaskCanceledException `  when  a `/token` request was canceled by client. It will cause `An unhandled exception`.

[2019-05-13 06:31] IanKemp opened #289 "Wiki links still point to Codeplex which is dead"
E.g. https://github.com/aspnet/AspNetKatana/wiki and https://github.com/aspnet/AspNetKatana/wiki/Hello-World link to long-dead http://aspnet.codeplex.com/ - not sure if these should rather go to https://github.com/aspnet/AspNetCore

[2019-05-13 06:36] IanKemp opened #290 "OWIN.org does not default to SSL, and certificate is invalid"
Cert for https://owin.org is issued to *.github.com.

[2019-05-13 13:10] Tratcher commented on #290
That site is not run by us. You can contact them here: https://github.com/owin

[2019-05-13 13:10] #290 closed

[2019-05-13 13:20] Tratcher commented on #289
Updated. Let me know if you find any others.

[2019-05-13 13:20] #289 closed

[2019-05-16 19:38] Peperud opened #291 "Requests hang in PreExecuteRequestHandler pipeline stage in Microsoft.Owin.Host.SystemWeb"
OpenIdConnect and WebAPI2 in a large, mostly ASP.NET web forms application.
What we see is that sometimes a request would get stuck in ```PreExecuteRequestHandler``` pipeline state (and the module would be ```__DynamicModule_Microsoft.Owin.Host.SystemWeb.OwinHttpModule```). It can stay there for a long time. Eventually it is released and an unhandled exception is logged in the event logs (pasted h

[2019-05-16 20:42] Tratcher commented on #291
This is happening on the `/signin-oidc` request? That's weird, nothing complex would be happening on that code path.

[2019-05-16 21:24] Peperud commented on #291
No. I see it on WebAPI2 & ASPX requests. The kind that the ```OpenIdConnecAuthenticationtHandler``` should do nothing about.
I'm getting the impression that it hangs here https://github.com/c4net/katanaproject/blob/df66bf44ffc4b5de0ec9a837f4a470614a9c68bf/src/Microsoft.Owin/OwinRequest.cs#L351
I believe, before that, the ```OpenIdConnecAuthenticationtHandler``` has replaced the request.Body stream

[2019-05-16 21:31] Tratcher commented on #291
Why is OIDC running on other requests? What did you set CallbackPath and RedirectUri to? OIDC should be used with an exclusive request path such as `/signin-oidc` to avoid interfering with other requests.

[2019-05-16 22:28] Peperud commented on #291
Thanks for the response. This is a good question!
It is a big monolithic legacy application. Mostly ASPX web forms, but also ASMX web services, and WebAPI2. It supports its own legacy way of authentication (and SAML) too. The OpenIdConnect authentication is manually triggered from a dedicated aspx page. Basically - if the user wants to login as before - he'll start by going to "LoginLegacy.aspx" a

[2019-05-16 22:34] Tratcher commented on #291
? But otherwise, even if OpenIdConnecAuthenticationtHandler is getting more traffic then it should, it shouldn't hang, right?

No, it shouldn't, but making it ignore other requests is likely easier and more beneficial in the long term than trying to debug this specific hang.

[2019-05-17 15:05] glaydersen opened #292 "Customizing Authorization header"
Hi,
Is there a way to customize the "Authorization" header key?
We are moving our app to a server that is behind a Basic authentication, so I have to send "Authorization: Basic XXX" in the header.
We are thinking about changing our "Authorization: Bearer XXX" to something like "X-Authorization: Bearer X" so it won't conflict with the firewall basic authentication.

Any help is welcome!
Thanks!

[2019-05-17 18:05] Tratcher commented on #292
You want every request to be authenticated using Basic and Bearer? That seems redundant.

There is an event that lets you override the header:
https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa29d80d89429c9988ab40144/src/Microsoft.Owin.Security.OAuth/OAuthBearerAuthenticationHandler.cs#L37-L42

[2019-05-17 18:52] Peperud commented on #291
Setting the CallbackPath is problematic in the way things are done on our end.
We have the apps installed on urls like this:
[code]
So I have to set the CallbackPath to ```/client1related/signin-oidc``` etc. In general that's ok, I can put ```client1related``` as a setting in web.config.

...Except that we have cases where on the same IIS server, we host many clients (urls like the above), all poi

[2019-05-17 20:08] glaydersen commented on #292
@Tratcher Our API uses oAuth only. The problem is that we need to add the basic authentication to pass our firewall.
I will check your example. Thanks.

[2019-05-17 20:33] Tratcher commented on #291
Unfortunately not.

You can do a middleware that splices off the client specific prefix (client1related) from Path and puts it in PathBase.
https://github.com/aspnet/AspNetKatana/blob/0f6dc4bf2722fb08759da3eacaf38f2a098771bd/src/Microsoft.Owin/OwinRequest.cs#L104-L114
The auth middleware only checks Path.
https://github.com/aspnet/AspNetCore/blob/b670246e3de4b7f39b3996e03c48c06e0da05b0b/src/Securi

[2019-05-20 19:47] Peperud commented on #291
Thanks for the suggestion!
There appears to be more to it. The prefix is already in ```PathBase```. However, when the ```CallbackPath``` is set to ```/signin-oidc``` (and the oidc server is posting to ```/client1related/signin-oidc```), it doesn't get handled and ends up with a 404.

Nonetheless, if in a piece of middleware before the OIDC handler I null ```PathBase```, it seems to work. So this m

[2019-05-20 19:54] Tratcher commented on #291
PathBase is used for scoping, it identifies the root of your site or some sub section of it. Path is relative to PathBase and is what most requests actually check. You want to keep track of both in most cases so that if you need to generate links you have all of the pieces (scheme + host + pathBase + path..). That said, if clearing PathBase works for your scenarios then go ahead.

[2019-05-22 18:48] Peperud commented on #291
Thanks. I'll do something like that for the next version.

If you don't mine (and because it is driving me crazy) - presumably the ```StreamReader``` can hang here if the underlying stream is say a ```NetworkStream``` (because the stream might never indicate an end)  https://github.com/aspnet/AspNetKatana/blob/0f6dc4bf2722fb08759da3eacaf38f2a098771bd/src/Microsoft.Owin/OwinRequest.cs#L352
But ```M

[2019-05-22 18:55] Tratcher commented on #291
Only to a point. The server will close the connection if data is not received at a minimal rate.

"endless"? No. The MemoryStream would never be endless by the time the application received it. It could be large, but not endless.

[2019-05-22 19:04] Peperud commented on #291
Right. And I think that we might be seeing exactly this.

That's my point - if somehow the stream that ends up there is "seekable" (so it is **not** replaced with a ```MemoryStream```), yet fits the above condition to have the ```StreamReader.ReadToEndAsync()``` hang (until the connection is closed).

[2019-05-23 19:20] Peperud commented on #291
[code]
https://github.com/aspnet/AspNetKatana/blob/0f6dc4bf2722fb08759da3eacaf38f2a098771bd/src/Microsoft.Owin.Security.OpenIdConnect/OpenidConnectAuthenticationHandler.cs#L195-L211

I can't quite put it together how the oidc handler, on a `POST` `application/x-www-form-urlencoded` request would end up calling `ReadFormAsync` on an `System.Web.HttpBufferlessInputStream` stream, which is not seek-a

[2019-05-30 10:13] santhoshbomma9 opened #293 "Identity(claims) property for External User"
Identity property in Microsoft.Owin.Security.AuthenticationTicket class doesn’t contain the UPN claim for External users in the Azure AD B2C but for internal users it’s fine. Is this expected behaviour?

[2019-05-31 02:34] Tratcher commented on #293
There's nothing in this repo that targets Azure AD B2C. What components are you using?

[2019-05-31 03:20] santhoshbomma9 commented on #293
Hi Chris,
Thanks for your reply. Let me explain a bit more clearer.
We have an ASP.NET application which is listed in Azure AD app registrations. Azure AD contains both directory users (eg: internaluser@azuredomain.onmicrosoft.com) and also External users(like external@gmail.com).
We have UseOpenIdConnectAuthentication in our Startup.Auth.cs. On AuthorizationCodeReceived we read the context.Authen

[2019-05-31 04:21] Tratcher commented on #293
UseOpenIdConnectAuthentication wouldn't be treating them any differently, it has no awareness of the internals of B2C. This is a question you should ask B2C about.

[2019-05-31 04:46] santhoshbomma9 commented on #293
Sure thanks Chris!
Could you please help me point in the right direction? Do we have B2C on git hub?

[2019-05-31 13:47] Tratcher commented on #293
Try https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=WindowsAzureAD&brandIgnore=True&sort=relevancedesc&searchTerm=

[2019-05-31 13:47] #293 closed

[2019-06-16 12:39] SeminDM opened #294 "How to configure multiple WS-Federation endpoints with single callback(Wreply)?"
I want to configure ADFS endpoints in my asp.net app at runtime with further app restart (for pipeline construction). There is a problem: if I declare **single callback method** for multiple endpoints then I have exception:

_Microsoft.IdentityModel.Tokens.SecurityTokenSignatureKeyNotFoundException: IDX10501: Signature validation failed. Unable to match keys:
kid: '[PII is hidden]',
token: '[PII i

[2019-06-17 16:06] Tratcher commented on #294
Multiple instances on the same callback path is not possible with the current implementation. In the AspNetCore version of this component there's a new SkipUnrecognizedRequests option that supports this, but using unique callback paths is always better.

[2019-06-17 16:08] Tratcher commented on #294
Wait, web.config? That's not required. Set WsFederationAuthenticationOptions.CallbackPath to unique values.

[2019-06-18 08:06] SeminDM commented on #294
@Tratcher thank you for answer!
If I'll set WsFederationAuthenticationOptions.CallbackPath to unique value then I should create unique callback for each endpoint as well?

[2019-06-18 14:59] Tratcher commented on #294
No, CallbackPath refers to a path handled directly by the auth handler, you don't implement that elsewhere in the app.

[2019-06-18 23:24] jeremeguenther commented on #74
I have gotten to the point where I can consistently recreate this issue, this is what I have found.

This occurs when a user selects the "remember me" checkbox which causes a persistent cookie to be written to their machine.  If they then do not log out of the site for over half of the timespan of the owin cookie expiration window set in Startup ( which is when Owin checks for and attempts to refr

[2019-06-18 23:34] Tratcher commented on #74
@jeremeguenther why is the app being redirected? You said the cookie is still valid but is being updated due to the sliding expiration.  It's also not clear how the persistent cookie would effect this, the sliding cookie expiration time is embedded in the cookie value.

[2019-06-19 19:14] jeremeguenther commented on #74
@Tratcher you are right, it is happening where the redirect to /login.aspx would normally occur if the user were logged out.  But since the user simply needs their persistent cookie updated an error is thrown instead.

[2019-06-19 23:10] jeremeguenther commented on #74
It looks like Owin has two bugs in it:

ChunkingCookieManager.cs method AppendResponseCookie has the error this thread was started for where it tries to modify headers without checking to see if it can first.  You can get around this error by creating a custom CookieManager : ICookieManager and wrap the ChunkingCookieManager.

But then you come up against the second bug CookieAuthenticationHandler

[2019-06-19 23:18] Tratcher commented on #74
@jeremeguenther in every case that we've seen this bug, the request is actually a duplicate child request and the response generated (or error) does not surface to the client. That's why the headers are in an unexpected state.

Does anything in your repro indicate otherwise?

[2019-06-19 23:34] jeremeguenther commented on #74
Yes, I agree with that statement, this is a duplicate request that the client never sees.  And according to the IIS documentation this parent/child request is the expected design.

What I am failing to understand is why Microsoft has intentionally designed software that throws generic, uncaught exceptions in standard code.  As near as I can tell from my testing this must be affecting all web serve

[2019-06-20 03:20] jeremeguenther commented on #74
For those in this thread still looking for a solution.  I took @phaselden 's method of handling things and took it a bit further by wrapping the exception to uniquely identify this specific known exception better.  I detailed my findings and the work around I ended up [going with here](https://jeremeguenther.blogspot.com/2019/06/microsoft-owin-http-append-header-bug.html).

[2019-06-20 06:09] Tratcher commented on #74
@jeremeguenther nice investigation and writeup. The fundamental issue here is not the exception but the double request execution. If it were possible to detect the duplicate request in a middleware at the start of the pipeline you could short circuit the entire pipeline and the rest of the middleware wouldn't have to worry about it.

In my testing the child request is the more specific one (/defau

[2019-06-20 08:27] SeminDM commented on #294
@Tratcher I've set CallbackPath and all ADFS endpoints work correctly. But I'm a little confused about this.
New code:

[code]

1. Why did you say: "Multiple instances on the same callback path is not possible with the current implementation"? Multiple ADFS instances have the same callback and work correctly now.
2. I set both Wreply and CallbackPath the same value (despite host address). Why is n

[2019-06-20 14:13] jeremeguenther commented on #74
It looks as though [headers get shared.](https://stackoverflow.com/questions/3917586/how-can-i-detect-a-child-request)  You could set a header and check for its existence/value in the parent code, although I admit that feels like a pretty poor solution as it is more data being sent to the client.  But since the middleware itself is generating cookies in this case, maybe there is one of those you c

[2019-06-20 15:25] Tratcher commented on #74
Clever, I'd tried response headers, server variables, and Items but those aren't shared.

This works fine to prevent the pipeline from running on parent requests.
[code]

Problem: It works too well. Some requests don't have child requests and we need to allow the pipeline to run for those.

Worst case we could insert a marker like this to prevent ApplyResponseAsync from running twice.
`at Microsof

[2019-06-20 16:01] jeremeguenther commented on #74
What if you added an additional constraint on there.
Request.Uri.AbsolutePath == "/"

So far this has only been an issue at root correct?  And root requests will always have the parent/child requests unless it is not in integrated mode.  A flag, or configuration could be provided to allow developers to specify if they are not running in integrated mode.

[2019-06-26 15:42] #278 closed

[2019-07-01 16:04] Tratcher commented on #294
You're using channelName to make the paths unique.

That's not needed. CallbackPath is "An optional constrained path on which to process the authentication callback. Computed from Wreply if not provided."
https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Security.WsFederation/WsFederationAuthenticationOptions.cs#L195

That's not correct. AuthenticationProperties.RedirectUri gives

[2019-07-01 16:08] Tratcher commented on #74
That's too fragile for framework code. Any call to TransferRequest would trigger the same issue. You're welcome to apply it yourself.

What do you mean by later in the pipeline? At what point would you expect that check to work?

[2019-07-01 16:59] jeremeguenther commented on #74
The - later in the pipeline - option would only work if the request headers are shared between the two requests.  In other words, if the child request modifications can be seen by the parent request.  In which case the header could be set in the Configuration method, but the parent would then have to check the request headers at some point after control was returned back to the parent.

That would

[2019-07-02 18:01] Peperud opened #296 "Q: What is the proper way to check if the client disconnected in OWIN/Katana?"
There is `Request.IsClientDisconnected` for `HttpContext` pages. What is the best way to do the same in OWIN/Katana?

Seems like a request cancelling middleware could be a decent choice to deal with https://github.com/aspnet/AspNetWebStack/issues/249

[2019-07-02 18:20] Tratcher commented on #296
Check `IOwinRequest.CallCancelled.IsCancellationRequested`
https://github.com/aspnet/AspNetKatana/blob/40de8011dab132b020e8d6e89239f4a0bda7d82c/src/Microsoft.Owin/IOwinRequest.cs#L133-L138

[2019-07-02 18:50] Peperud commented on #296
@Tratcher Thanks Chris, it was in front of me, no idea how I missed it.
A follow up - is throwing still the (preferred/best) way to abort a request in Katana?

[2019-07-02 18:57] Tratcher commented on #296
If the client has already disconnected then it's just a matter of how you want the request to show up in the logs. E.g. you could return something like a 404, but that might be confusing in your logs. Throwing tends to be the most understandable.

[2019-07-03 21:58] Peperud commented on #296
499 seems to be the appropriate code. Might go that way, since at this point the situation is handled.
Thanks.

[2019-07-03 21:58] #296 closed

[2019-07-04 09:16] SeminDM commented on #294
@Tratcher Think I understand you.
1. Unique Wreply should be set in WsFederationAuthenticationOptions due to middleware registration.
2. Callback path is not required.
3. Single FederationAuthController callback with channelName as parameter will receive redirections for multiple ADFS channels.
4. RedirectUri for Authentication.Challenge is just "<..>/HomePage" in common case

Is it correct?

[2019-07-04 14:31] Tratcher commented on #294
Yes.

This one is misleading. This is just a pattern to generate unique paths (see 1), cannelName has no meaning to the auth handler.

[2019-07-04 14:40] SeminDM commented on #294
Ok, thank you! You really help me!

[2019-07-04 14:41] #294 closed

[2019-07-10 10:21] BKKSSM0710 opened #298 "How Do I follow the Facebook policy on Native App having webview(it has Microsoft.Owin.Security.Facebook)"
Hi

We are using Microsoft.Owin.Security.Facebook(3.1.0.0) for facebook login on web app.
And Our native app has Webview connecting to the web app.
Facebook said to us below .
[code]
My questions are below.
1. How should we follow Facebook policy on native app's Web view? webview connects to Web App that is using `Microsoft.Owin.Security.Facebook`.
2. Does the `Microsoft.Owin.Security.Facebook` wr

[2019-07-10 14:31] Tratcher commented on #298
As far as we know the SDK restriction does not apply to server side web apps, only client apps. Maybe they're concerned that your native app is using a webview as a bypass for using the client SDK? Have you looked at not using a webview?

FYI Microsoft.Owin versions older than 4.0 are now out of support, please update.
https://dotnet.microsoft.com/platform/support/policy/aspnet

[2019-07-11 07:16] BKKSSM0710 commented on #298
Thank you so much for replying.

I forgot to say that our native app has two login flow, One is native view(using native Facebook SDK),
one is WebView(using Microsoft.Owin.Security.Facebook).

Facebook attached screen cast about WebView login with them claim.
So I asked to this community.

But if the SDK restriction is only for Native Client SDK, We will make a complaint to Facebook.

[2019-07-13 05:22] #153 closed

[2019-07-16 10:59] astalegale commented on #277
https://developers.facebook.com/docs/graph-api/changelog
=> v2.9 is available until 22 July, 2019

[2019-07-16 11:20] coronag commented on #277
@astalegale : you can update at your convenience the endpoint directly as said by Tratcher, to use the last api version for instance.

[2019-07-16 11:20] #277 closed

[2019-07-16 19:53] laura-rodriguez opened #300 "How to handle unauthorized requests to avoid redirect to an Identity Server?"
I'm working with ASP.NET MVC and OpenId Connect. Everything's working fine right except for one issue. When users hit actions decorated with the `Authorize` attribute, if the user is not authenticated or doesn't have a role that matches, the browser is redirected to the identity server login page instead of the custom one.

In ASP.NET Core, this is easy to handle thanks to the `CookieMiddleware` a

[2019-07-16 20:11] Tratcher commented on #300
LoginPath also exists here.
https://github.com/aspnet/AspNetKatana/blob/40de8011dab132b020e8d6e89239f4a0bda7d82c/src/Microsoft.Owin.Security.Cookies/CookieAuthenticationOptions.cs#L89-L99

To prevent OIDC from challenging you should set OIDCOptions.AuthenticationMode = Passive.
https://github.com/aspnet/AspNetKatana/blob/40de8011dab132b020e8d6e89239f4a0bda7d82c/src/Microsoft.Owin.Security/Authenti

[2019-07-16 20:18] laura-rodriguez commented on #300
Thanks for your prompt response @Tratcher !
What about `AccessDeniedPath`, do you guys have any plan to add this property as well?

[2019-07-16 20:24] Tratcher commented on #300
No, we don't have plans to change the design here. You'll have to hook cookie auth's notifications similar to how you tried to hook OnRedirectToIdentityProviderAsync. I forget if the status code was set to 403 for those scenarios.

[2019-07-16 20:35] laura-rodriguez commented on #300
I see, so in the end, overwriting `OnRedirectToIdentityProviderAsync` is necessary.
Thank you so much for your help @Tratcher.

[2019-07-16 20:37] Tratcher commented on #300
No, you should be able to use this event instead:
https://github.com/aspnet/AspNetKatana/blob/40de8011dab132b020e8d6e89239f4a0bda7d82c/src/Microsoft.Owin.Security.Cookies/Provider/CookieAuthenticationProvider.cs#L52

[2019-07-16 20:44] laura-rodriguez commented on #300
Ok, I'll take a look at that 👍

[2019-07-24 05:47] liuyl1992 commented on #209
This is possible be very useful to me. Thank you

[2019-07-29 12:59] slishnevsky opened #301 "Unable to debug Owin Startup class under IIS"
Hello, I tried to google for several days but was unable to find why Startup class doesn't fire in Debug mode under IIS, unable to debug, no breakpoints get hit inside Configuration method. Executing debugging from VS2017, the API runs against IIS. This is a fully functional production code.
Is this some sort of a bug? I can't even tell if the code if firing at all since I am unable to debug it.

[2019-07-29 14:48] Tratcher commented on #301
Does debugging work with IIS Express?

[2019-07-29 15:00] slishnevsky commented on #301
No

[2019-07-29 17:25] five-star-potato commented on #260
I am experiencing the same issue. Is there any solution to invalidating the ASPNET session cookie after I signed out from B2C?

        [HttpGet]
        public IActionResult SignOut()
        {
            var callbackUrl = Url.Action(nameof(SignedOut), "Session", values: null, protocol: Request.Scheme);
            return SignOut(new AuthenticationProperties { RedirectUri = callbackUrl },

[2019-07-29 17:37] Tratcher commented on #260
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2019-07-29 17:59] Tratcher commented on #301
Tried the following and it worked fine:
VS 2017 15.9.14
New project, ASP.NET Web Application (.NET Framework) (4.7.2)
MVC, Change Authentication, Individual User Accounts
Set a break point in Startup.Configure
F5 debug in IIS Express, breakpoints are hit.

Can you reproduce this with a new project? If so please give your steps.

[2019-07-30 13:36] slishnevsky commented on #301
New project created with these settings doesn't have any Startup class

[2019-07-30 14:29] Tratcher commented on #301
You need to select Individual User Accounts for it to add a Startup class.

[2019-07-31 18:43] Peperud commented on #301
I typically have to work with parts of a large app, comprised of different projects etc., so I usually keep a whole proper installation in IIS and drop there the pieces I need to debug.
I might be doing it the hard way, but this works for me.
If I want to debug OWIN startup stuff in IIS:
1. Have the app installed and configured under IIS.
2. Add a delay/wait (say 15 sec) at the beginning of startu

[2019-07-31 18:48] #291 closed

[2019-08-02 09:59] umesh-swami07 opened #302 "OWIN OPenIDConnect is not working with Keycloak, throws an error "PII Data is hidden ""
OWIN OPenIDConnect is not working with Keycloak, throws an error "PII Data is hidden " , whenever i am running OIDC plugin to provide single sign on with keycloak using OWIN , it throws error either PII data is hidden or unable to load "keycloak URL/welknown/configuration."

same configuration is working with ASPNET.security.OpenIDConnect with ASPNET CORE.  but i dont want to migrate my project to

[2019-08-02 14:41] Tratcher commented on #302
Start with https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII to get the full error. Also please share the stack trace.

[2019-08-02 14:48] umesh-swami07 commented on #302
I have set ShowPII= true in cofigure method of startup.cs.
 here the stack trace
_[WebException: The remote name could not be resolved: '<<keyclaokurl.com>>']_
   System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult) +628
   System.Net.Http.HttpClientHandler.GetResponseCallback(IAsyncResult ar) +64

[HttpRequestException: An error occurred while sending the request.]
   System.Runtime

[2019-08-02 14:56] Tratcher commented on #302
That's not an Owin issue, that's a configuration or environment issue. You should be able to put that full url into the browser to verify it's correct.

[2019-08-02 15:20] umesh-swami07 commented on #302
I figured it out, its about proxy setting, i have enabled default proxy and credentials in web.config then it started working fine.
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>

this has resolved my problem.

[2019-08-02 15:28] #302 closed

[2019-08-20 16:18] nmocruz opened #303 "set wsFederationMessage.Wreply = properties.RedirectUri when challenging"
I was expecting to have something like this on the challange request method

[code]

does it makes sense or I need to do it the RedirectToIdentityProvider ??

[2019-08-22 20:30] Tratcher commented on #303
That's not how we prefer to use wreply and RedirectUri. wreply is intended to point at the middleware so it can handle the request, generate an auth cookie, and then redirect to the final RedirectUri.

https://github.com/aspnet/AspNetKatana/blob/569f1c872e86e57155d7865f4b3d627949cfcba2/src/Microsoft.Owin.Security.WsFederation/WsFederationAuthenticationHandler.cs#L130-L135
https://github.com/aspnet

[2019-08-22 20:41] nmocruz commented on #303
Ok.
Makes sense, I saw it in the apply grant method so I believed that the same

On Thu 22 Aug 2019, 21:31 Chris Ross, <notifications@github.com> wrote:

[2019-08-22 20:48] Tratcher commented on #303
No, Grant is just for sign-out and we don't intercept the callback url.

[2019-08-22 20:48] #303 closed

[2019-08-27 18:56] wugangzhang opened #304 "Performance issue with static file server"
https://github.com/aspnet/AspNetKatana/blob/569f1c872e86e57155d7865f4b3d627949cfcba2/src/Microsoft.Owin.StaticFiles/StreamCopyOperation.cs#L16

Our service uses the owin static file server (packages\Microsoft.Owin.StaticFiles.4.0.1\lib\net45\Microsoft.Owin.StaticFiles.dll) to serve static files.
We discovered that it took more than 15 seconds to retrieve a file of 3M size from our service in east

[2019-08-27 23:33] RaviSankarRao opened #305 "IE 11 + Iframe - OWIN Cookies and ASP.Net_SessionId not sent in request headers after closing the browser and opening the page again"
I have a webpage running on `domain1.com`. The page has an `iframe` with `src` of a different domain `domain2.com`. The `domain2.com` uses `OWIN` authentication and authorization and saves authentication token as cookie.

Steps I follow

- Open webpage of Domain1.com. The iframe of Domain2.com asks for Sign In.
- On click of Sign In, opens new tab for authentication
- Once authentication is succes

[2019-09-05 20:35] sborkman opened #306 "Ampersand in folder name when browsing physical directory"
I have a website that utilizes physical directory browsing. Here's my code:

        public void Configuration(IAppBuilder app)
        {

            AreaRegistration.RegisterAllAreas();

            HttpConfiguration config = GlobalConfiguration.Configuration;
			//config.MessageHandlers.Add(new CustomHeaderHandler()); // Added this for no caching
			//System.Web.Http.GlobalConfiguration.Configu

[2019-09-05 20:47] Tratcher commented on #306
That code is here: https://github.com/aspnet/AspNetKatana/blob/569f1c872e86e57155d7865f4b3d627949cfcba2/src/Microsoft.Owin.StaticFiles/DirectoryFormatters/HtmlDirectoryFormatter.cs#L115-L138

It is HtmlEncoding the folder name via WebUtility: https://github.com/aspnet/AspNetKatana/blob/569f1c872e86e57155d7865f4b3d627949cfcba2/src/Microsoft.Owin.StaticFiles/DirectoryFormatters/HtmlDirectoryFormatte

[2019-09-05 20:55] Tratcher commented on #306
That said, '&' is a valid url path character. I wonder why it's being filtered. Looks like a common complaint:
https://www.hanselman.com/blog/ExperimentsInWackinessAllowingPercentsAnglebracketsAndOtherNaughtyThingsInTheASPNETIISRequestURL.aspx

[2019-09-06 03:34] ryno1234 opened #307 "AuthenticationHandler called regardless of authorization requirement"
This undoubtedly comes down to some ignorance around the inner workings of the authorization, but I'm having an issue with my custom authentication middleware.

I have 2 controller route functions. One is decorated with `[Authorize]` and the other `[AllowAnonymous]`.

No matter which route I hit, my `AuthenticationHandler` has its "Apply" functions called, i.e. `AuthenticationHandler.ApplyResponse

[2019-09-06 05:44] rpowell6 commented on #243
I am also having an issue when attempting to retrofit the working MVC C# example (msgraph-training-aspnetmvcapp) into a WebForms app.  The Request.GetOwinContext().Authentication.Challenge() method seems to be working just fine.  I am prompted to navigate through the sign-in process, as expected.  **However, the OnAuthorizationCodeReceivedAsync() task/listener is never called.** Consequently, noth