[2017-02-08 01:01] Eilon opened #1 "Change source code and repo license info to .NET Foundation"
Change all the .CS files and any other license files in the repo to be the same as ASP.NET Core.

See https://github.com/aspnet/AspNetWebStack/issues/2.

Also, while we're at it, remove the bizarre DISCLAIMER.txt from the repo.

[2017-02-08 18:26] Tratcher opened #5 "Update MicrosoftAccount provider to new endpoints"
The Live Connect API is depricated
https://github.com/aspnet/Security/pull/691

[2017-02-08 18:30] Tratcher opened #6 "Update facebook provider"
Facebook (Graph) API 2.4 made some breaking changes to their request formats and flow.
https://katanaproject.codeplex.com/workitem/417

[2017-02-08 18:30] #6 closed, assigned to Tratcher

[2017-02-08 18:35] Tratcher opened #7 "Update IdentityModel dependency to v5"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/472/files#diff-04c6e90faac2675aa89e2176d2eec7d8R9
"+IdentityModel Extensions for .NET 5 has now been released. If you are using IdentityModel Extensions with ASP.NET, the following combinations are supported:
+* IdentityModel Extensions for .NET 4.x and ASP.NET 4
+* IdentityModel Extensions for .NET 5.x and A

[2017-02-08 18:37] Tratcher opened #8 "OpenIdConnect nonce cookies expiration"
Add an expiration to the nonce cookie so they get cleared out even if login fails.
https://katanaproject.codeplex.com/workitem/402

[2017-02-08 18:37] #8 closed, assigned to Tratcher

[2017-02-08 18:38] Tratcher opened #9 "Exceptions may cause request pump leak"
Unhandled exceptions in OwinHttpListener.ProcessRequestsAsync from HttpListener.GetContextAsync() may bypass decrementing _currentOutstandingAccepts and cause the request pumping loop to stop accepting new requests. However, no one has successfully captured any such exception to understand the underlying cause.

https://katanaproject.codeplex.com/workitem/418

[2017-02-08 18:38] #9 closed, assigned to Tratcher

[2017-02-08 18:40] Tratcher opened #10 "Remove obsolete UseGoogleAuthentication"
Google deprecated OpenId in favor of OAuth2. The old provider doesn't work anymore.
https://developers.google.com/identity/sign-in/auth-migration#timetable

Katana currently has OpenId and OAuth2 implementations. Remove the obsolete extension, handler, and options. Would it be worth renaming GoogleOAuth2AuthenticationOptions back to GoogleAuthenticationOptions? ASP.NET Core did.

https://katanapro

[2017-02-08 18:45] Tratcher opened #11 "Supply an ICookieManager implementatoin for System.Web"
One of the most common issues hit by users is a conflict in the response cookie header that causes values to be dropped. See http://katanaproject.codeplex.com/wikipage?title=System.Web%20response%20cookie%20integration%20issues

This can cause infinite auth loops and other hard to diagnose issues. While we can't directly solve the issue, we can provide helpers for the most common mitigation. This

[2017-02-08 18:47] Tratcher opened #12 "Remove pinned twitter certs"
Twitter keeps changing the certificate they use for api.twitter.com requests. These certs are pinned by the middleware, so it breaks. Remove the pinning.

https://katanaproject.codeplex.com/workitem/427

[2017-02-08 18:47] #12 closed, assigned to Tratcher

[2017-02-08 20:21] Tratcher opened #14 "Update project to net451"
This will be required for the IdentityModel update. https://github.com/aspnet/AspNetKatana/issues/7

[2017-02-08 23:54] #11 closed, assigned to Tratcher

[2017-02-09 17:43] #1 closed, assigned to Tratcher

[2017-02-09 18:00] #5 closed, assigned to Tratcher

[2017-02-09 19:11] #14 closed, assigned to Tratcher

[2017-02-10 21:50] Tratcher opened #19 "Update Google Oauth2 endpoints"

[2017-02-13 18:56] #19 closed, assigned to Tratcher

[2017-02-13 21:50] #10 closed, assigned to Tratcher

[2017-02-17 18:02] Tratcher opened #23 "Update nightly symbol publishing destination"
Nightly packages have moved to  `https://dotnet.myget.org/f/katana-dev/`

But symbol packages are still publishing to 'https://nuget.symbolsource.org/MyGet/aspnetwebstacknightly'

Is this a problem?

[2017-02-20 08:41] wc-matteo opened #24 "Add an option to exclude Request.PathBase from url generation"
I'm using an IIS Module to rewrite PathBase out of the urls. The middlewares are not aware of this obviously and generate the "wrong" urls:

e.g. FacebookAuthenticationMiddleware's `CallbackPath`:

[code]
Could an option be added (per middleware) to tell it to exclude `Request.PathBase`? Or perhaps there's a better way?

[2017-02-22 03:04] GibbOne opened #25 "Websockets on Windows 7"
Does Katana support websockets for Windows 7?
Otherwise, will you add support in the future?
Thx

[2017-02-22 05:16] davidfowl commented on #25
Nope. All of the Katana servers are built on top of http.sys (a windows component). WebSockets are only available on Windows 8+ (Server 2012).

Nope. Maybe look at Nowin? https://github.com/Bobris/Nowin

[2017-02-22 17:43] GibbOne commented on #25
Thx

[2017-02-22 17:43] #25 closed

[2017-02-25 10:03] damianh opened #26 "Remove dependency on Owin.dll and merge in IAppBuilder"
Hi Chris,

Good to see this project [moved to github](https://katanaproject.codeplex.com/workitem/382) :)

As we know `Owin.dll` had its controversy... As a major release allows breaking changes, I suggest merging in `IAppBuilder` into `Microsoft.Owin.dll`. The namespace `Owin.` could be retained within the lib to minimise changes to libraries that depend on `Microsoft.Owin`.

Cheers

[2017-02-25 10:14] damianh opened #27 "Support NetStandard 1.6"
Use case: easy porting of **lots** of existing code without having to rewrite entire applications.

Would be happy to attempt a PR.

[2017-02-28 06:20] marsupialmouse commented on #6
Is there likely to be a release containing this fix soon? The change to the format of the access_token response happened in API v2.3 (from URL encoded in v2.2 to JSON in v2.3), and on 27 March v2.2 will be deprecated.

[2017-03-03 08:13] chatikul opened #28 ""No owin.Environment item was found in the context" in webapp when GAC "Microsoft.Owin.Host.SystemWeb.dll""
My web application work correctly when run with **Microsoft.Owin.Host.SystemWeb.dll** in local bin folder (private dll). But when I need to GAC this dll to Global Assembly Cache, web application show "No owin.Environment item was found in the context" error when I call HTTPContext.GetOwinContext() method.

Note: I used **fuslogvw.exe** to check dll binding when web application startup. Difference

[2017-03-03 08:20] JaapMosselman opened #29 "CookieAuthenticationHandler, in case using SessionStore, cookieOptions.Expires is not set on renewal"
I think I found an issue in Microsoft.Owin.Security.Cookies.CookieAuthenticationHandler class, method ApplyResponseGrantAsync. There is a line (within "else if (_shouldRenew)" block) of where cookieOptions.Expires property is set if model.Properties.IsPersistent is true. The problem is that, in case of using a SessionStore, model.Properties.IsPersistent is always false, because in that case model

[2017-03-05 21:11] damianh commented on #28
Curious as to why you are putting this in the GAC?

[2017-03-06 00:46] chatikul commented on #28
Thanks for you reply, I putting this file to the GAC because I have many web applications use this file in single machine. And i need to control all applications use the same dll file and same version in one place (versioning control). Normally, I putting all shard files in the GAC. Ex. EntityFramework, OPD.NET dlls.

[2017-03-06 06:43] damianh commented on #28
That doesn't really is say _why_. What is the actual benefit of that
approach? Version control is handled in source control.

A way to fix your problem, use xcopy deploy and stop using the GAC. There
is no GAC in .net core so you'll have to stop using it eventually anyway.

On 6 Mar 2017 1:46 a.m., "chatikul" <notifications@github.com> wrote:

[2017-03-06 07:36] chatikul commented on #28
The source control is a versioning of source file in your development environment. You can control file version before build of each application. In production, after build, If you have 30 applications on one machine use this file and would like to upgrade to use new version of this file with out recompile source code (Dll change with out affect method interface). How do you do? Copy of dll file t

[2017-03-06 07:49] damianh commented on #28
Your approach means one bad update can take out 30 applications and your
approiach is not (/no longer) standard practice in .net.

Instead, apply the practice of continous integration and deploy all 30
applications independently, but automated.

Oracle's drivers are available as nuget packages (which are not gac'd).

On 6 Mar 2017 8:36 a.m., "chatikul" <notifications@github.com> wrote:

[2017-03-06 08:41] kostrse opened #30 "Expose ClientCertificate in IOwinRequest"
For convenience. please expose the `ssl.ClientCertificate` as a property in IOwinRequest interface.
This is a common property which used for implementation of ClientCertificateAuthenticationHandler.

[2017-03-07 15:45] MaximRouiller commented on #28
Exactly what @damianh just said.

If you are deploying a new sub dependency, your are effectively deploying a new version of your 30 applications. You may not want to face it, but you are. Every single application is going to depend on that DLL to work properly. Has it been tested in each apps? Has it been compiled against each apps?

What you are telling us is: "No. We'll see in production"

That

[2017-03-08 20:27] SergeyKanzhelev opened #31 "Propogate ExecutionContext when run in IIS"
Moving bug from the [codeplex](http://katanaproject.codeplex.com/workitem/440) as it is still an issue for us with no easy solution.

If you develop OWIN middleware for monitoring you need to use `ThreadAsync` or `CallContext` to keep the context across the `async/await`. And it is working fine. However if you try to use the same middleware when hosting your application in IIS - it doesn't propaga

[2017-03-08 20:28] davidfowl commented on #31
Why not use `httpContext.Items`?

[2017-03-08 20:32] SergeyKanzhelev commented on #31
httpContext will not be propagated across async/await. So we need to set `AsyncLocal`. And if we set it in middleware or http module - it will be reset before the controller execution

[2017-03-08 20:37] davidfowl commented on #31
What exactly do you mean by that?

The IIS pipeline isn't a single asynchronous call chain and I don't know if ASP.NET captures and restores the execution context when pipeline events execute.

[2017-03-08 21:16] SergeyKanzhelev commented on #31
Sorry for mixing up the issues. I think there are two I mostly concerned of:

1. The context set in middleware will not be propagated to the Controller execution (when running in IIS) and will propagate when running as a self host.
2. If we will take dependency on `HttpContext.Current.Items` in middleware (making a special case for IIS) to set context - this context will not propagate into await p

[2017-03-08 21:34] davidfowl commented on #31
By "context" you mean async local right?

I don't get that part (forgive me). If you set state in httpContext.Items, why wouldn't that flow to the controller action? Also it should be available in `HttpContext.Current`...

[2017-03-08 21:57] SergeyKanzhelev commented on #31
In this code condition `if (System.Web.HttpContext.Current != null)` be `false`. So I need a callback before the Controller execution where I can set the AsyncLocal context. Middleware is a perfect place, but it doesn't work in IIS as this context will be cleared by the host (actually I only checked that CallContext will be cleaned, not AsyncLocal. But I assume it will also be cleaned up. And idea

[2017-03-08 22:00] davidfowl commented on #31
Why not just always store the context in the httpContext? Don't use async locals when you're in System.Web...

[2017-03-08 22:01] SergeyKanzhelev commented on #31
Because the httpcontext is null inside the `.ContinueWith`. See the example above. So a lot of telemetry will not be correlated. HttpContext is using LocicalCallContext that is not propagated in tasks well.

[2017-03-08 22:04] davidfowl commented on #31
But it *does* work without the continue with right?

[code]

[2017-03-08 22:08] davidfowl commented on #31
ContinueWith does not preserve the `SynchornizationContext` (which is the thing that sets httpcontext.current in ASP.NET).

[2017-03-08 22:09] SergeyKanzhelev commented on #31
yes, I have Http Context before and after the await in your example. However it's not enough.

For instance, when on FW 4.5 we collect http calls using `EventSource` exposed by HttpWebRequest - those event source calls happens in async context and not being correlated.

Also quite often I need to correlate exception happened in those `ContinueWith`.

Yes, sorry I meant `SynchronizationContext`, no

[2017-03-08 22:36] davidfowl commented on #31
I've updated the title of the bug to accurately reflect the request. I don't think it's katana's job to flow the execution context across IIS events.

[2017-03-08 22:45] SergeyKanzhelev commented on #31
Thank you! I do not know enough, but my understanding was that middleware and Controller executes in the same managed thread and Katana explicitly clear up context when in IIS. It would be great if it will not do it when possible

[2017-03-08 23:38] davidfowl commented on #31
It doesn't have anything to do with the same thread per se but the fact that they run in different IIS events is the problem. The execution context isn't preserved between these 2 events. You can see this by looking at the "call stack" during controller execution. You'll see the middleware pipeline isn't there.

[2017-03-08 23:48] SergeyKanzhelev commented on #31
Just discussed it with @lmolkova. So re-setting the `AsyncLocal` in `PreRequestHandlerExecute` will solve the issue? If so - we can close the issue as it is a good workaround for me

[2017-03-09 00:36] davidfowl commented on #31
Yes that works if the handler completes synchronously. If it's async then it won't flow to the controller.

[2017-03-09 09:42] VyacheslavPritykin opened #32 "SystemWebCookieManager issue"
There is a  wiki page [System.Web response cookie integration issues](https://github.com/aspnet/AspNetKatana/wiki/System.Web-response-cookie-integration-issues) that proposes to use `SystemWebCookieManager` as a workaround. However, `SystemWebCookieManager` has a major issue.

How to reproduce the issue:
1. On dev machine setup any timezone between UTC +1 and +12
2. Setup cookie authentication and

[2017-03-10 15:35] secovel opened #33 "Clarify License"
Is this the official repository for Microsoft.Owin.Host.HttpListener?
https://www.nuget.org/packages/Microsoft.Owin.Host.HttpListener/

Can you clarify the license?  The NuGet repository shows this license file:  http://www.microsoft.com/web/webpi/eula/net_library_eula_enu.htm

The Git repository shows an Apache license:  http://www.apache.org/licenses/LICENSE-2.0

As an aside, NuGet package also

[2017-03-18 02:18] israelito3000 opened #34 "How can I have access to the metadata to know the endpoints?"
I have implemented all Notifications, but I cant find the metadata info in the "context" object, how can I obtain this metadata information?
[code]

[2017-03-20 12:55] MaximRouiller commented on #34
Reformatted code:

[code]

[2017-03-22 16:13] metallserge opened #35 "How can I access "scope" property in refresh_token flow?"
Hi all!

in OAuth2 https://tools.ietf.org/html/rfc6749#section-6 we may pass optional "scope" property

But in Microsoft.Owin.Security.OAuth 3.0.1 there is no way to detect this property, except ValidateTokenRequest/OnValidateTokenRequest in OAuthAuthorizationServerProvider (IOAuthAuthorizationServerProvider).
See  https://github.com/aspnet/AspNetKatana/blob/2d41a5c057d877cd921a8675d7b5e12095d2599

[2017-03-23 16:41] Tratcher opened #36 "Persistant cookies need to specify UTC"
https://katanaproject.codeplex.com/workitem/490
https://github.com/aspnet/Security/issues/780
https://github.com/aspnet/Security/pull/286

[2017-03-23 18:19] #36 closed

[2017-03-27 21:01] Tratcher opened #38 "[Announcement] Facebook 3.0.1 and lower no longer work"
Facebook as deprecated their old OAuth endpoints that were used by Katana 3.0.1 and lower.
Here's a Fiddler trace of a failing auth flow:
[code]
Note the /Account/ExternalLoginCallback?error=access_denied request.

If you enable logging here's the message (caused by a change in Facebook's response format):
https://github.com/aspnet/AspNetKatana/wiki/Debugging#logging
[code]
This has been fixed in

[2017-03-27 23:46] refactorthis commented on #38
Thanks for this, noticed this wasn't working this morning. Looks like a few other sites have been hit by this also.

[2017-03-28 09:51] arnoldsi commented on #38
This stopped working also for my website

[2017-03-28 12:02] Tornhoof commented on #35
In ReceiveAsync I use: ``var scope = context.OwinContext.Get<IEnumerable<string>>("scope");``
I never needed the scope in GrantRefreshToken
HTH

[2017-03-28 17:03] embee8 commented on #38
This saved me even more pain. I noticed that Facebook Login on my site stopped to work two days ago. After hours of investigating an error that came out of nowhere, installing 3.1.0 RC1 resolved the issue. The middleware now handles the JSON response properly.

[2017-03-28 20:42] Andrei- commented on #38
Been debugging this myself today. The problem is in FacebookAuthenticationHandler line 90:
...
[request to https://graph.facebook.com/oauth/access_token here]
88: tokenResponse.EnsureSuccessStatusCode();
89: string text = await tokenResponse.Content.ReadAsStringAsync();
90: IFormCollection form = WebHelpers.ParseForm(text);

The code make a request to https://graph.facebook.com/oauth/access_token

[2017-03-28 21:05] wizzar commented on #38
@Andrei, you can get the updated version at [https://www.nuget.org/packages/Microsoft.Owin.Security.Facebook/3.1.0-rc1](url), or go to Tools > nuget package manager > manage packets for solution, click on "updates" and check "include prerelease".

Cheers

[2017-03-28 21:27] Andrei- commented on #38
@wizzar, awesome, thanks.

[2017-03-29 04:27] paul-turner-github commented on #38
This doesn't seem to be fixed.  I still get the same error with Facebook.

[2017-03-29 05:34] JoeDM09 opened #39 "Google 3.1.0 Not Working"
I have updated to RC 3.1.0 however seem am still getting issues authenticating.

This is the output from a fiddler:

[code]

With debugging enabled this is the error:
[code]

I will continue investigating and add any additional information I come across.

[2017-03-29 05:53] JoeDM09 commented on #39
I believe the issue may be in:
https://github.com/aspnet/AspNetKatana/commit/d12b41c8c7cd6cd1895ccfbfaea8f83619d94ac3

Based on the auto discovery information in https://accounts.google.com/.well-known/openid-configuration
`internal const string UserInformationEndpoint = "https://www.googleapis.com/plus/v1/people/me"` should point to https://www.googleapis.com/oauth2/v3/userinfo

[2017-03-29 09:05] JoeDM09 commented on #39
In the end this was not related to this repository. Logging into Google and Enabling the API again seemed to resolve the issue. I'm assuming Google changes something on their end as this resolution was identical for all develop, staging, UAT and production environments.

[2017-03-29 09:05] #39 closed

[2017-03-29 19:28] YovavGad commented on #38
Still not working, I updated to the latest version 3.1.0-rc1 and made sure all DLLs got updated,

I using it like this:

`facebookAuthOptions.Provider = new FacebookAuthenticationProvider()
{
    OnAuthenticated = (context) =>
    {
        context.Identity.AddClaim(new Claim("FacebookAccessToken", context.AccessToken));

        var expiryDuration = context.ExpiresIn ?? new TimeSpan();
        co

[2017-03-29 20:56] Tratcher commented on #24
You'd be better off writing a middleware that just cleared PathBase. Then you wouldn't have to customize each middleware. Something like:
[code]

[2017-03-29 21:02] Tratcher commented on #26
Unfortunately that breaking change would break every dependent library and prevent you from using any 3.x middleware with 4.x. There's a limit to the degree of breaking changes we're willing to inflict.

[2017-03-29 21:08] Tratcher commented on #28
Microsoft.Owin.Host.SystemWeb.dll uses a PreApplicationStartMethod attribute to load itself into the web app. This may not work with assemblies in the GAC.  There are other ways to load SystemWeb into the app, such as specifying it in the web.config. Haven't tried this in a while... I think you can just add it to the module list.

https://github.com/aspnet/AspNetKatana/blob/f3a8d848b7548e62d52737e

[2017-03-29 21:16] Tratcher commented on #32
Fixed via https://github.com/aspnet/AspNetKatana/commit/49ae66506ab3a3f5a661015332e42fa2fbde63c2

[2017-03-29 21:16] #32 closed

[2017-03-29 21:19] embee8 commented on #38
@YovavGad, it seems that 3.1.0 RC1 has fixed it for most people in this thread, so I assume it comes down to your personal configuration. Remember this is a place to track issues, not to troubleshoot custom setups. If you think the latest release doesn't work as intended, it might be useful for the project owners to provide additional information, i.e. what do you mean with "still not working"? So

[2017-03-29 21:22] Tratcher commented on #33
Yes, this is the new official home for Microsoft.Owin packages.

Yes, the sources and the pre-built packages intentionally have different licences. You're allowed to do much more with the raw source, as opposed to the packages/dlls are built and signed by MS. Right @Eilon?

Note we just did a new release (https://www.nuget.org/packages/Microsoft.Owin.Host.HttpListener/3.1.0-rc1) so the links shoul

[2017-03-29 21:23] damianh commented on #26
Worth a try :)

On 29 Mar 2017 11:02 p.m., "Chris R" <notifications@github.com> wrote:

[2017-03-29 21:29] Tratcher commented on #34
Have you tried `context.Options.ConfigurationManager.GetConfigurationAsync(...)`? Note ConfigurationManager caches heavily so this won't go get a new config.

[2017-03-29 21:32] Tratcher commented on #38
@embee8 Fields can be specified on Options now, just like Scope.

[2017-03-29 21:37] embee8 commented on #38
Fantastic news, @Tratcher! What I have struggled with in the past is to find documentation of all the different options. The boilerplate code in the standard MVC template only outlined the app secret and id. Is there an official and complete documentation out there?

[2017-03-29 21:40] Eilon commented on #33
Right, the source code in this repo has a particular license, and the final NuGet package and DLLs on NuGet.org have a different license.

[2017-03-29 21:40] #33 closed

[2017-03-29 21:42] Tratcher commented on #38
@embee8 nothing extensive, start with the Options doc comments.
https://github.com/aspnet/AspNetKatana/blob/f3a8d848b7548e62d52737efa0a4fc9cf6c6cedf/src/Microsoft.Owin.Security.Facebook/FacebookAuthenticationOptions.cs#L138

[2017-03-29 21:42] Tratcher commented on #38
Or MSDN: https://msdn.microsoft.com/en-us/library/microsoft.owin.security.facebook.facebookauthenticationoptions(v=vs.113).aspx

[2017-03-30 00:57] arinray73 commented on #38
Hi,

I use webpages and use the following Microsoft.Web.WebPages.OAuth and call function OAuthWebSecurity.VerifyAuthentication to verify facebook logins.

In Nuget it is still 3.2.3 dated 9th February 2015.

what can be the solution please?

[2017-03-30 03:02] Tratcher commented on #38
@NTaylorMullen @Eilon ?

[2017-03-30 04:16] Eilon commented on #38
@arinray73 that package ultimately uses the 3rd-party DotNetOpenAuth library to do all the actual OAuth protocol implementation. Can you share more info about what isn't working for you?

[2017-03-30 06:59] erzki commented on #38
I can confirm that the 3.1.0-rc1 works now if you remove the custom FacebookAuthenticationProvider.

My config looks like this now. I have added email in scope.
`var facebookOptions = new FacebookAuthenticationOptions
            {
               AppId = ConfigurationManager.AppSettings["FacebookAppId"],
               AppSecret = ConfigurationManager.AppSettings["FacebookAppSecret"],

[2017-03-30 07:01] chatikul commented on #28
Thank a lot to @Tratcher. That is the good answer, point to the problem. Now, I leave only this file in private DLL.

Thanks again.

[2017-03-30 07:10] wc-matteo commented on #24
Thanks @Tratcher. That seems a sensible approach!

[2017-03-30 07:10] #24 closed

[2017-03-30 07:23] dnovhorodov commented on #38
Greetings,

Just updated Microsoft.Owin.Security.Facebook package to 3.1.0-rc1.
I have very simple setup based on Microsoft example for external authentication:

[code]

All goes fine according to Fiddler:

GET https://www.facebook.com/v2.8/dialog/oauth?response_type=code&client_id=111111111111111&redirect_uri=http%3A%2F%2Flocalhost%3A59735%2Fsignin-facebook&scope=email&state=v5WWRCHT93gXIGgkEYOtg

[2017-03-30 10:26] embee8 commented on #38
@Tratcher, I just noticed and wanted to let you know that the `Fields` attribute is read-only at the moment (3.1.0 RC1). People will need to continue to set the required `UserInformationEndpoint` instead.

[2017-03-30 10:45] Tratcher commented on #38
@embee8 what's the problem? Fields is a list you add to, just like scope. Neither let you assign the whole collection.

[2017-03-30 10:47] embee8 commented on #38
Gotcha @Tratcher, my bad. I tried to assign the whole thing at once. Thanks!

[2017-03-30 11:21] Tratcher commented on #38
@dnovhorodov I assume your /Account/ExternalLoginCallback request included the cookie?
Do you get any output if you enable logging? https://github.com/aspnet/AspNetKatana/wiki/Debugging

[2017-03-30 11:38] dnovhorodov commented on #38
@Tratcher

Yes, external cookies in place.

I find out that it returns null only when I use HTTP protocol, but when I use HTTPS it works.
Before RC1 it works as well via HTTP. Is is possible to change setting to allow HTTP login flow?

[2017-03-30 12:25] embee8 commented on #38
I haven't tested it @dnovhorodov, but I don't think that the fields are a replacement for the scope - those are two different things. In my view, you need to specify both, but the Katana middleware might take care of the scope if you specify the fields.

[2017-03-30 12:51] embee8 commented on #38
Okay folks, here is a configuration that works for me. The authentication itself works with minimal configuration. To retrieve specific fields, I still needed to use the `FacebookAuthenticationProvider` - otherwise the claims were not added and named properly.

`var facebookOptions = new FacebookAuthenticationOptions()
            {
                AppId = "xxxxx",
                AppSecret = "xxx

[2017-03-30 13:12] MaximRouiller commented on #26
Ahhh @damianh. Always willing to blow things up.  😉

[2017-03-30 17:07] arinray73 commented on #38
@Eilon
Thanks for your reply. I have used Webmatrix 3 starter site template code to implement external provider login in my site. The file is /Account/RegisterService.cshtml

These lines of code

 var result = OAuthWebSecurity.VerifyAuthentication(Href("~/Account/RegisterService", new { returnUrl }));
        if (result.IsSuccessful) {

-- never returns success after the fb API change

and moves t

[2017-03-30 18:04] muratg commented on #26
This would be a too breaking change which we don't plan to do.

[2017-03-30 18:04] #26 closed

[2017-03-30 23:41] YovavGad commented on #38
I'm still unable to get it to work, even in the most simple way and without the provider, I am using https, I wonder if anyone else experiencing the same issues...

[2017-03-31 00:54] Tratcher commented on #38
@YovavGad what errors do you get?

[2017-03-31 04:01] YovavGad commented on #38
I keep getting this, even when I use the simple code sample that was working for @embee8

(I'm not sure what else I can look at in debug, I do have the cookie values)
`
#if DEBUG
app.Use(async (context, next) =>
{
    await next.Invoke(); // Add a break point to see cookie values
});
#endif
`
I wonder if there were any changes to the CookieAuthenticationOptions or the CookieAuthenticationProvider

[2017-03-31 04:40] Tratcher commented on #38
@YovavGad that looks just like the original problem from the 3.0.1 package, check your packages.config. Also turn on logging for more error details: https://github.com/aspnet/AspNetKatana/wiki/Debugging#logging

[2017-03-31 07:04] JaapMosselman commented on #29
Great. Any idea when 3.1.0 will be released?

[2017-03-31 09:18] embee8 commented on #38
@YovavGad, I had a similar problem with another library not too long ago. Sometimes it helps to delete the DLL from the server (you can use the Server Explorer in Visual Studio), and then re-deploy the project again.

If you have the file locally, right-click it and check the version number in the file properties. Also, don't forget to clean the whole solution in VS, potentially also empty the con

[2017-03-31 14:22] rngDeadeye commented on #38
I'm struggling with this too - I'm not an experienced programmer when it come to using the LogInWith Facebook stuff, I wrote it about 3 years ago and it's just worked ever since.

I've upgraded to 3.1.0-rc1:   `<package id="Microsoft.Owin.Security.Facebook" version="3.1.0-rc1" targetFramework="net45" />`

and my Startup.Auth is already like the above although I did add the "fields.add" as above.

[2017-03-31 14:36] damianh commented on #26
The irony is that the owin community at the time opposed `owin.dll` for this precise reason.

Now there will not likely be a netstandard version of `owin.dll` thus freezing the **entire chain of code that depends on it **.

Sad.

[2017-03-31 15:46] Tratcher commented on #29
@JaapMosselman Likely next week.

[2017-03-31 17:25] MaximRouiller commented on #29
No release today with that wonderful cowboy hat @Tratcher ? 😉

[2017-03-31 19:24] sebrojas14 commented on #38
Unveliable....9 months of advise and owin can't do it...

[2017-03-31 19:28] Eilon commented on #38
@arinray73 it looks to me like the issue you're having might be related to the 3rd party DotNetOpenAuth library, which doesn't appear to be under development anymore. You are correct that this doesn't use the same packages as the OWIN ones mentioned in this issue - though the root cause is undoubtedly the same issue (Facebook API change).

Unfortunately I don't know of any real workaround to this

[2017-03-31 19:48] sebrojas14 commented on #38
This works for me http://stackoverflow.com/a/43148543/2163398

[2017-03-31 20:45] #29 closed

[2017-03-31 21:15] Tratcher commented on #38
@rngDeadeye did you enable logs as suggested above?

[2017-03-31 21:23] YovavGad commented on #38
I really appreciate your help @Tratcher and @embee8,

I did have some old references in two other projects in the solution, but the DLLs ending up in the BIN were all RC1, except Microsoft.Owin.Cors.dll that was coming from another package named "Comuns",

Anyway, I cleaned it up, removed all old references, removed "Comuns" DLLs, and updated Microsoft.Owin.Cors.dll to be RC1 as well - so now ALL

[2017-03-31 21:26] Tratcher commented on #38
Is there any more in the log?

[2017-03-31 21:38] YovavGad commented on #38
No, that's all I'm getting

[2017-03-31 21:41] embee8 commented on #38
Just throwing it out there: Have you all configured your Facebook apps properly and added the Facebook login to the list of products?

![image](https://cloud.githubusercontent.com/assets/12213984/24570366/fc17bd5e-1662-11e7-8bb6-3a15d33a700c.png)

![image](https://cloud.githubusercontent.com/assets/12213984/24570386/1d26267a-1663-11e7-89f0-330febff661e.png)

[2017-03-31 21:43] metallserge commented on #35
Thanks for reply,
good to know there is a simple workaround, I'll try it

but it's a workaround

[2017-04-01 03:39] YovavGad commented on #38
@embee8 I think I have and using the same settings, I created a new facebook app few days ago and it is approved with graph API 2.8 (I had 2.4 before)

One thing I maybe do different than most is using https through IIS Express (which was working fine for a long time)

Another thing I'm doing in ConfigureAuth() is using app.CreatePerOwinContext to create  CustomIdentityDbContext, CustomIdentityRol

[2017-04-02 18:54] YovavGad commented on #38
I also want to add that nothing was changed on my project, the **Google**, **Yahoo**, **Twitter**, **LinkedIn** and **Microsoft** providers are working, only **Facebook** stopped working since the issue with the API change.

[2017-04-02 20:49] YovavGad commented on #38
Ok, I finally found the problem, this cost me 3 days, definitely the most annoying bug of 2017.

So, the new RC1 version is working. also, in my case, no need to specify anything in facebookAuthOptions.Fields not changing anything else with the provider etc.

The problem I had (and still do) is that the facebook page SETTING : Advanced : **Require App Secret** - was always set to YES, now, as part

[2017-04-02 21:06] erikarenhill commented on #38
@YovavGad Too bad you didn't write this earlier than 7 minutes ago :) , I just found out the same thing by using Fiddler and the Facebook response was mentioning that the appsecret_proof was missing and inspecting the URL it was both an & and an uriencoded & (%26) before the parameter. Also the URL was incorrectly built with /me& instead of /me?

But I found out that you can still use the require

[2017-04-02 21:12] YovavGad commented on #38
@erikarenhill, I just found out, I had the worst 3-4 days ever :)

do you think Owin RC1 is miss-encoding this URL?

[2017-04-02 21:17] Tratcher commented on #38
Hmm, looks like an extra &
https://github.com/aspnet/AspNetKatana/blob/8cda3619132b7d1c31392ccc38ef4bb6bac92a89/src/Microsoft.Owin.Security.Facebook/FacebookAuthenticationHandler.cs#L105
https://github.com/aspnet/Security/blob/305ccf9cc5d2ce777e5fb147013966924c9aca8e/src/Microsoft.AspNetCore.Authentication.Facebook/FacebookHandler.cs#L31

Sorry about that folks. That's what RCs are for... I'll get

[2017-04-02 21:23] YovavGad commented on #38
Thanks for your help @Tratcher and I can also confirm that @erikarenhill works with Require App Secret: YES

[2017-04-02 21:28] erikarenhill commented on #38
Awesome, I was just about to link to line 105 in the FacebookAuthentictionHandler too after some research but you got to it quicker @Tratcher  :)

[2017-04-02 22:01] YovavGad commented on #38
Also, I'm getting an error connecting to Microsoft right now

Sorry, but we’re having trouble signing you in.
We received a bad request.

But maybe the https://apps.dev.microsoft.com/#/appList has some issues right now...

[2017-04-03 03:22] Tratcher commented on #38
@YovavGad MicrosoftAccount was also updated to the latest APIs. You may need to reregister for the new APIs. Most of these instructions apply: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins

[2017-04-03 03:32] paul-turner-github commented on #38
@Tratcher thanks for the fix!

[2017-04-03 04:07] YovavGad commented on #38
@Tratcher, https://apps.dev.microsoft.com seems broken... I cannot create an app (getting the error above) I wonder if its my user specifically or something else, thanks for the doc though.

[2017-04-03 07:33] ArgTang opened #42 "Project url points to codeplex"
Update nuget Project-url to reflect move to github, and codeplex shutdown
https://www.nuget.org/packages/Microsoft.Owin.Security/3.0.1

[2017-04-03 10:56] deastr opened #43 "/signout-oidc endpoint on ASP.NET WebForms client"
I have an IdentityServer4 provider and I'm trying to connect an ASP.NET WebForms 4.5.2 client using OpenIdConnect 3.0.1. Everything works fine but I'm having a problem with `/signout-oidc` endpoints on the WebForms client: it doesn't seem to exist. I'm getting 404 error. Interestingly, `/signin-oidc` does exist. I'm using same configuration for an ASP.NET Core client with the same OpenIdConnect 3.

[2017-04-03 12:40] Tratcher commented on #43
Katana does not implement `/signout-oidc`, that was first implemented in ASP.NET Core.
https://github.com/aspnet/Security/commit/d6763bd77c931aeff1024cafd03255abfe55b753

[2017-04-04 04:55] Tratcher commented on #26
Actually, updating the Owin.nupkg would be easier and far less breaking. However, you'd have to invoke the ghost of @lodejard as I think he was the one with the signing keys.

[2017-04-04 04:57] davidfowl commented on #26
`Owin.dll` is community owned IIRC. I would ping @paneofglass https://github.com/owin/museum-piece-owin/pull/25

[2017-04-04 07:22] deastr commented on #43
@Tratcher : Thank you. I'm just curious why was signin-oidc was implemented but not signout-oidc?

Also do I need an additional step for signoutso n WebForms other than `/connect/endsession/callback`?

[2017-04-04 23:04] Tratcher opened #45 "Deadlock via thread pool exhaustion"
UseActiveDirectoryFederationServicesBearerAuthentication and UseWindowsAzureActiveDirectoryBearerAuthentication both use WsFedCachingSecurityTokenProvider to download their metadata. WsFedCachingSecurityTokenProvider has read locks around Issuer and SecurityTokens, and a write lock for RetrieveMetadata. These locks are all synchronous and it calls into HttpClient and blocks, which fires off a back

[2017-04-05 11:30] damianh commented on #26
Ok, I think an owin 1.0.1 package with a netstandard bin would be acceptable.

@Tratcher @lodejard, do either of you know who owns this profile https://www.nuget.org/profiles/owincontrib ? I contacted @panesofglass, @skoon and @serialseb and none of them know.

[2017-04-05 14:39] serialseb commented on #26
Any reason not to do a type redirect to an MS assembly and update the package with an empty one for legacy applications?

[2017-04-05 14:56] Tratcher commented on #26
@serialseb interesting idea, but it would be hard to avoid a circular dependency in the process. You'd have to reverse the relationship between Owin and Microsoft.Owin, or introduce a 3rd package Microsoft.Owin.Abstractions.

@damianh I think Louis and I are part of https://www.nuget.org/profiles/owincontrib, as we originally uploaded the package.

[2017-04-05 18:12] #42 closed

[2017-04-05 18:13] #45 closed

[2017-04-05 18:45] Tratcher commented on #38
@YovavGad @erikarenhill This should be fixed in the latest packages on https://dotnet.myget.org/f/katana-release/. We're doing final verification for release now, so please give these a try.

[2017-04-05 18:48] Tratcher commented on #42
Note this had been fixed in dev but is now also fixed in release.

[2017-04-05 21:06] YovavGad commented on #38
@ratcher what is this link? I get XML, are you going to create a RC2 nuget?

[2017-04-05 21:08] Eilon commented on #38
@YovavGad it's a NuGet package feed with the fixes. You can browse the feed here: https://dotnet.myget.org/gallery/katana-dev

And click on "Connect to feed" to see how to use the feed from your NuGet.config.

[2017-04-05 21:46] YovavGad commented on #38
This is **not** fixed, I used 4.0.0-alpha1-60323-110-rel, I double checked - all my references are updated.

(it does work correctly with the BackchannelHttpHandler from @erikarenhill that fixes the %26 character)

[2017-04-05 22:01] erikarenhill commented on #38
@YovavGad @Eilon @Tratcher
I removed my custom backchannelhandler and tested with v4.0.0-alpha1-60405-127-dev and it's working for me from what I can tell. Thanks

[2017-04-05 22:05] erikarenhill commented on #38
@YovavGad try with version 4.0.0-alpha1-60405-127-dev instead which is the latest, should work for you there as well.

[2017-04-05 22:41] Tratcher commented on #38
Cleared. You're looking for 3.1.0-rtm-60405-128-rel on https://dotnet.myget.org/f/katana-release/.

[2017-04-06 05:17] YovavGad commented on #38
Yes, I can confirm that 3.1.0-rtm-60405-128-rel is working.

@Tratcher are you planning to release v4 soon?

[2017-04-06 08:47] Tratcher commented on #38
@YovavGad thanks for checking.

4.0 is waiting primarily on https://github.com/aspnet/AspNetKatana/issues/7, which might be another few months due to needed dependency work.

[2017-04-06 09:01] YovavGad commented on #38
@Tratcher I'm just curious, are you releasing this fix before 4.0 as a nuget package? 3.1.0-rtm?

[2017-04-06 10:38] Tratcher commented on #38
Yes, 3.1.0 will be released any day now. Just finishing the verification.

[2017-04-07 03:02] Tratcher commented on #43
@deastr The sign-out standard was still being developed when Katana released.

You primarily need to clear auth cookies and any Session contents.

[2017-04-07 06:34] #43 closed

[2017-04-08 06:21] YovavGad opened #48 "Microsoft account with MicrosoftAccountAuthenticationOptions does not seem to work"
I understand Microsoft updated their APIs recently, I created a new app at https://apps.dev.microsoft.com

I know that before it was not possible to test on localhost, this is tested live on UFOToday.com, but I keep getting "access denied",

response_type=code seems suspicious, I would think code maybe replaced with something else (not sure) see https://docs.microsoft.com/en-us/azure/active-direct

[2017-04-08 10:15] Tratcher commented on #48
@kichalla does this look like what you just tested?

Have you enabled logging to see what the error was? I'd be curious to see what the cookie headers looked like for the ufotoday.com requests and responses.

[2017-04-10 11:41] kichalla commented on #48
I verified it again now and it works for me. However, I verified it with the OOB MVC template and haven't done any customization.

[2017-04-10 13:11] YovavGad commented on #48
@kichalla are you using a recent Microsoft account?
I wasn't able to find my old apps and had to create a new one with the details above,
Can you tell me if you're using the same settings?

[2017-04-10 16:19] Tratcher commented on #48
As a baseline, the MSA provider works if I only specify the ClientId and ClientSecret, no scopes required. My app does note have any Permissions specified either.

I see one small bug here with the e-mail:
https://github.com/aspnet/AspNetKatana/blob/b850cd8b4de61e65bbd7127ce02b5df7c4cb6db5/src/Microsoft.Owin.Security.MicrosoftAccount/Provider/MicrosoftAccountAuthenticatedContext.cs#L58-L62
It firs

[2017-04-10 20:46] Tratcher commented on #38
3.1.0 has been released: https://www.nuget.org/packages/Microsoft.Owin.Security.Facebook/

[2017-04-11 02:09] letrec opened #49 "Disposal of OwinContext.Request.User.Identity"
It would be nice to have OwinContext.Request.User.Identity disposed upon completion of each request. It was causing handle leak for me and for now I'm disposing it manually.

[2017-04-11 02:12] letrec opened #50 ".ConfigureAwait(false)"
Is there a reason for not using .ConfigureAwait(false) in the code base?

[2017-04-11 04:40] Tratcher commented on #49
What kind of user was it? A WindowsIdentity?

Where did it come from? System.Web or HttpListener?

[2017-04-11 04:43] letrec commented on #49
Yes, it was a WindowsIdentity one.
Yes, HttpListener.

[2017-04-11 04:50] Tratcher commented on #49
If you let it run are they eventually collected when there's a big GC?

[2017-04-11 04:53] letrec commented on #49
If running with server GC the process eventually runs out of handles.

[2017-04-11 12:30] MaximRouiller commented on #50
Where? The code base is more than 10 lines of codes.

[2017-04-11 12:32] letrec commented on #50
Almost every await lacks it with very few exceptions.

[2017-04-11 12:46] Tratcher commented on #50
Why should we? It's not a cure-all, it's a tool for addressing a specific problem that we have not needed thus far.

[2017-04-11 12:52] MaximRouiller commented on #50
My understanding of `Awaitable` and `ConfigureAwait` is a bit far but I'll trust @Tratcher on this.

If there is a performance problem, it's always possible to run a benchmark and prove that a certain piece of code runs better with `ConfigureAwait(false)`.

[2017-04-11 12:54] MaximRouiller commented on #50
Nice SO thread that also talk about it that I found helpful:

http://stackoverflow.com/a/26681648/24975

[2017-04-11 13:06] letrec commented on #50
Actually it is quite the opposite - every await should have it unless the caller needs marshalling to the original context. Please cosider advise 6 from here https://blogs.msdn.microsoft.com/lucian/2013/11/22/talk-async-best-practices/.

[2017-04-11 13:12] MaximRouiller commented on #50
I'm wary of `micro-optimization` and the mention of the UI thread. Is there such a thing as UI thread in Katana? I haven't contributed to this project yet but the fact that there is no bug opened for this means that it was probably already evaluated and rejected.

[2017-04-11 14:54] Tratcher commented on #50
Indeed, we do not performance micro-optimizations unless something shows up in a performance profile. Feel free to do some profiling and let us know if you see any hot spots.

Closing this issue pending actionable data.

[2017-04-11 14:54] #50 closed

[2017-04-11 15:02] vrudakovskiy commented on #50
Hi,

Agree with @letrec, there should be `.ConfigureAwait(false)` in the code. A few articles below may help to shed the light on ConfigureAwait and SynchronizationContext.

1. https://particular.net/blog/async-await-tips-and-tricks
2. https://msdn.microsoft.com/magazine/gg598924.aspx

[2017-04-11 15:12] letrec commented on #50
https://channel9.msdn.com/Series/Three-Essential-Tips-for-Async/Async-library-methods-should-consider-using-Task-ConfigureAwait-false-

[2017-04-11 15:39] MaximRouiller commented on #50
That article mention that ConfigureAwait(false) is to be used extensively in GUI but ASP.NET does not have a UI thread per se. So it's invalid.

Deadlocks will only happen if you cross async code and sync code (eg. `Task.Wait(...)`) kind of way. If you do it properly, you don't have 2 threads waiting on each other through the `SynchronizationContext`.

Again... not really meaningful.

I do think t

[2017-04-11 21:35] jpsvedal commented on #38
My Facebook login works great after upgrading to version 3.1.0 but when register, the email will not return automatically.  This because the new Facebook API version requires me to request specific fields by name.
So i therefore changed from:
`app.UseFacebookAuthentication(
               appId: " xxxxx ",
               appSecret: " xxxxx ");
`
to
`app.UseFacebookAuthentication(new FacebookAuthen

[2017-04-11 22:17] Tratcher commented on #38
Change
`new FacebookAuthenticationOptions { AppId = Environment.GetEnvironmentVariable("xxxxx "), AppSecret = Environment.GetEnvironmentVariable("xxxxx "), `
to
new FacebookAuthenticationOptions { AppId = "xxxxx ", AppSecret = "xxxxx ", `
or define system environment variables facebook:appid=xxxx, facebook:appsecret=yyyy and set
`new FacebookAuthenticationOptions { AppId = Environment.GetEnvironme

[2017-04-11 22:42] jpsvedal commented on #38
Thanks @Tratcher, the application no longer provide error, but the application does not seem to return the email, instead my URL looks like this: `https://domain.com/Account/Login#_=_` after authenticated with Facebook.
I think this looks very similar to how it was before upgrading from 3.0.1 to 3.1.0.

[2017-04-12 12:04] Steffen007 opened #51 "Twitter Login hang up (in IdentityServer3)"
Hi,

In our solution we use Microsoft.Owin.Security.Twitter for external authentification. If you click the Twitter-Button for the external authentification the application will freeze. A redirect to Twitter is expected.
If you comment out EnableHttpLogging = true (see code), it will work.

I think, it's a deadlock. Please make it robust.

Thanks,
Steffen

**Additional information:**
- Facebook wo

[2017-04-13 00:00] slaneyrw commented on #10
Terminology - they have deprecated OAuth1 and OpenId **2.0**.  The current protocol is OpenId-Connect, not straight Auth2

[2017-04-13 11:12] YovavGad commented on #48
Thanks @Tratcher, it works like you said, when not specifying scopes, but without the email.

Is it scheduled to be fixed on v4 only or before that?

This is my requests, just in case it can help to resolve the bug:

[2017-04-14 13:22] Tratcher commented on #48
The next planned release is a 4.0 preview, I'll get this fixed by then.

[2017-04-14 21:28] elraider33 opened #52 "facebook login still failing"
I upgraded my project to version 3.1.0 and when I try to login with facebook I get an error. My other authentication(google) works fine

[2017-04-14 21:38] Tratcher commented on #52
What error? Turn on logging and also capture a network trace.

https://github.com/aspnet/AspNetKatana/issues/38

[2017-04-14 21:57] YovavGad commented on #52
Make sure all the Microsoft.Owin DLLs were updated to the new version, and check the version of the DLLs in your final bin folder

[2017-04-17 17:41] elraider33 commented on #52
I already review it and this is what i got:
   while in the version in the version 3.0.1 the returned values include first name, last name, email and others; in the version 3.1.0 the only returned values are the name and the Id. How can I have the other values?

Regards

[2017-04-17 17:48] Tratcher commented on #52
See this comment about Fields:
https://github.com/aspnet/AspNetKatana/issues/38#issuecomment-290400987

[2017-04-18 08:35] t00thy commented on #52
Hi, I don't have problem with authentication from Facebook, but I have problem with reading identities, when I am getting back to my pages. I have code like this:

[code]

This worked good before, but now, `user.Identity` has only windowsPrincipal. So user is authenticated in FB, but I can't read user e-mail and other info. Any tips?

[2017-04-18 11:08] t00thy commented on #38
I have problem with reading the identity from FB. My return url looks like this:
http://localhost:60723/signin-facebook?code=SOMELONGCODE#_=_

And I need to call facebook graph api with user id, but I can't read that from `GetOwinContext().Authentication.User`. It worked before.

How to set `User.Identity` to FB identity and Authenticate it?
When my login button is clicked, I call this:

[code]

a

[2017-04-19 08:08] VictorBlomberg commented on #27
This is a really important issue. Would be able to try to help, too.

Any input from maintainers?

[2017-04-19 16:09] Tratcher commented on #27
This is a non-starter due to at least three critical net45 dependencies:
1. Owin.dll
2. System.Web
3. HttpListener

There are discussions going for 1 and 3, but 2 isn't happening.

[2017-04-19 16:29] MaximRouiller commented on #27
From what I heard... 2 is an absolute no go.

It would break so many backward compatibilities it wouldn't be funny.

[2017-04-19 16:37] Tratcher commented on #27
If you got Owin.dll then you can port most of the libraries/middleware. If you get HttpListener then you can run self-hosted apps. System.Web isn't going to happen though, so you can't convert IIS hosted apps.

[2017-04-19 17:19] MaximRouiller commented on #27
The future is .NET Core if I got it right. Katana and Owin is all fun but if you want to run everywhere and be where the investment is? Core is the way to go.

[2017-04-20 02:55] Tratcher commented on #38
@t00thy can you share a Fiddler trace of your login flow?

[2017-04-20 06:41] t00thy commented on #38
@Tratcher Hi, I finally got it work by using `var loginInfo = Context.GetOwinContext().Authentication.GetExternalLoginInfo();` to load client info.

Now I have problem with login in on HTTPS. Getting 401 Unauthorized. But think, it would be problem with certificate on DEV machine.

**So my working code is:**
Startup.Auth.cs
[code]

When click on login button:
[code]

When returning from FB:
[code]

[2017-04-20 10:42] Suchiman opened #53 "Nuget Packages cannot be upgraded due to missing localizations"
Using a rather default setup of packages, you'll run into the error
[code]
When trying to upgrade to the v3.1.0 release with localizations installed.
Apparently the localizations aren't updated: https://www.nuget.org/packages/Microsoft.Owin.de/

[2017-04-20 13:26] damianh commented on #27
+ 1. 3 could be replaced with  Also the cookies middleware with its dependency on DPAPI is probably a no-go too.

(FYI I did this https://www.nuget.org/packages/KatanaNetStandard/ to unblock myself and team)

[2017-04-20 14:44] Tratcher commented on #53
Out of curiosity why are you using the localization packages? They only contain a few exception messages.

[2017-04-20 15:41] Suchiman commented on #53
To be honest, they were added through the default web template, so i've kept them. Now they're failing the update but they are many (probably over 10) and removing them all manually is tedious and i'm not certain which effect it will have.

[2017-04-24 16:38] EdoardoG commented on #53
I have the same problem with Italian localizations.

[2017-04-24 22:39] muratg commented on #53
Localized packages are just uploaded to nuget.org.  Indexing can potentially take a little time, but if you still have issues later today, please let me know.

[2017-04-24 22:39] #53 closed

[2017-04-24 23:21] EdoardoG commented on #53
Thank you very much

[2017-04-25 23:15] ZigMeowNyan opened #54 "DualWriter seems to have concurrency issues"
By default, OWIN hooks itself into the system logging in order to be helpful and catch all sorts of logging. However, because of this and some deficiencies of `DualWriter`, Owin is in the stacktrace of a lot of errors. And it seems to be actually causing some of them.

For my own project, in a high-volume environment, I'm getting the following stack trace in the event log (names sanitized):

[code

[2017-04-26 19:09] defrosted commented on #48
Do you think it will be possible to ship this fix as an update for v3.1?

[2017-04-26 19:10] Tratcher commented on #48
There is no update currently scheduled for v3.1 to include this in.

[2017-04-27 22:00] elraider33 commented on #52
I was able to use the new version . Thanks for the help.

[2017-04-27 22:00] #52 closed

[2017-04-29 14:03] solankisamir commented on #48
We recently upgraded to v3.1 the MSA nuget. For few of the Older Apps Sign-In flow is broken. New apps created using apps.dev.microsoft.com is working. Here is the request and response logs from the broken app.

[2017-05-07 01:16] luronumen commented on #48
I am facing the same issue in my ASP.NET MVC projects after update the Microsoft.Owin.x nuget packages from v3.0.1 to v3.1.0.

I have opened this question on ASP.NET forum but no fix solution until this moment:
[ASP.NET MVC 5 - Microsoft Account OAuth2 sign-on stop to work after update the Microsoft.Owin packages from v3.0.1 to v3.1.0](https://forums.asp.net/t/2120757.aspx?ASP+NET+MVC+5+Microsoft+

[2017-05-09 12:25] PatLac04 opened #55 "JwtFormat ignores TokenValidationParameters.ValidIssuer"
Hi,

In the `Unprotect` method of the `JwtFormat` class, it only validates against the `IEnumerable ValidIssuers` and ignores `ValidIssuer`. Shouldn't it concatenate it to the list of ValidIssuers before validating? Maybe it's by design?
[code]

[2017-05-09 19:58] CRuppert opened #56 "Twitter authentication middleware does not call the correct authenticate endpoint"
Repro:
1) Set up site with twitter auth using middleware
2) Attempt to log into said site with twitter on Android device with twitter installed
3) Twitter full client launches

This is caused by the redirect uri being set to https://twitter.com instead of https://api.twitter.com

The default https://twitter.com uri is used by the deep linking functionality of the app. This causes the app to handle

[2017-05-09 20:02] CRuppert commented on #56
If you like, I can fork and do a PR for this, but it seems silly for what amounts to be a 4 char change.

[2017-05-09 20:35] Tratcher commented on #56
Agreed, we'll take care of it.

Interestingly we've already fixed this in Core: https://github.com/aspnet/Security/blob/b7a5a6044d61ee2fa0625446b52ef4f181c08505/src/Microsoft.AspNetCore.Authentication.Twitter/TwitterHandler.cs#L28

[2017-05-10 11:05] wmmihaa opened #57 "Is it possible to add WsFederationAuthenticationOptions at runtime?"
I've been trying to add WsFederationAuthenticationOptions at runtime, letting site administrators adding trusts to external IP's.

[code]
But calling *HttpContext.GetOwinContext().Authentication.GetExternalAuthenticationTypes()* does not include the new option, hence the *owinCtx.Authentication.Challenge* will fail...

The code above is working from my startup class, but not at runtime. AndI don't

[2017-05-10 13:18] Tratcher commented on #57
No, that's not supported. Auth middleware are part of the app pipeline which is constructed once at startup. We've only just added a way to dynamically add auth providers in ASP.NET Core 2.0.0-preview1.

[2017-05-10 13:22] wmmihaa commented on #57
Thanks @Tratcher. And there is no work around at all?

[2017-05-10 13:26] Tratcher commented on #57
Nothing's impossible, but we haven't built anything to handle this scenario. You would need some custom middleware that let you shim in additional middleware at runtime.

[2017-05-10 14:41] wmmihaa commented on #57
(Last question)
Do you know if there is a way to reload the context from the AppBuilder. I assume this is done automaticly after the Startup:Configuration method is called. I've tried calling the AppBuilder:Build method, but it has no effect on the context...
Thanks

[2017-05-10 15:44] AntonStokoz opened #58 "NullReferenceException for expired cookie when identity is rejected"
Assume there is a cookie, and it is expired, sliding expiration is on, and code in method ValidateIdentity is rejecting identity. Flag _shouldRenew will still be set to true, and at the end of the request it will try to set cookie because of the flag, but there won't be identity and it will result in null reference exception when it will try to protect it.

`
        protected override async Task<

[2017-05-10 22:52] Tratcher commented on #57
I don't follow. Hosting takes the AppBuilder, calls build to create a request processing pipeline, and plugs that into the server. Calling AppBuilder.Build again produces a new pipeline, but it's not connected to the server.

[2017-05-10 23:05] Tratcher opened #59 "Set LangVersion 5 in projects to prevent use of incompatible language features"
https://github.com/aspnet/AspNetKatana/commit/b2b299dfcf771c3401cb8b9a2f46d373afa83dad#commitcomment-22034669

Katana uses some old build tools that do not support C#6+. Set `<LangVersion>5</LangVersion>` in Common.targets to prevent the use of these new language features.

[2017-05-12 12:15] Praveen-911 opened #60 "Getting Intermittent Invalid Redirect_uri while using MSA with AAD Convergence"
On providing the userid (Live/Outlook/Hotmail) we are being redirected to

https://login.live.com/err.srf?lc=1033#error=invalid_request&error_description=The+provided+value+for+the+input+parameter+'redirect_uri'+is+not+valid.+The+expected+value+is+'https://login.live.com/oauth20_desktop.srf'+or+a+URL+which+matches+the+redirect+URI+registered+for+this+client+application[.....]

which is basically e

[2017-05-12 15:10] Tratcher commented on #60
??? Those aren't spaces, those are non-printable control characters:
`U+200E	‎	e2 80 8e	LEFT-TO-RIGHT MARK`
http://utf8-chartable.de/unicode-utf8-table.pl?start=8192&number=128

How did you assign this in startup? It's a generated string: https://github.com/aspnet/AspNetKatana/blob/b850cd8b4de61e65bbd7127ce02b5df7c4cb6db5/src/Microsoft.Owin.Security.MicrosoftAccount/MicrosoftAccountAuthenticationH

[2017-05-12 22:04] muratg commented on #28
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:04] #28 closed

[2017-05-12 22:04] muratg commented on #34
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:04] #34 closed

[2017-05-12 22:04] muratg commented on #35
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:04] #35 closed

[2017-05-15 08:54] Praveen-911 commented on #60
Hi Tracther ,

I am reading from config file
 _redirectUri = ConfigurationHelper.GetStringValueFromConfig("XXXXXXX");

and assigning it under
app.UseOpenIdConnectAuthentication(new OpenIdConnectAuthenticationOptions
                {

                    ClientId = _clientID.Trim(),
                    Authority = _authority.Trim(),
                    RedirectUri=_redirectUri.Trim(),

Please Note

[2017-05-15 15:50] Tratcher commented on #60
Yeah, it looks like those characters are coming in from your config file. You should be able to verify that by inspecting _redirectUri. E.g. calling Uri.EscapeDataString(_redirectUri) should make those characters more visible.

As to why it only happens sometimes, I wonder if it only happens when the file is edited by a specific user / machine with international settings.

[2017-05-17 14:49] pradsin opened #61 "100% CPU In Owin Thread On Self Hosted WebAPI"
On Examining the threads which were taking high CPU, it was found out that all of those threads are stuck in accessing a Dictionary.

![highcpu](https://cloud.githubusercontent.com/assets/19728219/26160083/e9767f46-3b3d-11e7-8d3c-b3af666b6dc1.png)

Here is WinDBG CLRStack of all High CPU Taking Threads

Loading Dump File [E:\Shared\Logs\100%CPUYogi\3CLogicStarter_6.dmp]
User Mini Dump File with Fu

[2017-05-17 14:56] Tratcher commented on #61
Are those on the same dictionary instance?

There's a known issue with Dictionary where concurrent modifications from multiple threads can cause infinite loops. Are you trying to do any multithreaded operations on a single request?

[2017-05-17 15:07] pradsin commented on #61
I haven't checked the object references, probably all 4 threads have different Dictionary instances, I am thinking of wrapping the writes in a lock.

[2017-05-18 04:40] hobozero commented on #11
Hi Chris (@Tratcher),
Am I to understand that this addressed in [Katana 3.1 preview](https://github.com/aspnet/AspNetKatana/milestone/2?closed=1)?  I'm willing to add the workaround, cited above, but I'd otherwise like to keep it clean!
Cheers, Ty

[2017-05-18 11:50] Tratcher commented on #11
Yes, you can use https://www.nuget.org/packages/Microsoft.Owin.Host.SystemWeb/3.1.0. Note you still have to plug the new SystemWebChunkingCookieManager into the CookieAuthenticationOptions as shown in the workaround.
https://github.com/aspnet/AspNetKatana/commit/49b78c0874587832e01ba8cad23d9ce8e4f78f19#diff-92b168b3f5222ace0406d683417c1fa1R75

[2017-05-18 15:22] Tratcher commented on #61
Corrupting the context Dictionary should not be possible without threads operating on the same request concurrently. Multiple concurrent requests should have no effect on eachother. We need to track down where in your app you have multiple threads touch the context and deal with the problem there.

[2017-05-18 15:26] MaximRouiller commented on #61
@pradsin
I don't understand how the code above can cause issues if there's one request each. Unless it's called directly from code (aka: unit tests?)...

[2017-05-19 07:20] pradsin commented on #61
This code is called asynchronously from Ajax request in a HTML page and the page is calling multiple of such requests which are there in many other ApiController's. in the code.

I will try to create a Running Sample along with code to reproduce the Issue.

[2017-05-19 07:36] davidfowl commented on #61
Looks like dictionary corruption.

[2017-05-19 07:40] pradsin commented on #61
Yes it is dictionary corruption, question is will the performance be impacted if the reads and writes are put in lock.

[2017-05-19 07:46] davidfowl commented on #61
@pradsin We're not going to lock the request dictionary, you shouldn't be using it on multiple threads.

[2017-05-19 12:46] pradsin commented on #61
I have written this small sample, it has a server and a client, if you run server and run the client, the issue can be reproduced.

There can be multiple clients accessing the server, there are chances of the dictionary getting corrupted.

[OwinSelfHost.zip](https://github.com/aspnet/AspNetKatana/files/1014249/OwinSelfHost.zip)

[2017-05-19 13:09] MaximRouiller commented on #61
This is not from a minimum repro but it's close. Can you remove more code that doesn't impact this behavior?

It looks like it's in the RestAuthenticationHandler.

[2017-05-19 13:59] Tratcher commented on #61
I see a lot of unnecessary calls to Task.Run, but they all get awaited so that shouldn't break anything.

[2017-05-19 14:13] MaximRouiller commented on #61
@Tratcher

The only thing I see written to the context is the Response object properties.

Otherwise, read operations shouldn't cause race conditions.

[2017-05-19 14:16] Tratcher commented on #61
Depends on the properties. Reads can cause races if they trigger lazy operations that modify the context.

[2017-05-19 14:17] MaximRouiller commented on #61
@pradsin
[code]

I don't understand why you have a `Task.Delay(0)` here.

Can you return `Task.FromResult(null)` instead?

[2017-05-19 14:23] MaximRouiller commented on #61
Do we have that in the fx? Because that's bad. :wink:

Source: Framework Design Guidelines

[2017-05-19 15:55] davidfowl commented on #61
Avoid using the http context on background threads 👍

[2017-05-19 16:17] pradsin commented on #61
@MaximRouiller @davidfowl  @Tratcher I will make changes as you have suggested and retest.

[2017-05-19 18:37] pradsin commented on #61
Made Changes and the Issue is still reproducing

        public override Task Invoke(IOwinContext context)
        {
            context.Response.StatusCode = (int) HttpStatusCode.NotFound;
            context.Response.ReasonPhrase = "Resource Not Found";

            return Task.FromResult<object>(null);
        }

@davidfowl  you suggested to avoid using http context, I wan't to know if I have t

[2017-05-19 18:39] MaximRouiller commented on #61
@pradsin

`Task.Run(...)` will run anything in a separate thread.

[2017-05-19 21:42] pradsin commented on #61
I removed all the middle wares except for Authentication everything, not setting any HTTP Response Headers.

Tried non Async model

But the issue is still happening

[2017-05-19 21:43] Tratcher commented on #61
Push the current version to a github repo? That's easier to browse than a zip.

[2017-05-19 21:52] pradsin commented on #61
https://github.com/pradsin/Owin100PercentCPU

[2017-05-19 21:58] pradsin commented on #61
![highcpu](https://cloud.githubusercontent.com/assets/19728219/26268302/63058d50-3d0c-11e7-8bf7-d92fe96e0cb9.png)

Proof that, its still happening.

[2017-05-19 22:37] Tratcher commented on #61
Better, thanks. I assume it stops reproing if you remove RestAuth?

You can remove this Task.Run: https://github.com/pradsin/Owin100PercentCPU/blob/master/OwinSelfHost/Middlewares/RestAuthenticationHandler.cs#L37, you can do all of this with Task.FromResult.

Can you get a current dump with thread stacks reflecting your reduced app? I wonder if they're still in the same place.

[2017-05-20 16:14] pradsin commented on #61
Made changes as suggested by you but still all 7 threads were stuck exactly looping same dictionary.

Current frame: (MethodDesc 7158d97c +0x150 System.Collections.Generic.Dictionary`2[[System.__Canon, mscorlib],[System.__Canon, mscorlib]].Insert(System.__Canon, System.__Canon, Boolean))
ChildEBP RetAddr  Caller, Callee
05ccf110 71859e90 (MethodDesc 7158d904 +0x10 System.Collections.Generic.Dictio

[2017-05-20 16:54] davidfowl commented on #61
@pradsin can you push the updated code?

[2017-05-22 04:07] pradsin commented on #61
@davidfowl  The test code pushed @ https://github.com/pradsin/Owin100PercentCPU

[2017-05-22 10:19] Tratcher commented on #61
Found it. You're sharing a single RestAuthenticationHandler where it's supposed to create a new one per request. This may lead to auth being performed against the wrong request, let alone multi-threading corruption.
https://github.com/pradsin/Owin100PercentCPU/blob/master/OwinSelfHost/Middlewares/RestAuthentication.cs#L18-L27
https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Secur

[2017-05-22 14:00] pradsin commented on #61
@Tratcher, Thanks, the changes you suggested are working, I don't see any dictionary corruption now.

Can this be documented so that others do not face this..

Thanks once again

[2017-05-23 12:15] MaximRouiller commented on #61
@Tratcher Is there a guide to writing middleware for .NET Core? As in, do's and don'ts?

Somewhere where this nugget of knowledge (known the the .NET Team) could be shared with the uninitiated? If not, is there enough to know about middleware to warrant such a page?

[2017-05-23 13:15] Tratcher commented on #61
Yeah, our auth middleware advice to date has been to copy the Facebook provider and tweak it to your needs. I don't think we have comprehensive auth middleware authoring docs anywhere, but there have been several good writeups about it: https://coding.abel.nu/2014/06/writing-an-owin-authentication-middleware/

@MaximRouiller you know this isn't a .NET Core project, right? Just checking.

[2017-05-23 13:29] MaximRouiller commented on #61
Obviously. :innocent: :roll_eyes:

[2017-05-23 13:31] MaximRouiller commented on #61
Joke asides, would a documentation be helpful generally? Is that something worth investing on?

[2017-05-23 23:06] Tratcher commented on #61
Hard to say. 90% of our customers consume pre-built auth providers so that's what our docs focus on. Those writing their own are doing so because they have custom requirements. So far there's been few enough of those that we can work with them directly.

[2017-05-24 07:17] tstojecki opened #63 "Non form_post server response"
I understand that by default this version of OIDC middleware (.net 4.5.1) assumes the response_mode is form post which has worked well for us with Azure. We are now being asked to integrate with another OIDC authorization server that supports hybrid flow, however the server's response to a hybrid flow OIDC request is always with a encoded url fragment. Per Dominic's post, this does appear to be a

[2017-05-24 12:09] MaximRouiller commented on #61
@Tratcher so it may be worth a blog post if anyone wants to tackle that. :smile:

You know... something written on a napkin. Not the kind that SO does when switching to SSL.

[2017-05-24 12:34] Tratcher commented on #61
There are several for Microsoft.Owin and ASP.NET Core 1.0. We'll need some new ones for ASP.NET Core 2.0 though, authoring has changed significantly.

[2017-05-24 12:37] Tratcher commented on #63
Fragments are for client apps, they are never transmitted to the server so there's nothing you can do to handle them in the middleware. You would use a client side SDK together with something like the OAuthBearer middleware instead.

[2017-05-24 18:00] Andrei- opened #64 "Facebook relogin with more permissions?"
This is not a bug, but can't seem to find a nice way to solve the problem, so I'm asking here.
I use Facebook login form my users, so, they are asked to authorize basic permissions (email, name) at login. And these permissions are set in app startup with a FacebookAuthenticationOptions object.
But for a small group of users I need to request more permissions from Facebook, (facebook page, cover, e

[2017-05-24 19:32] Yassine-Khechane opened #65 "Owin : Unauthorised webapi call returning login page rather than 401"
In my mvc application, i've configured OpenIdConnect and CookieAuthentication middlewares.

When i trigger web api call from ajax, the web api, depending on the inputs data, returns Unauthorized  code, the problem is that the request is captured and transformed to 302 to display the login page !

[2017-05-25 05:42] tstojecki commented on #63
Thanks @Tratcher
Are you referring to anything specific for the client side SDK or just in general a js library that handles OIDC response?

[2017-05-25 12:21] Tratcher commented on #63
I was referring to provider specific SDKs like ADAL:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-authentication-libraries

[2017-05-25 14:02] greatvovan opened #66 "HttpRequestException on sending response"
I use Swashbuckle to expose HTTP API in my service (self-hosted web application). From time to time I see in log errors like this:

[code]

It reports that IO operation was aborted, altough client receives response completely and does not notice any problems.

I am posting the issue here because Swashbuckle uses Owin under its hood and stack trace points to Owin's code.

Initially I came across th

[2017-05-25 14:41] Tratcher commented on #65
If you have them set to Active then they will trigger logins for 401 responses. Are you getting the OIDC or Cookie login page? If it's OIDC then you either need to set that to not Active, or explicity challenge Cookies and then this logic will take over:
https://github.com/aspnet/AspNetKatana/blob/b850cd8b4de61e65bbd7127ce02b5df7c4cb6db5/src/Microsoft.Owin.Security.Cookies/Provider/DefaultBehavior

[2017-05-25 14:53] Tratcher commented on #64
You can do this either with two Facebook middleware that have different auth scheme names and options, or you can override the authorization redirect in https://github.com/aspnet/AspNetKatana/blob/b850cd8b4de61e65bbd7127ce02b5df7c4cb6db5/src/Microsoft.Owin.Security.Facebook/Provider/FacebookAuthenticationProvider.cs#L21

[2017-05-25 15:21] #63 closed

[2017-05-25 19:06] Yassine-Khechane commented on #65
Its OIDC middleware that catch the 401 and turn it to 302, when I disable it (set the authentication mode to passive), I get 401 from my api, the problem is when I request a secure page on my application, I get also a 401 instead of redirecting the user to the login page.
If I explicitly request the login page and set the challenge type (owinContext.Authentication.Challenge(authenticationPropertie

[2017-05-26 09:57] Yassine-Khechane commented on #65
Thanck you for your help, it works now..., i changed my custome auth attribute

 public void OnAuthorization(AuthorizationContext filterContext)
        {
                if (!filterContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    filterContext.HttpContext.GetOwinContext().Authentication.Challenge("oidc");
                    filterContext.Result = new Syste

[2017-05-29 09:18] imvigo opened #67 "OAuth authentication in Asp.Net MVC 4.5"
Hi,
I have an ASP.NET MVC web application running on .NET Framework 4.5. I want my application to be able to use OAuth protocol of Linkedin to allow a user to authenticate into the application using Linkedin identity.

I am not able to find any Owin module for implementing this. I could only find _app.UseOAuthAuthorizarionServer_ and _app.UseOAuthBearerAuthentication_. The first one is for impleme

[2017-05-30 02:53] Tratcher commented on #67
Have you looked at these?
https://github.com/TerribleDev/OwinOAuthProviders/tree/master/src
https://www.nuget.org/packages/Owin.Security.Providers.LinkedIn/

[2017-05-30 03:07] imvigo commented on #67
Using these, I am not able to sign my assembly. It says these references are not strongly-named.

[2017-05-30 03:10] Tratcher commented on #67
Your next best option is to clone that implementation into your project, licence permitting.

[2017-06-05 07:41] davidshen84 opened #68 "The MSDN API points to an empty page"
On the WIKI page, the MSDN links to a page with only the following line:

    The topics in this section describe the public namespaces, classes, and interfaces that support Microsoft OWIN components.

How can people learn the API from this sentence?

[2017-06-05 07:53] Tratcher commented on #68
https://github.com/aspnet/AspNetKatana/wiki

@davidshen84 I updated it to point to this one instead:
https://msdn.microsoft.com/en-us/library/microsoft.owin(v=vs.113).aspx

@tdykstra any idea what happened to the content at this link?
https://msdn.microsoft.com/en-us/library/dn253840(v=vs.113).aspx

[2017-06-05 15:19] tdykstra commented on #68
@Tratcher I don't know what happened to dn253840, but
https://msdn.microsoft.com/en-us/library/mt152002(v=vs.113).aspx
looks like a closer match for it than
https://msdn.microsoft.com/en-us/library/microsoft.owin(v=vs.113).aspx

@Rick-Anderson do you know how to get the dn253840 URL to forward to mt152002?

[2017-06-06 02:10] bbowyersmyth opened #69 "DeleteCookie doesn't set HttpOnly and Secure flags"
Picked up by automated security scanners (yes I know) that the cookie is missing these flags. Although not an actual problem I think these could pass on the options the same as when setting an actual value.

https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Host.SystemWeb/SystemWebCookieManager.cs#L132

[2017-06-07 07:37] ahokkonen-dev opened #70 "OpenIdConnect.nonce cookie lost on redirecting back to client from IdentityServer on Microsoft.Owin 3.1.0"
Hi,

we having some issues in production with missing authentication cookies after upgrading Microsoft.Owin.* libraries to 3.1.0 (been on 3.0.1) even with using different CookieManager provided by assembly.

The problem detected only on several (lets say 10 of 100) machines using FireFox/IE/Edge -browsers, but never on Chrome. During debug we see that OpenIdConnect.nonce cookie is setted well on c

[2017-06-07 08:52] YovavGad commented on #70
I'm experiencing some issue too, but not exactly sure if it is related or not, on some operating systems (Linux, Linux X11, iOS) also Chrome, currently using Microsoft.Owin.3.1.0 v3.1.604505.82

This is weird because I'm only getting this on some OS/devices:

Stack Trace

[2017-06-07 09:29] ahokkonen-dev commented on #70
No sure it is directly related to our problem, but it may.
In our situation the exception is standard, thrown from OpenIdConnectAuthenticationNotifications AuthenticationFailed -method:

Some kind of nonce overflow usually related to IDX10311 error, but not in our case.

[2017-06-09 23:02] Tratcher commented on #69
We avoid making non-functional product changes as they can often have un-intended consequences.

[2017-06-09 23:02] #69 closed

[2017-06-12 23:31] muratg commented on #23
Backlogging for now. We can bring this back if there's enough interest.

[2017-06-12 23:32] muratg commented on #31
@SergeyKanzhelev I assume you got unblocked, so closing this. But if that's not the case, let me know and I'll reactivate.

[2017-06-12 23:32] #31 closed

[2017-06-12 23:35] muratg commented on #60
@Praveen-911 closing this one as it looks like a problem with your side (e.g. someone editing the file.)  If you still have problems, please feel free to file another issue. Thanks.

[2017-06-12 23:35] #60 closed

[2017-06-12 23:38] muratg commented on #68
*ping* @Rick-Anderson

[2017-06-12 23:42] Rick-Anderson commented on #68
@tdykstra  can you redirect dn253840 URL to forward to mt152002?

[2017-06-13 00:02] tdykstra commented on #68
@Rick-Anderson - Ha, I asked you first :smiley:
I'm not aware of a way to do that; I guess we'll have to open a sitehelp ticket.

[2017-06-13 03:42] tdykstra commented on #68
[Work item](https://mseng.visualstudio.com/VSChina/_workitems?id=1016932) created.

[2017-06-13 05:32] ysmoradi commented on #31
Using something like HttpContext.Current is not a good idea at all. It does not work outside IIS, and inside IIS it has a lot of limitations. I've configured Owin, web API, OData, signalr, entity framework with Autofac, and I pass a per request instance of my own ILogger into all classes I need logging using constructor injection, so in my continueWith call I've a direct reference to my ILogger. C

[2017-06-13 05:33] ysmoradi commented on #31
Remember that things have changed too in .NET Core. my approach is working fine on .NET Core 2 too

[2017-06-13 18:37] fwhenin opened #72 "MachineKey.Unprotect failing"
Hi, I haven't been able to get past this point. we first found this issue when we realized the sliding expiration isn't working at all. brought the code in from Github to test and found that the MachineKey.Unprotect(protectedData, _purposes) is throwing a Cryptographic Exception with the message "Error occurred during a cryptographic operation". I tried using NEW Machine Keys with the same issue.

[2017-06-13 18:40] muratg commented on #68
Thanks @tdykstra and @Rick-Anderson.  Closing this one external.

[2017-06-13 18:40] #68 closed

[2017-06-14 11:48] ferronicardoso opened #73 "Security Exception"
Hi Developers

I'm developing two projects, one ASP.NET MVC and one Web API, both using Framework 4.5.2, nothing different from what we traditionally used in our projects. These common projects use Owin and the public on a server where it is set up as Medium Trust, send the error below:

`Exception Details: System.Security.SecurityException: Request permission of type 'System.Security.Permissions.

[2017-06-14 12:06] Tratcher commented on #73
Partial trust was deprecated years ago and is unsupported.

[2017-06-14 13:20] MaximRouiller commented on #73
Reminds me of my SharePoint years.

Is the concept of full trust still supported? I know SharePoint used to make a big case out of it.

[2017-06-14 14:18] Tratcher commented on #73
Full trust is the only supported mode.

[2017-06-14 14:22] ferronicardoso commented on #73
So in my case, the host only only accepts _Medium Trust_ and **Microsoft.Owin.Host.SystemWeb** causes an Exception.

[2017-06-14 14:28] MaximRouiller commented on #73
From Levi:
https://stackoverflow.com/questions/16849801/is-trying-to-develop-for-medium-trust-a-lost-cause

Quoted comment here:

And that was 4 years ago. I would, personally, reconsider my host if it can't keep up with Microsoft security guidance.

[2017-06-14 14:31] ferronicardoso commented on #73
Well, now I get it. Microsoft recommends reviewing the appropriate insulation instead of using Medium Trust.

[2017-06-14 14:33] MaximRouiller commented on #73
Medium trust wasn't doing what it was supposed to do.

As it should have been from the start, we should rely on the security feature of the OS to allow or not certain operations. This is what the KB is basically saying.

What your bug is telling me, is that your hoster is still using Medium Trust as a security feature which is completely wrong. Could you share the name please? Would love to avoid

[2017-06-14 14:41] ferronicardoso commented on #73
@MaximRouiller

Yes, I can share the name. Since the company was one that always followed the recommendations of Microsoft and today still insisted on following the same restrictions. I opened a call with technical support to request the release (which I believe will not occur) to review this rule. If they do not release, I will consider the host switch.
The company is **Locaweb** (www.locaweb.com

[2017-06-14 14:44] MaximRouiller commented on #73
@ferronicardoso

If you are changing host, take the time to price and consider Azure. If you are hosting your clients, Elastic Pools allows you to share the load of multiple database over one pool of data with an easy migration path to a dedicated database.

Same thing can also be done with Multiple AppServices over Hosting Plan.

Can be a real cost saver.

[2017-06-14 14:46] ferronicardoso commented on #73
Thanks, I'll evaluate your suggestion.

[2017-06-15 11:38] ArtemAvramenko opened #74 "Server cannot append header after HTTP headers have been sent"
Occasionally CookieAuthenticationHandler throws HttpException:

        Exception type: HttpException
        Exception message: Server cannot append header after HTTP headers have been sent.
       at System.Web.HttpHeaderCollection.SetHeader(String name, String value, Boolean replace)
       at Microsoft.Owin.Host.SystemWeb.CallHeaders.AspNetResponseHeaders.Set(String key, String[] values)

[2017-06-15 18:39] Tratcher commented on #74
Looks like http://katanaproject.codeplex.com/workitem/472

[2017-06-16 06:11] psillar commented on #48
I am also facing this issue. I can't get the MS account auth to work even with no scopes. Whenever the client returns to the `/signin-microsoft` endpoint it redirects and returns the `access_denied` error. I've taken a look at the Katana.trace.log and see the following:

That doesn't make sense - I cannot see any 400 errors (looking at fiddler all I see is 200s then 302s - in fact I can even see a

[2017-06-16 20:50] Tratcher commented on #48
The 400 is happening on the backchannel. The server/middleware sends requests to microsoft to exchange the code and to get user information. To capture that traffic you can use a network level tracer like Message Analyzer https://www.microsoft.com/en-us/download/details.aspx?id=44226.

[2017-06-19 08:40] scrivuk opened #75 "OpenIdConnectAuthenticationHandler uses incorrect order of parameters for string.format when an error has been received in an open id connect message"
Lines starting 252 of OpenIdConnectAuthenticationHandler.cs:
`throw new OpenIdConnectProtocolException(
      string.Format(CultureInfo.InvariantCulture,
                    openIdConnectMessage.Error,
                    Resources.Exception_OpenIdConnectMessageError, openIdConnectMessage.ErrorDescription ?? string.Empty, openIdConnectMessage.ErrorUri ?? string.Empty));`

The openIdConnectMessage.

[2017-06-19 11:32] ArtemAvramenko opened #76 "Could not load type 'System.IdentityModel.Tokens.TokenValidationParameters'"
I upgraded nuget packages:
- Microsoft.IdentityModel.Tokens, Version=5.1.4.0
- Microsoft.Owin.Security.OpenIdConnect, Version=3.1.0.0

and got an error:
[code]

Is OWIN compatible with latest IdentityModel?

[2017-06-19 11:33] ysmoradi commented on #76
You've to install latest RC version

[2017-06-19 11:40] ArtemAvramenko commented on #76
@ysmoradi I isntall 3.1.0-rc1 - same error

[2017-06-19 15:51] Tratcher commented on #76
IdentityModel 5.x is not compatible. We're working on it.
https://github.com/aspnet/AspNetKatana/issues/7

[2017-06-19 15:51] #76 closed

[2017-06-20 03:43] Tratcher commented on #75
Note this has been addressed in the ASP.NET Core version:
https://github.com/aspnet/Security/blob/879f0b7f4053a34b44e34bd22c788c6129115175/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L1214

[2017-06-20 07:14] ElisaDuma commented on #48
Hello

I have the same issue described in this topic. I used the workaround for email retrieve using "userPrincipalName" and it works. Still, I encounter another problems when having a gmail account which is linked to the Microsoft account(first gmail account is created). In the previous version (3.0.1) the provider was Google and now the provider is Microsoft (claims.Current.OriginalIssuer). The

[2017-06-20 19:02] AdamDotNet opened #77 "Anti Forgery Token Issue with .Net 4.7"
See: IdentityServer/IdentityServer3/issues/3741

I know IdentityServer3 is built as an OWIN component, but I'm not terribly sure if this is the right place to ask this.

In short, the referenced issue is that after upgrading the *server* to .Net 4.7 (Windows Server 2012 R2, was .Net 4.6.2, up to 4.7, app is still compiled to .Net 4.6.2), the Anti Forgery token isn't being sent in the cookie header

[2017-06-20 19:11] Tratcher commented on #77
Katana (Microsoft.Owin) doesn't deal with Anti Forgery Tokens. You're likely having a problem with System.Web or MVC. @Eilon?

[2017-06-21 18:25] smichtch opened #78 "Clicking links from MS Office apps: "IDX10311: RequireNonce is 'true' (default) but validationContext.Nonce is null.""
When users click on links in documents from native MS Office apps (notably Word, Excel, PowerPoint but not Outlook or OneNote) and the linked web app is using the `OpenIdConnectMiddleware` this error pop up:

    [OpenIdConnectProtocolInvalidNonceException: IDX10311: RequireNonce is 'true' (default) but validationContext.Nonce is null. A nonce cannot be validated. If you don't need to check the no

[2017-06-21 18:28] Tratcher commented on #78
Duplicate of https://github.com/aspnet/Security/issues/1252, closed as external.

[2017-06-21 18:28] #78 closed

[2017-06-22 03:29] psillar commented on #48
Could someone please clarify where I should be extracting the `userPrincipalName`? I'm currently doing it in the overridden `Authenticated` method of the custom `Provider` in my `MicrosoftAccountAuthenticationOptions` but that code doesn't get hit before I get an error...

[2017-06-22 03:40] ShenglinGuo commented on #48
I do not know if following is the correct way of doing it, but it works for us. We just wanted the email address

var ms = new MicrosoftAccountAuthenticationOptions
            {
                AuthenticationType = "Microsoft",
                SignInAsAuthenticationType = signInAsType,
                ClientId = MSID,
                ClientSecret = MSSecrete,
                Provider = new Micros

[2017-06-22 03:58] psillar commented on #48
Thanks @ShenglinGuo
I've just attempted to do it that way but, unfortunately, the `OnAuthenticated` code is never hit :(
I'll have to see if I can see any errors in the backchannel using Message Analyzer - that thing is confusing!

[2017-06-26 07:33] rzontar opened #79 "Facebook and Google Middlewares not using ICookieManager for CSRF"
Although the Middlewares provide the option to pass in a custom `ICookieManager` the implementation does not use the overloads of `GenerateCorrelationId` and `ValidateCorrelationId` which would receive an `ICookieManager` as the first parameter thereby ignoring the passed in option.

See Example:
https://github.com/aspnet/AspNetKatana/blob/release/src/Microsoft.Owin.Security.Facebook/FacebookAuthe

[2017-06-26 13:57] Tratcher commented on #79
Fair point. Want to send a PR (to the dev branch)?

Luckily that's not the code path where we've had as many issues and needed the SystemWebCookieManager workaround.

[2017-06-26 19:44] #79 closed

[2017-06-28 16:12] marcosbg opened #82 "Infinite loop after authentication using Microsoft.Owin.Security.WsFederation"
Authentication occurs correctly, when STS tries redirects to my application a infinite loop starts.

Looking at the requests, we figured out that the problem was caused by cookies' path using a diferent casing from the URL typed by user.

We noticed that the problem occurs when we use the version 3.0.1 or higher of the Microsoft.Owin.Host.SystemWeb.

With older versions the final redirect is made

[2017-06-28 16:21] Tratcher commented on #82
You're setting a custom CookieAuthenticationOptions.Path, correct?
https://github.com/aspnet/AspNetKatana/blob/ddefa9ec120ec40a039e4c03bd02b5b28afa6167/src/Microsoft.Owin.Security.Cookies/CookieAuthenticationOptions.cs#L59
https://github.com/aspnet/AspNetKatana/blob/ddefa9ec120ec40a039e4c03bd02b5b28afa6167/src/Microsoft.Owin.Security.Cookies/CookieAuthenticationHandler.cs#L142

You could hook into

[2017-06-28 17:28] Tratcher commented on #55
I asked the IdentityModel owners and they said they check both the Issuer and Issuers during validation, so this doesn't need to special cased at our layer.  Have you seen the value get ignored at runtime?

[2017-06-30 07:57] kinglywork opened #83 "Should OAuthAuthorizationServerHandler directly change signin.Properties in ApplyResponseGrantAsync?"
Target assembly: Microsoft.Owin.Security.OAuth
Version Info: 3.0.1

In OAuthAuthorizationServerHandler.ApplyResponseGrantAsync, it directly change signin.Properties which is shared for each ClaimsIdentity in AuthenticationResponseGrant.Principal.Identities, should'nt it deep clone a new signin.Properties and use it.

The problem scenario will like this:
If I register AuthenticationMiddleware like

[2017-07-03 18:20] AdamDotNet commented on #77
Well, thanks for trying to ping Eilon, but I guess he was too busy? I just hit this exact road block again, this time during development and I can't actually move forward on debugging what I need to unless I rebuild my VS environment in a virtual machine not running .Net 4.7... It's such a strange bug and I don't know who to turn to.

[2017-07-04 04:17] KranthiKiranerusu commented on #72
We are currently facing a similar issue with Machine.UnProtect on our webroles.
We made sure that the same machine key and the purpose is used at all the webroles. We are using 3.0.0 of Microsoft.Owin.Host.SystemWeb
But this error occurs  intermittently.
Any pointers what could be the  issue?

[2017-07-05 12:53] Meyce commented on #70
We've been encountering an issue with IDX10311, except for us a set-cookie is not being issued with the nonce cookie and upon successful login at the IDP and redirect back to client, there is no nonce cookie resulting in IDX10311.  Also, this does not consistently happen for us, making it more difficult to pin down.

[2017-07-05 12:56] Meyce commented on #70
@ahokkonen-dev, have you checked to see if the nonce cookie is expired?  I just checked on 3.1.0 the expiration on the cookie is 15 minutes, so if you sat at the login for more than 15 minutes you could get IDX10311.

[2017-07-06 22:51] jkang027 opened #84 "AppBuilderUseExtensions.Use has to be explicitly called in VB."
AppBuilderUseExtensions.Use extension method cannot be used in VB (except by calling it explicitly) because its name conflicts with an instance method ( IAppBuilder.Use ) that accepts any number of object parameters and, thus, will always take precedence.

Probably due to the fact that lambda expressions can be implicitly converted to delegates in VB. This code works for C#.

    app.Use(async (co

[2017-07-07 09:46] AjmalVh commented on #48
Facing same issue here 😞

[2017-07-07 10:24] ahokkonen-dev commented on #70
@Meyce , cookie expiration is not what causing it in our case. Tried to login right after we landed on IDP login page and on redirect back nonce cookie is already missing.

As in your case this happens on rare occasion and we completely out of ideas which direction we need to dig in :)

[2017-07-07 22:42] psillar commented on #48
Turns out I had missed that the API has been updated (and v3.1 must use that updated version). Once I signed up for a new app account ([https://apps.dev.microsoft.com](https://apps.dev.microsoft.com)) then it worked for me, with the workaround (haven't tried without).
It would be nice if it gave a more helpful error message. I spent days troubleshooting it and trying different approaches. It seems

[2017-07-07 23:00] YovavGad commented on #48
psillar is may work for you if you're not trying to extract email information, that part doesn't work.

[2017-07-07 23:02] AdamDotNet commented on #77
I found out it's definitely got to be System.Web or MVC. Refer to my comments in the linked issue in the original post. In short, Asp.Net 4.7 is only sending 1 of 2 anti forgery tokens, each with different names, instead of both like Asp.Net 4.6.x did. I'm not sure how to debug further into Asp.Net to see why this happens...

Anyway, I'll close this issue as it's definitely not Katana/Owin.

[2017-07-07 23:02] #77 closed

[2017-07-08 06:24] psillar commented on #48
Oh, with the workaround it works for me - I get the email information that way or am I missing something?

[2017-07-08 07:31] YovavGad commented on #48
Hi @psillar, I just tried it but it's not working for me, just to be sure, can you go to your bin folder and locate Microsoft.Owin.dll then right click it --> properties --> details --> file version - do you have 3.1.60405.82 ?

[2017-07-09 17:34] DerAlbertCom commented on #43
The Problem is that it is not possible to identity the current user, because the signout callback is done on an iframe. so the auth cookie will not be send reliable (only if 3rd Party Cookies are allowed, or the IdServer is in the trusted sites on IE). But with no Cookie, it is not possible to check if the signout request ist Valid. So how to do this?

[2017-07-10 02:10] psillar commented on #48
Hi @YovavGad, yes that's the version I'm using. I do the email capture a bit differently, however:

[code]

[2017-07-10 02:53] YovavGad commented on #48
This is what I was trying but my email comes out empty...

[2017-07-10 03:30] psillar commented on #48
Ok, when I created the app credentials in apps.dev.microsoft.com I selected the 'email' Delegated Permission under Microsoft Graph Permissions. I'm not sure if that makes a difference?

[2017-07-10 12:32] MichaelaIvanova commented on #38
I got it working thanks to : https://stackoverflow.com/questions/43058355/version-deprecation-facebook-graph-api-v2-2/43148543#43148543

I also updated to 3.1.0 and added the following properties:
[code]
and the back channel class:
[code]

[2017-07-10 12:55] Tratcher commented on #38
@MichaelaIvanova you really shouldn't need any of that stuff with 3.1.

[2017-07-10 12:59] MichaelaIvanova commented on #38
@Tratcher I tried but works only with them

[2017-07-10 13:01] Tratcher commented on #38
What doesn't work without them? Do you get a specific error in the logs?

[2017-07-10 13:02] joaomatossilva opened #85 "Oauth - Tokens and codes are created too late?"
HI,

The Tokens and the authorization codes that are created on each provider, are being called only on the `OnSendingHeaders` event.

Should this be the correct time to create the codes?

The way I see it, at this time, most of the asp.net request is already finished, and thus a IoC containers are or have already disposed their lifetimescope, making it hard to create providers per request (the on

[2017-07-10 13:15] MichaelaIvanova commented on #38
@Tratcher in the callback action method (ExternalLoginCallback)
`  var loginInfo = await OwinContext.Authentication.GetExternalLoginInfoAsync();`

loginInfo is always null if I haven't included the following properties:
[code]

[2017-07-10 13:18] Tratcher commented on #38
Did you try the new Fields API shown above? https://github.com/aspnet/AspNetKatana/issues/38#issuecomment-290199221

[2017-07-10 13:24] Tratcher commented on #43
@DerAlbertCom If that's true then the spec itself is flawed. Do you have this problem in other browsers?

[2017-07-10 14:30] DerAlbertCom commented on #43
@Tratcher yes, the openid spec is flawed in my opinion, for GET based sign outs. Maybe that's the reason that there is also a backchannel signout specified.

Modern browser don't send 3rd party cookies to avoid tracking. So if the Identity Provider (like IdentityServer3/4) is running on a different Domain, and is trying to log out the client it is done via a simple iframe which calls the signout u

[2017-07-10 16:10] CZEMacLeod commented on #77
@AdamDotNet Just curious if the Anti-Forgery tokens issue is related to the issues with Katana/OWIN cookies and System.Web cookies sometimes causing problems?
Slightly worried if we will have problems when 4.7 is installed on our servers. (Need to do some testing!)

[2017-07-10 21:16] fpintos opened #86 "OAuthBearerAuthenticationHandler does not respect ValidateLifetime from TokenValidationParameters"
I'm trying to debug how an application handles a particular token, which happens to be expired.
In order to let it thru, I'm setting the TokenValidationParameters.ValidateLifetime to false in my debug session.

This allows the token to get past the validation in the token handler, but OAuthBearerAuthenticationHandler still fails saying the token is expired.

**Expected**: if lifetime validation is

[2017-07-10 23:20] Tratcher commented on #43
@brentschmaltz ?

[2017-07-11 00:48] fpintos commented on #86
I worked around this by having my own token handler and removing the 'exp' claim while debugging.

[2017-07-11 08:06] svhero658 opened #87 "Changing name of correlation cookie in security middleware"
Cause the cookie name in Generate/ValidateCorrelationId method is hard coded, I found no way to change that in my application. Similarly there is a issue in aspcore for your reference: https://github.com/aspnet/Security/issues/1033

[2017-07-11 13:58] Tratcher commented on #87
aspnet/Security#1033 was recently fixed for ASP.NET Core 2.0. There are not currently plans to backport the change.

[2017-07-11 17:49] jamesbascle commented on #48
So, what's the deal with this?  I'm having some trouble making this work at the moment - my request is being sent back to path /#error=access_denied.

This seems to happen after the execution of the OAuthAuthorizationServerProvider library where I call context.Validated(), but before it ever hits my WebApi code.  I tried the OnAuthorized function as suggested by psillar and ShenglinGuo, but it doe

[2017-07-11 19:16] BigShotSpicyMan opened #88 "Line 480 of InvokeTokenEndpointAsync() in class OAuthAuthorizationServerHandle in Microsoft.Owin.Security.OAuth"
I have a puzzling exception being thrown--- it occurs almost like clockwork every 25-30 minutes -- here is the stack trace from the event viewer:

Exception information:
    Exception type: TaskCanceledException
    Exception message: A task was canceled.
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSucce

[2017-07-11 19:18] Tratcher commented on #88
Request.CallCancelled may be tripped if the client has disconnected. This is similar to WriteAsync throwing an IOException.

[2017-07-11 23:20] #59 closed

[2017-07-12 19:13] #56 closed

[2017-07-12 19:14] #48 closed

[2017-07-12 19:15] Tratcher commented on #48
https://github.com/aspnet/AspNetKatana/pull/89

[2017-07-12 23:33] Tratcher commented on #51
Repro stack:
[code]
[code]

This happens because Twitter's ApplyResponseChallengeAsync is actually async, so the task in OnSendingHeaderCallback is actually async and blocks. This chokes on System.Web's sync context.

This only happens with IS3's logging enabled because they buffer, log, and flush the request body before the auth middleware has a chance to apply its challenge, so it tries to add t

[2017-07-13 00:32] Tratcher commented on #51
@brockallen
When I copied ConfigureHttpLogging for debugging I found it was missing a Seek on the response body before CopyToAsync. It could also use a Length check. See above.
https://github.com/IdentityServer/IdentityServer3/blob/93bc6bc9b536146b9e3fa0bed21d77283d07f788/source/Core/Configuration/AppBuilderExtensions/ConfigureHttpLoggingExtension.cs#L48

[2017-07-13 00:34] brockallen commented on #51
Thanks. I opened an issue.

[2017-07-13 15:43] Tratcher commented on #51
Closing this issue. The core issue is the .Wait(); in OnSendingHeaders which has been fixed in Core but can't be fixed here without other significant breaks. The triggering issue lies in MemoryStream.CopyToAsync() and can most easily be worked around in IdentityServer.

[2017-07-13 15:43] #51 closed

[2017-07-13 15:50] #73 closed

[2017-07-13 16:10] Tratcher commented on #49
This is an issue with the underlying HttpListener, it manages the identity and can cache it across requests on the same connection. This needs to be reported to https://connect.microsoft.com/VisualStudio or https://github.com/dotnet/corefx.

[2017-07-13 16:10] #49 closed

[2017-07-13 17:10] #75 closed

[2017-07-14 17:06] Tratcher commented on #23
Note symbolsource.org is all but defunct at this point. https://groups.google.com/forum/#!forum/symbolsource. Publishing symbols has been disabled on the CI.

[2017-07-14 17:18] Tratcher commented on #86
The way the layering works out OAuthBearerAuthenticationHandler doesn't know about TokenValidationParameters. At this point removing the expiration check is likely to break other providers. Removing the exp claim is a good debugging workaround.

[2017-07-14 17:33] Tratcher commented on #72
Do you have multiple cookie middleware? It's possible the wrong one is trying to decrypt the cookie:
https://github.com/aspnet/AspNetKatana/blob/8cda3619132b7d1c31392ccc38ef4bb6bac92a89/src/Microsoft.Owin.Security.Cookies/CookieAuthenticationMiddleware.cs#L45

[2017-07-14 17:45] #86 closed

[2017-07-17 20:05] Tratcher commented on #54
This seems to be an issue with Console.Out and Console.Error when they are pointed to the same destination. It does not appear to be related to DualWriter.
https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Hosting/Tracing/TraceOutputFactory.cs#L22
https://stackoverflow.com/a/38746852/2588374

[2017-07-17 20:41] ZigMeowNyan commented on #54
I know in my case I'm not explicitly setting the output or error streams. I've checked my logging library ([NLog](https://github.com/NLog/NLog)), but a quick repository search doesn't show it redirecting the output or error streams (e.g. `Console.SetOut` or `Console.SetError`), either, outside of its tests. I'll review the other libraries as well, later. It's not impossible, but I'm not really ant

[2017-07-17 23:00] Tratcher commented on #66
Can you capture a network trace of this using Message Analyzer or Wireshark? I wonder if the connection is getting closed before the data is ACKd back to the server.

[2017-07-18 13:34] solankisamir opened #93 "OAuth flow across multiple machines"
We are using the `Microsoft.Owin.Security.AAD` to manage the Oauth flow for us. What we observed was when the request to authenticate at external login provider originates from one machine in Azure Cloud Service, but the callback from the external login provider lands on another machine, the login fails.

There are 3 calls in this Oauth dance which could land on different machines
1. Request to au

[2017-07-18 14:57] Tratcher commented on #93
The main issue here is the machine key that is used to encrypt both the state and auth cookie. Get that set on all the machines and you should be good to go.

[2017-07-18 15:47] Tratcher commented on #58
Note ASP.NET Core does not appear to be affected by this issue due to refactored control flow.

[2017-07-18 16:31] Tratcher commented on #85
You're referring to this code path, correct?
https://github.com/aspnet/AspNetKatana/blob/3580ddd66ca91b495d1c1f23f193d7cf5a9a3f42/src/Microsoft.Owin.Security.OAuth/OAuthAuthorizationServerHandler.cs#L198

This is an architectural limitation. Katana auth middleware are invoked lazily either when the app starts writing to the response body (OnSendingHeaders), or when the pipeline unwinds without wri

[2017-07-18 16:35] Tratcher commented on #70
Can you share a Fiddler trace of your failing flow?

[2017-07-18 18:16] solankisamir commented on #93
We validated that the MachineKey in the Web.Config is same across machines.
<machineKey decryption="AES" decryptionKey="C995A.." validation="HMACSHA512" validationKey="B6A8..." />

Any other pointers?

[2017-07-18 18:22] brentschmaltz commented on #43
@DerAlbertCom @Tratcher what kind of feedback are you looking for here?
Think we should ping Mike Jones?

[2017-07-18 18:26] Tratcher commented on #43
Yes, please

[2017-07-18 18:27] miksh7 opened #95 "Add 3.1.0 rtm into Releases"
If not late, please add 3.1.0 rtm into Releases

[2017-07-18 19:00] Tratcher commented on #95
Added to the roadmap: https://github.com/aspnet/AspNetKatana/wiki/Roadmap

[2017-07-18 19:00] #95 closed

[2017-07-18 19:10] brentschmaltz commented on #43
@Tratcher done.

[2017-07-19 09:12] selfissued commented on #43
The sid=5f5617803ca616c7cb247d2d30f178af parameter enables you to identify the user.  Match the sid value with the "sid" claim in the ID Token that was sent at login time.  That way, you can sign out only that user.  Alternatively, some implementations ignore the "sid" and sign out all users upon receiving the front-channel logout message.

[2017-07-19 15:37] curdincaspar opened #96 "Configuration is invoked twice"
Hi,

My Configuration method in the Startup class is invoked twice.

I debugged Microsoft.Owin.Host.System.Web and found out the first time it's invoked from OwinHttpModule.Init and the second time it's invoked by OwinApplication through OwinHttpHandler.BeginProcessRequest

In my web.config I have the following handler registered so everything is routed through owin
[code]

Here the stack trace fo

[2017-07-19 15:44] Tratcher commented on #96
You shouldn't need to register the handler in web.config at all. It registers itself via pre app start: https://github.com/aspnet/AspNetKatana/blob/3580ddd66ca91b495d1c1f23f193d7cf5a9a3f42/src/Microsoft.Owin.Host.SystemWeb/PreApplicationStart.cs#L11

[2017-07-19 15:54] curdincaspar commented on #96
The thing is, when I remove that handler all our images are not served anymore.
We have it registered like this:

[code]

[2017-07-19 15:55] Tratcher commented on #96
https://github.com/aspnet/AspNetKatana/wiki/Static-Files-on-IIS
Try enabling runAllManagedModulesForAllRequests

[2017-07-19 16:18] curdincaspar commented on #96
Looks like we did something wrong wit the stage markers.
In one place it still not worked with the "runAllManagedModulesForAllRequests".

Thanks for your help!

[2017-07-19 16:18] #96 closed

[2017-07-19 16:45] Tratcher commented on #93
Why does that say `</machinekey.../>`? Shouldn't it be `<machinekey... />`?
https://msdn.microsoft.com/en-us/library/w8h3skw9(v=vs.100).aspx

[2017-07-19 17:14] solankisamir commented on #93
That is a typo in the comment. It is actually `< machinekey ... />`

[2017-07-19 17:27] Tratcher commented on #93
It is keyed off the site id, are those consistent?
https://github.com/aspnet/AspNetKatana/blob/9f6e09af6bf203744feb5347121fe25f6eec06d8/src/Microsoft.Owin.Host.SystemWeb/OwinAppContext.cs#L38
https://github.com/aspnet/AspNetKatana/blob/9f6e09af6bf203744feb5347121fe25f6eec06d8/src/Microsoft.Owin.Security/DataProtection/AppBuilderExtensions.cs#L69

[2017-07-19 18:41] solankisamir commented on #93
Yes, we checked, the SiteName-ApplicationId is consistent across machines.

[2017-07-19 21:29] greatvovan commented on #66
OK Tratcher, will do it soon.

[2017-07-19 22:57] joaomatossilva commented on #85
@Tratcher Yes, that is correct, but also any other provider, like the AccessToken or RefreshToken..

I'm glad that's recognized as a architectural limitation. I was able to workaround it using the https://github.com/autofac/Autofac.Owin/issues/13 discussion here. But it's a pretty big workaround.

The most common scenario on web applictions regading database connections or unit of works, would be

[2017-07-20 13:35] 3686 commented on #54
Nice writeup @ZigMeowNyan! I agree that calls to `Trace.WriteLine` shouldn't throw exceptions.

This bug caught me today an Owin app with Uncaught Exceptions being handled by us, eventually posting through to NewRelic which just writes to `Trace` under the hood without any magic.

I see this is included in Discussions. Is there a timeline to that?

[2017-07-21 15:21] Tratcher commented on #93
My only other suggestion is to try manually encrypting and decrypting test content across the two machines via IAppBuilder.CreateDataProtector or DpapiDataProtectionProvider to see if your settings are being honored.

[2017-07-24 14:12] phatcher opened #97 "UseStageMarker"
I know about using UseStageMarker to put OWIN middleware into the appropriate IIS pipeline stage,

What I'm wondering is does this give any architectural/performance benefit?

[2017-07-24 14:35] Tratcher commented on #97
It's primarily about ordering, it's not intended as a performance feature. If you terminated the response early then you may see some small benefit, but I wouldn't count on it.

[2017-07-24 22:45] phatcher commented on #97
Thanks, part of the reason I ask is sometimes from my profiler (Stackify) is reporting delay between the pipeline steps of up to 5 s, so I'm trying to minimise this - server's not even that heavily loaded ~50% RAM, ~60% CPU

[2017-07-25 14:11] marcosbg commented on #82
First of all, thank you for answering!

We implemented a custom Cookie Manager as you suggested and it got like this:

[code]

Cookie's path changes as the user digits the URL, the code is under test.

[2017-07-26 15:32] DerAlbertCom commented on #43
@selfissued it is not possible to verify the user because no cookie get sent (on different domains then the OP) which allows to identify the user, login out regardless of the sid is a great possibility for a Denial of Service.

@brentschmaltz the feedback i'm looking is a possibility to log the user securely logout. But this seems not possible with OpenId Connect Front Channel Logout.

[2017-07-27 12:15] grofit opened #98 "OwinHost running from outside of project root"
I have noticed that in the source for OwinHost @ https://github.com/aspnet/AspNetKatana/blob/dev/src/OwinHost/Program.cs#L80

It has:

[code]

So does this mean that you can ONLY use OwinHost when the CWD is the project? i.e if I was in a build script and my CWD was elsewhere it never seems to resolve assemblies correctly and it *seems* (only taken a quick look through) like it will always assume

[2017-07-27 16:00] Tratcher commented on #98
That directory param is used when setting up the app domain: https://github.com/aspnet/AspNetKatana/blob/9f6e09af6bf203744feb5347121fe25f6eec06d8/src/Microsoft.Owin.Hosting/Starter/DomainHostingStarter.cs#L48

It should be able to resolve assemblies from that path. Are you setting -d to the project or bin directory? The line you quoted above was added to allow starting in the project directory rat

[2017-07-28 08:50] grofit commented on #98
Hey, I have tried setting it to the project root (folder containing the `bin` dir) and to the `bin` dir itself, also tried going to `bin/Debug` too or manually specifying the specific dll that contains the owin startup class.

Just to make sure it is not me being an idiot could you just provide me a quick example of command line usage that should work when the cwd is not the project root? as on my

[2017-08-02 16:34] #58 closed

[2017-08-03 07:00] IvanLieckens opened #100 "Logging typo in CookieAuthenticationHandler"
### Title
Logging typo in CookieAuthenticationHandler

### Functional impact
No functional impact

### Minimal repro steps
Create claim identity for cookie authentication without sessionIdClaim

### Expected result
Log warning should contain "SessionId missing"

### Actual result
Log warning contains "SessoinId missing"

### Further technical details
Microsoft.Owin.Security.Cookies/CookieAuthentic

[2017-08-03 14:09] #100 closed

[2017-08-04 17:57] RobSiklos opened #102 "Google middleware doesn't generate proper redirect_uri when using a load balancer"
I have an application which uses the Microsoft.Owin.Security.Google middleware for federated authentication.

Everything works fine, until I add a load balancer into the mix.

The load balancer is configured such that incoming connections are HTTPS, but backend connections (i.e. between the load balancer and the ASP.NET application) are HTTP.

In this configuration, I get a `redirect_uri_mismatch`

[2017-08-04 18:05] Tratcher commented on #102
The recommended approach is to have the load balancer forward the scheme as a header (e.g. x-forwarded-proto), and have a middleware that reads the header and updates the OwinContext.Request.Scheme accordingly. This addresses the issue not just for one auth component, but for all urls generated in the application.

[2017-08-04 18:17] RobSiklos commented on #102
@Tratcher Thanks! I actually have the header in the request already. Any pointers on how to create the middleware which updates the Request object?

[2017-08-04 18:30] Tratcher commented on #102
The basic are:
[code]

Plus validation lots of validation code.

[2017-08-04 19:02] RobSiklos commented on #102
@Tratcher Got it working - many thanks!!

[2017-08-06 19:57] Shyam200408 opened #103 "Unable to Call Oauth Token Service When hosting WebAPI using Owin oauth"
Hi Team,
I am facing error with respect to OAuth Token when I host my application in IIS, self hosting or debugging mode works fine.
Your help is really appreciable.

Here is the full error

Value cannot be null.
Parameter name: value]
   System.IO.BinaryWriter.Write(String value) +12794192
   Microsoft.Owin.Security.DataHandler.Serializer.PropertiesSerializer.Write(BinaryWriter writer, Authentica

[2017-08-06 20:52] shonng opened #104 "Doesn't support matrix urls because semicolons get encoded."
Angular 2 uses matrix urls by default instead of querystrings. Matrix urls use semicolons which are part of the path instead of querystrings.

Example url:
http://localhost:53276/report/balance-sheet-k;locationId=4;year=2017;period=6

Authorization call from OWIN:
https:// login.microsoftonline.com/{guid}/oauth2/authorize?client_id={client id}&response_mode=form_post&response_type=code+id_token&sc

[2017-08-09 07:44] dazinator opened #105 "netstandard project compat"
Adding the Microsoft.Owin package to a netstandard2.0 or netcoreapp2.0 project:

![image](https://user-images.githubusercontent.com/3176632/29110555-e901463a-7cde-11e7-8a21-2ebeae59ef3b.png)

Will compatibility for these tfm's be added?

[2017-08-09 08:29] ysmoradi commented on #105
I've added signalr, web api and bunch of other owin middlewares to .net core 2 app. Lots of things are working properly (Except Swagger, which has a few problems in rare scenarios, that I'm working to make them fixed in .net core 2)
This uses .net core 2 shim for full .net framework dlls & owin package for asp.net core, which is acceptable. Do you've any special problem?

[2017-08-09 08:50] dazinator commented on #105
That was my problem, I was using `Microsoft.Owin` - have switched to using `Micosoft.AspNetCore.Owin` and that has resolved it - thank you.

[2017-08-09 08:50] #105 closed

[2017-08-09 18:52] #7 closed

[2017-08-10 16:08] explunit commented on #87
In the meantime, one workaround is to wrap the oidc options `CookieManager` in your own `ICookieManager`

[2017-08-10 16:11] svhero658 commented on #87
@explunit The workaround I'm using is use a middleware to find and modify the corresponding cookie in and out.

_使用 [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github) 从我的 Xiaomi MI 5 发送_

[2017-08-29 05:50] LordRhialto opened #106 "Encoding in cookie"
We are running Microsoft.Owin v3.1.0 and are still experiencing this problem:

`String identityCookie = Context.Request.Cookies[identityCookieName];`

returns a string value with base64 encoded data in it (here, only a part has been shown) `eKUiOV0mSV6Kzk 4G4R8w/sgh6BbO` instead of a space there should be a +.

See also: [https://github.com/aspnet/HttpAbstractions/issues/547](url)

[2017-08-29 05:51] bsmithb2 opened #107 "Bug in MicrosoftAccountAuthenticatedContext"
When attempting to log in using the Microsoft social providers, some accounts appear not to have email addresses. We've identified it usually being Personal accounts, and might be related to outlook.com or hotmail.com email addresses.

This occurs due to a bug in the MicrosoftAccountAuthenticatedContext, which is incorrectly checking for null on a string value, rather then string.IsNullOrEmpty().

[2017-08-29 16:45] Tratcher opened #108 "Do not dispose tokens cancelled for client disconnects"
Disposed tokens cause ObjectDisposedExceptions when you try to register with them. Cancelled tokens immediately invoke your callback. If you cancel and dispose a token then there's a race where you may get a callback or an ODE. Disposal is only required for tokens that won't be cancelled, as cancellation does all of the same cleanup.

We did this for ASP.NET Core, we should backport it. Compare:
h

[2017-08-31 16:49] Tratcher commented on #107
The preview is now available: https://www.nuget.org/packages/Microsoft.Owin.Security.MicrosoftAccount/4.0.0-alpha1

[2017-08-31 16:49] #107 closed

[2017-09-05 19:23] #65 closed

[2017-09-05 22:07] hradusumalli opened #111 "SHA256 hashalgorithm used in creating nonce key is not FIPS compliant."
We have noticed that the GetNonceKey uses SHA256.Create() to generate hash algorithm which is not FIPS compliant and it is not designed to extend it easily to change the hash algorithm. Can you address this?

[2017-09-05 22:20] Tratcher commented on #111
Note this has changed in the ASP.NET Core version:
https://github.com/aspnet/Security/blob/a53bf093a7d86b35e019c80515c92d7626982325/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L888

[2017-09-05 22:24] hradusumalli commented on #111
What about non asp.net core version?

[2017-09-06 12:47] luronumen commented on #48
Hi @Tratcher

This issue is still reproducible after update the *Microsoft.Owin.Security.MicrosoftAccount* package of my visual studio project to **v4.0.0-alpha1**.

Do you think that we should open other issue for tracking it?

Here are more details about this issue:
[ASP.NET MVC 5 - Microsoft Account OAuth2 sign-on stop to work after update the Microsoft.Owin packages from v3.0.1 to v3.1.0](http

[2017-09-06 16:24] luronumen opened #112 "Microsoft Account OAuth2 sign-on stop to work after update the Microsoft.Owin packages from v3.0.1 to v3.1.0"
I have updated the following Nuget packages from **v3.0.1** to **v3.1.0**:

- Microsoft.Owin
- Microsoft.Owin.Host.SystemWeb
- Microsoft.Owin.Security
- Microsoft.Owin.Security.Cookies
- Microsoft.Owin.Security.Google
- Microsoft.Owin.Security.MicrosoftAccount

And after these updates the following issue is displayed when I try to authenticate using a Microsoft Account:

_Correlation ID: 1a411cc0-

[2017-09-06 16:25] luronumen commented on #48
I have open the new issue [#112](https://github.com/aspnet/AspNetKatana/issues/112) for tracking it.

[2017-09-06 17:21] Tratcher commented on #112
In the 3.1 release all of the security packages were updated to use the latest APIs available from their respective providers. In this instance the MicrosoftAccount 3.0.1 package was using an obsolete API to authenticate users and was moved to a new API. The new API uses different values for Scope (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-scopes). However

[2017-09-06 22:04] luronumen commented on #112
Hi @Tratcher

Thank you very much for your prompt reply!
Based on it I could identify where is the issue:

================================

Scenario 1 (v3.1.0 + Scope = { "wl.emails" })
Fail - AADSTS70011: The provided value for the input parameter 'scope' is not valid. The scope wl.emails is not valid.

================================

Scenario 2 (v3.1.0 + without Scope)
Fail - System.NullRefer

[2017-09-06 22:36] Tratcher commented on #112
Yes 4.0.0 will be out soon, we're just waiting for feedback.

[2017-09-06 22:36] #112 closed

[2017-09-07 12:14] luronumen commented on #112
Thanks @Tratcher

In other words, from now on, _GoogleOAuth2AuthenticationOptions_ and _MicrosoftAccountAuthenticationOptions_ do not need nothing more than _ClientId_ and _ClientSecret_ to the _System.Security.Claims.ClaimsPrincipal.Current.FindFirst(System.Security.Claims.ClaimTypes.Email).Value_ has the user email account info.

Is there any possibility of _FacebookAuthenticationOptions_ having

[2017-09-07 13:14] Tratcher commented on #112
@luronumen That's a good idea. Can you open a new bug so we don't loose track of it?

[2017-09-07 13:54] luronumen opened #113 "Simplify the way to recover the user email associated with Facebook account"
Currently to retrieve the user email associated with the Facebook account through the _System.Security.Claims.ClaimsPrincipal.Current.FindFirst(System.Security.Claims.ClaimTypes.Email).Value_ the developer needs to set **Fields = { "email" }, Scope = { "email" }** on _FacebookAuthenticationOptions_ object:
- _app.UseFacebookAuthentication(new FacebookAuthenticationOptions { AppId = "MyAppId", AppS

[2017-09-07 14:07] luronumen commented on #112
Sure @Tratcher!

I just open the issue #113 for traking it.

Besides Facebook do you think it would be possible to do something similar for Twitter as well?
- _app.UseTwitterAuthentication(new TwitterAuthenticationOptions { ConsumerKey = "MyConsumerKey", ConsumerSecret = "MyConsumerSecret" });_

I noticed you have work to simplify Twitter email account here: [#765](https://github.com/aspnet/Securi

[2017-09-07 14:12] Tratcher commented on #112
Twitter does not have it enabled by default because it has significant pre-req on their end. You have to contact support to enable it.

[2017-09-07 15:52] luronumen commented on #112
I see. But I have set in my [Twitter Apps](https://apps.twitter.com/) the _Access level_ to **Read-only** and **Can request a user's email address** option as well.

Is there something more that I have to do to have the user email associated with the Twitter account through the _System.Security.Claims.ClaimsPrincipal.Current.FindFirst(System.Security.Claims.ClaimTypes.Email).Value_?

Using _app.Us

[2017-09-07 16:17] Tratcher commented on #112
You also need `RetrieveUserDetails = true`

[2017-09-07 16:22] luronumen commented on #112
it does not working.
_app.UseTwitterAuthentication(new TwitterAuthenticationOptions { ConsumerKey = "MyConsumerKey", ConsumerSecret = "MyConsumerSecret", RetrieveUserDetails = true });_ is returning the following compilation issue:

_Error	CS0117	'TwitterAuthenticationOptions' does not contain a definition for 'RetrieveUserDetails'_

[2017-09-07 16:56] Tratcher commented on #112
Sorry, I forgot which repo I was in. E-mail support was only added to ASP.NET Core. The hideous event code workaround should be similar for Katana. https://github.com/aspnet/Security/issues/765#issuecomment-206411817

[2017-09-07 17:05] luronumen commented on #112
Thanks for the clarification @Tratcher

Is there any possibility to design something similar for the _ASP.NET Framework_ by adding the _RetrieveUserDetails_ property on _TwitterAuthenticationOptions_ class as well?

Do you think it would be good we opened an issue for tracking it?

[2017-09-07 17:15] Tratcher commented on #112
We're not planning significant feature work like this for Katana. Our current focus is bug fixes and keeping it up to date with external providers, dependencies, etc..

[2017-09-07 17:16] Tratcher commented on #113
Yes, we should consider enabling the email Field and Scope by default.

[2017-09-07 17:20] luronumen commented on #112
I see. Okay then @Tratcher!

[2017-09-07 17:25] luronumen commented on #113
Do you think we could have this issue fixed before the final 4.0.0 version @Tratcher?

[2017-09-07 17:27] Tratcher commented on #113
Yes, we'll consider it for 4.0.0

[2017-09-07 17:33] luronumen commented on #113
Thank you very much @Tratcher!

[2017-09-08 23:49] JoyceLiang opened #114 "Could your read "SecurityTokenServiceAddress" from property"
Hi,
Visual Studio now(15.5) support account from multiple-cloud (public cloud, blackforest(de), mooncake(cn), and so on).  When a user pass his blackforest tenant and audience use below api, he'll get a 400 response, from the fiddler trace, the request is send to "https://login.windows.net" , and this value is hard coded in [WindowsAzureActiveDirectoryBearerAuthenticationExtensions.cs](https://git

[2017-09-09 01:03] Tratcher commented on #114
You can set the MetadataAddress directly.
https://github.com/aspnet/AspNetKatana/blob/5d58dab237663b694515a3adbb36dd246a7d4ca2/src/Microsoft.Owin.Security.ActiveDirectory/WindowsAzureActiveDirectoryBearerAuthenticationExtensions.cs#L34

[2017-09-11 16:15] JoyceLiang commented on #114
Thank you @Tratcher, that works, will close this issue.

[2017-09-11 16:15] #114 closed

[2017-09-11 21:51] hradusumalli commented on #111
Tratcher - Any plan to make the same fix in non asp.net core version?

[2017-09-11 22:05] Tratcher commented on #111
No decision has been made yet.

[2017-09-14 18:02] Tratcher opened #116 "Functional IIS tests do not work when run from VS 2017"
The IIS tests in the FunctionalTests project do not work when run from VS 2017. They work fine in 2015.

[code]

Note IIS tests require running VS as admin.

[2017-09-18 15:18] Martin-Stein opened #117 "Owin is not compatible with uap10.0.10240 (UAP,Version=v10.0.10240)"
Please update the libraries to be compatible with (UAP,Version=v10.0.10240)

thanks in advance
Martin

[2017-09-18 17:20] ysmoradi commented on #117
Why do you think it should be compatible with that profile?

[2017-09-18 18:04] Martin-Stein commented on #117
Because this represents the latest .NET Version!

(I have looked a little beet deeper, UAP,Version=v10.0.10240 uses .Net 4.6.

So to be more precisely the issue should be named as Owin is not compatible with .Net 4.6!

Kind regards,

Martin

Von: Yaser Moradi [mailto:notifications@github.com]
Gesendet: Montag, 18. September 2017 19:21
An: aspnet/AspNetKatana <AspNetKatana@noreply.github.com>
Cc: M

[2017-09-18 18:07] Tratcher commented on #117
@Martin-Stein Microsoft.Owin works fine with .NET 4.6. UAP however imposes additional requirements. I haven't tried it yet, what trouble have you had?

[2017-09-18 18:16] Martin-Stein commented on #117
HI,

When I try to install the NuGet package, Verson 3.1,or 4.0 -alpha,the installation rolls back and I receive this messages:

the package  Microsoft.Owin 4.0.0-alpha1 is not compatible with uap10.0.10240 (UAP,Version=v10.0.10240). Package Microsoft.Owin 4.0.0-alpha1 supports: net451 (.NETFramework,Version=v4.5.1)

the package  Owin 1.0.0 is not compatible with uap10.0.10240 (UAP,Version=v10.0.1

[2017-09-18 21:52] Tratcher commented on #117
Ok, that makes sense. UAP is an entire target framework independent of / build on top of .NET. Even if you could install these packages you wouldn't be able to use most of them in that environment. Neither System.Web nor HttpListener work in the UAP sandbox, so you wouldn't be able to receive requests.

[2017-09-19 13:42] Martin-Stein commented on #117
Hi Chris,

That means, there will be no Owin.Security.* for UAP applications???

Kind regards,

Martin

Von: Chris Ross [mailto:notifications@github.com]
Gesendet: Montag, 18. September 2017 23:53
An: aspnet/AspNetKatana <AspNetKatana@noreply.github.com>
Cc: Martin-Stein <mytrainer@freenet.de>; Mention <mention@noreply.github.com>
Betreff: Re: [aspnet/AspNetKatana] Owin is not compatible with uap1

[2017-09-19 15:58] Tratcher commented on #117
What server would you use to receive requests?

That said, I think UAP/UWP is getting netstandard support soon so you may be able to use the Microsoft.AspNetCore.Authentication.* versions of these components.

[2017-09-22 22:25] #108 closed

[2017-09-25 10:35] hemant271 opened #118 "Redirect url comparison should be case-insensitive."
I recently used this project as development for new authorization server, and while requesting for access token from authorization code I faced this issue.

I think url comparison should be case-insensitive. [StringComparer.OrdinalIgnoreCase]

https://github.com/aspnet/AspNetKatana/blob/a4ad9a82cde44ac27242a2d23238aada2ec5b4be/src/Microsoft.Owin.Security.OAuth/OAuthAuthorizationServerHandler.cs#L5

[2017-09-27 04:53] phaselden commented on #74
Possibly related:
- https://katanaproject.codeplex.com/discussions/540202
- https://katanaproject.codeplex.com/workitem/263
- https://connect.microsoft.com/VisualStudio/Feedback/Details/3065110

[2017-09-27 12:53] HiranPeri commented on #76
@Tratcher Is there any possibility of delivering sooner?
I faced this problem twice in current quarter both the time, I've been using twilio 5.5.12 nuget package which has dependency on System.IdentityModel.Tokens.Jwt 5.1.2. BUT Microsoft.Owin.Security.OpenIdConnect 3.1.0 nuget isn't compatible with System.IdentityModel.Tokens.Jwt 5.1.2.

And by this, it doesn't allow to downgrade as well!

[2017-09-27 13:57] Tratcher commented on #76
We have to wait for a final version of 5.2.0 to release. Right now we only have a preview. It will be at least another month.

[2017-09-28 04:41] HiranPeri commented on #76
@Tratcher You meant this - System.IdentityModel.Tokens.Jwt -Version 5.2.0-preview1-408290725? I'll try with preview version and see if that solves problem.

[2017-09-28 21:30] GCymbala opened #119 "Microsoft.Owin.Host.HttpListener.RequestProcessing.ResponseHeadersDictionary.Set causes an exception for some valid Keep-Alive values"
In https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Host.HttpListener/RequestProcessing/ResponseHeadersDictionary.cs ...

The `protected override void Set(string header, string value)` method doesn't handle valid Keep-Alive header values like this:

[code]
Specifically, at lines 101-111, neither if condition is met ...

[code]
Instead, execution falls through to the `else` at lin

[2017-09-28 21:40] Tratcher commented on #119
This is a limitation imposed by the underlying System.Net.HttpListener API. There's not a lot we can do about it.

I've never seen a component that used or honored those keep-alive settings. Keep-alive is something of a relic from the HTTP/1.0 days. Do you have a client that will actually honor them?

[2017-09-28 22:16] GCymbala commented on #119
Regardless of whether those type of Keep-Alive values are honored, the exception thrown here causes a valid (HTTP 200) `HttpResponseMessage` to become unavailable in my Owin self-hosted WebApi application. (It's essentially acting as a reverse proxy.)
Subsequent requests are OK, because the Keep-Alive response header is not included in the response.
It just seems like throwing an exception in this

[2017-09-29 16:08] Tratcher commented on #119
That exception is out of our control. At best we could filter out the disallowed values, but you could do the same just as easily.

[2017-10-03 12:19] hemant271 commented on #118
I am still not clear if this is not an issue. Please provide a short explanation.
I'll close this after that.

[2017-10-03 14:09] Kiyotoshi commented on #76
I have recently been running into this error, updating Microsoft.IdentityModel.Tokens to 5.2.0-preview1-408290725 did not resolve my issues.

It appears you have an alpha of 4.0.0, is that worth a shot or still too early?

[2017-10-03 14:42] Tratcher commented on #76
Please use 4.0

[2017-10-03 14:44] Kiyotoshi commented on #76
Sorry, just found that issue where that declaration was made.

https://github.com/IdentityServer/IdentityServer3/issues/3017

[2017-10-04 14:45] TruffleMuffin opened #120 "Owin.Security.Cookies - Sliding timeout fails"
Hey,

I have been using the sliding timeout feature of the cookies package for a few years without any issue. Recently, I needed to add some custom logic for certain 'accounts' within my system. The logic will in most cases do nothing, and in some cases needs to reject the cookie.

To implement this, I have integrated with the "OnValidateIdentity" extension, and in the case where the cookie is inv

[2017-10-04 15:29] Tratcher commented on #120
@HaoK we addressed this in the Core version, correct? I'm not finding a bug reference.

[2017-10-04 15:33] TruffleMuffin commented on #120
I did some investigation on my version (3.0.1), its because the sliding expiration handling sets the '_shouldRenew' to true, but doesn't take into account if the identity is present.

Changing the code layout and accounting for the identity being null like this in the 3.0.1 version of AuthenticateCoreAsync works correctly.

[code]

[2017-10-04 15:36] TruffleMuffin commented on #120
@Tratcher You are correct, you have handled it like this

[code]

[2017-10-04 15:46] TruffleMuffin commented on #120
Looks like I have duplicate of https://github.com/aspnet/AspNetKatana/issues/58

Is there a possibility of this being back ported to 3.X series?

[2017-10-04 17:07] Tratcher commented on #120
No, there are no plans for additional 3.x releases.

[2017-10-04 17:07] #120 closed

[2017-10-04 19:40] ericgu opened #121 "ObjectDisposedException inside Owin..."
We came across this in one of processes that uses Owin.

Exception: System.ObjectDisposedException: The CancellationTokenSource has been disposed.
   at System.Threading.CancellationTokenSource.ThrowObjectDisposedException()
   at System.Threading.CancellationTokenSource.InternalRegister(Action`1 callback, Object stateForCallback, SynchronizationContext targetSyncContext, ExecutionContext executio

[2017-10-04 20:54] Tratcher commented on #121
This is a race condition that has been addressed for the upcoming 4.0 release.
https://github.com/aspnet/AspNetKatana/issues/108

[2017-10-04 20:54] #121 closed

[2017-10-04 22:21] ivanlysiuk opened #122 "License contradiction"
We have a legal issue with the licenses, I suspect it was just a left over, but our legal department gives us a headache. He is the deal:
1) https://github.com/aspnet/AspNetKatana/blob/dev/LICENSE.txt clearly refers to APL2
while
2) https://www.nuget.org/packages/Microsoft.Owin/3.1.0 refers to [MS-.NET-Library License](https://www.microsoft.com/web/webpi/eula/net_library_eula_enu.htm)

The Nuget p

[2017-10-04 22:24] ivanlysiuk commented on #122
The other libs with the same issue are:
Microsoft.Owin.FileSystems
Microsoft.Owin.Host.HttpListener
Microsoft.Owin.Hosting
Microsoft.Owin.StaticFiles

[2017-10-04 23:01] Tratcher commented on #122
The source code and the compiled binaries are intentionally licensed differently. @muratg

[2017-10-04 23:19] ivanlysiuk commented on #122
Could you please clarify the intention? Thank you

[2017-10-05 16:24] ericgu commented on #121
Thanks a bunch for the quick response...

[2017-10-06 12:00] ravenpride opened #123 "WWW-Authenticate header is mangled"
Multiple WWW-Authenticate headers in a response are converted to a comma-separated representation, although RFC 7235 explicitly allows it (see https://tools.ietf.org/html/rfc7235#page-7).

The mangling is done in the following file (line 154 ff):
AspNetKatana/src/Microsoft.Owin.Host.HttpListener/RequestProcessing/ResponseHeadersDictionary.cs

I've the task to implement a webservice with multiple a

[2017-10-06 13:39] Tratcher commented on #123
Unfortunately not, this is a limitation of the underlying System.Net.HttpListener APIs. Switching to ASP.NET Core is the only suggestion I can give you, it provides more compliant servers.

[2017-10-06 13:39] #123 closed

[2017-10-08 21:40] FenrisWolfAtMiddleEarth opened #124 "Owin will alway close connection when AuthenticationSchemes is set"
I am using Owin / Katana as a http listener. It will nicely allow me to keep my client connections open with a client created like this:

            var credentialsCache = new CredentialCache { { uri, "NTLM", CredentialCache.DefaultNetworkCredentials } };
            var handler = new HttpClientHandler { Credentials = credentialsCache };
            var client = new HttpClient(handler) { BaseAddr

[2017-10-08 21:46] Tratcher commented on #124
Closing the connection per request is a security feature of windows auth. You can override it by setting UnsafeConnectionNtlmAuthentication.
https://msdn.microsoft.com/en-us/library/system.net.httplistener.unsafeconnectionntlmauthentication(v=vs.110).aspx
Only the first request will be challenged, and then all subsequent requests on that connection will reuse the same cached credentials. Only do t

[2017-10-08 22:14] FenrisWolfAtMiddleEarth commented on #124
Ok. That is exactly what I am looking for.
However if I use AuthenticationSchemes.IntegratedWindowsAuthentication; the problem remains and connections are closed at every request.
If I use Negotiate, I am rejected. I guess it prefers Kerberos

[2017-10-09 06:08] FenrisWolfAtMiddleEarth commented on #124
The only similar setting I have found on the HttpClient is ConnectionClose = false. However that also does not solve the problem. The problem can be recreated with these lines of code:

    class Program
    {
        static void Main()
        {
            var httpListener = WebApp.Start($"http://+:8900/", appBuilder =>
            {
                var listener = (HttpListener)appBuilder.Proper

[2017-10-09 15:43] Tratcher commented on #124
You need WebRequestHandler instead of HttpClientHandler:
https://msdn.microsoft.com/en-us/library/system.net.http.webrequesthandler.unsafeauthenticatedconnectionsharing(v=vs.110).aspx

[2017-10-10 05:57] FenrisWolfAtMiddleEarth commented on #124
Works like a charm. It makes a huge difference in performance.
Thank you very much.

[2017-10-10 05:59] #124 closed

[2017-10-10 10:22] shikelong opened #125 "how to set session/access token idle timeout?"
I want set ide timeout in my project.
Due to cookie expire timespan config will overwrite by access token expire timespan.

#83

 So I want set acess token/ session idle timeout.

Thanks.

[2017-10-11 09:25] FrediPouce commented on #74
Hi,

We have excactly the same issue.
Anyone could provide a workaround to avoid the issue ?

Two ways to reproduce the problem:

- Using the OnSendingHeaders method
- Set the header of the response before doing the redirection or writing the body (here the exception is System.ArgumentException: Value does not fall within the expected range, coming from System.Web.Hosting.IIS7WorkerRequest.SetKnow

[2017-10-12 01:58] StenPetrov opened #126 "WsFederation package"
package id="Microsoft.IdentityModel.Protocols.WsFederation" version="5.2.0.407281058-pre" targetFramework="net451"

This is nowhere to be found!

[2017-10-12 04:27] Tratcher commented on #126
Why do you need that version? The latest is https://www.nuget.org/packages/Microsoft.IdentityModel.Protocols.WsFederation/5.2.0-preview1-408290725

[2017-10-12 10:54] dmytro-gokun commented on #74
We also have the same issue with Microsoft.Owin.Security 3.1.0

[2017-10-12 21:37] SosaWiseHome commented on #76
@HiranPeri I have the same issue with Twilio.  I'm going to have to create a separate Web Service that has not OAuth and leave it exposed until this get's resolved.

[2017-10-13 03:15] 2pip2 commented on #76
@SosaWiseHome , I'm using Twilio as well and I'd like to know what you do to solve it

[2017-10-13 05:00] HiranPeri commented on #76
@SosaWiseHome & @2pip2 I solved this by downgrading Twilio to 4.X version (Rest API based instead of SDK) and then 'System.IdentityModel.Tokens.Jwt' to '4.0.X'.

[2017-10-13 10:46] 2pip2 commented on #76
Hi @HiranPeri,  Thank very much! I appreciate a lot.
But, when I tryied downgrading 'System.IdentityModel.Tokens.Jwt' to version '4.0.X' show me the following:
One or more unresolved package dependency constraints detected in the existing packages.config file. All dependency constraints must be resolved to add or update packages. If these packages are being updated this message may be ignored, if

[2017-10-13 11:21] HiranPeri commented on #76
@2pip2 Not sure how you did it. Have you used 'Update-Package' or by changing packages.config and then restrore?
Might be possible, there are other dependent references as well.

[2017-10-13 11:34] 2pip2 commented on #76
Hi @HiranPeri !Thanks
I've used update-package and 'System.IdentityModel.Tokens.Jwt' owns the depencies:
-Microsoft.IdentityModel.Logging version 5.2.0-preview1-408290725
-Microsoft.IdentityModel.Protocol.Extensions version 1.0.4.403061554
-Microsoft.IdentityModel.Tokens version 5.2.0-preview1-408290725

[2017-10-13 17:25] SosaWiseHome commented on #76
Well.  I know this is not a solution but I started a service project for all my Twilio calls.  So I've separated it from my main API Service.  I know that is not a solution but I thought I would share this ... perhaps it helps someone.

[2017-10-13 21:20] timtong1982 opened #127 "MapWhenAsync not working with UseWebApi with MapHttpAttributeRoutes"
goal: enable attribute routing at host/uxapi/...etc
[code]
the attribute is working

[2017-10-13 21:43] Tratcher commented on #127
If Map works for you then why aren't you using it?

It's also not clear why you're using MapWhenAsync rather than MapWhen.

Rather than `_.Request.Path.Value.StartsWith` try `_.Request.Path.StartsWithSegments`.

[2017-10-13 22:47] timtong1982 commented on #127
Thanks Tratcher for replying!

the reason I want to use MapWhen* is in the future, we probably want to more branching than the request URL

tried both MapWhen and MapWhenAsync are not working.

[2017-10-14 06:09] ysmoradi commented on #127
I've used Map, MapWhen and MapWhenAsync several times. It's a complicated thing and you can't simply say those Map & MapWhenAsync in your sample code are equal. As an example,in both asp.net core and pipeline, request path & path base will be affected by Map.
I'm not in front of PC, so I'm not able to test, but for following samples: Map("/api") and MapWhen(c => ... /*request starts with /api*/).

[2017-10-18 02:05] Eilon commented on #122
FYI, I contacted our license experts and I'm awaiting a response from them.

[2017-10-18 19:32] paulomorgado opened #128 "Request handling errors should yield a 500 HTTP Status instead of an exception"
This test should pass:

[code]

But fails.

[2017-10-18 21:29] Tratcher commented on #128
This is one place where TestServer intentionally deviates from the behavior of a normal server. This gives you higher fidelity error messages in your unit tests and makes it easier for the debugger to break on exceptions.

[2017-10-18 21:29] #128 closed

[2017-10-20 14:54] turbodrubin opened #129 "How can I signal cancellation to Web API actions when the self-hosted OWIN server shuts down?"
I have an OWIN-based ASP.NET Web API hosted in a Windows Service. Most of my `ApiController` actions are async, and accept `CancellationToken` parameters:

    [Route("data/{id}")]
    public async Task<IHttpActionResult> GetSomeDataAsync(int id, CancellationToken token)
    {
        try
        {
            using (var _dataSource = ...)
            {
                return Ok(await _dataSource.

[2017-10-20 16:26] Tratcher commented on #129
`host.onAppDisposing` is triggered when you call Dispose on the value returned from WebApp.Start.
https://github.com/aspnet/AspNetKatana/blob/9f6e09af6bf203744feb5347121fe25f6eec06d8/src/Microsoft.Owin.Hosting/Engine/HostingEngine.cs#L302-L308
https://github.com/aspnet/AspNetKatana/blob/9f6e09af6bf203744feb5347121fe25f6eec06d8/src/Microsoft.Owin.Hosting/Engine/HostingEngine.cs#L112

GetSomeDataAsy

[2017-10-20 18:09] turbodrubin commented on #129
@Tratcher Thanks very much, that helped a lot. May I post your answer to my cross-posted question on StackOverflow?

[2017-10-20 18:09] #129 closed

[2017-10-20 19:06] Tratcher commented on #129
Cross posted to SO.

[2017-10-23 12:27] kryz opened #130 "OnSendingHeaders-Callback called twice"
In my Owin Middleware I subscribe a callback to the OnSendingHeaders. In my UnitTests (see below), the callback is sometimes called twice. Most of the time, the first TestCase succeeds and the second fails. Sometimes both succeed, sometimes both fail. Also on production I have the problem, that the callback is sometimes called more than once.

My expectation would have been, that this callback is

[2017-10-24 16:49] plraustin opened #131 "WS-Federation Encryption"
Any plans to support encryption for WS-Federation Protocol?

[2017-10-24 16:50] Tratcher commented on #131
Message encryption? No.

[2017-10-27 17:53] muratg commented on #103
@Shyam200408 Were you able to figure the issue out?   If not, could you provide a simple sample app and the steps to reproduce the issue?

[2017-10-27 17:57] muratg commented on #111
Backlogging this.  @blowdart , FYI

[2017-10-27 17:59] muratg commented on #117
Not enough details on this bug, so closing it.  Please let us know if you are still interested in this.

[2017-10-27 18:00] muratg commented on #118
@javiercn Thoughts on this?  What's the general approach in case sensitivity?

[2017-10-27 18:02] muratg commented on #125
@shikelong Are you talking about server or client side?

cc @Tratcher

[2017-10-27 18:02] #126 closed

[2017-10-27 18:06] muratg commented on #131
We don't plan to do this in Katana.

@brentschmaltz  Do you guys have any thoughts of supporting this in IdentityModel?

[2017-10-27 18:11] javiercn commented on #118
Nope. redirect uri comparison should be case sensitive as per spec, both oAuth 2.0 and Open ID Connect. Urls are case sensitive so it needs to be an exact match.

[2017-10-27 18:22] brentschmaltz commented on #131
The only encryption I know of is for SAML2 tokens, which the spec allows for EncryptedAssertion.
We have an issue in vNext to support this: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/734 . There is no date for this yet.

We do have plans for TokenBinding
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/716

[2017-10-27 18:58] Shyam200408 commented on #103
Yes it got fixed

On Fri 27 Oct, 2017, 23:23 Murat Girgin, <notifications@github.com> wrote:

[2017-10-27 19:17] #103 closed

[2017-10-27 21:23] #118 closed

[2017-10-28 02:58] hemant271 commented on #118
Thanks @javiercn for update.
I found this on requesting authorization code with redirect_uri **http://localhost:12345/callback** and  requesting token with **http://localhost:12345/Callback**, Because both resources would be same in .net project.

[2017-10-30 07:11] shikelong commented on #125
On the server side.

[2017-10-30 14:49] jr01 commented on #96
Another option is appsetting `<add key="owin:AutomaticAppStartup" value="false" />` in web.config. That makes sure the module isn't added in pre app start
https://github.com/aspnet/AspNetKatana/blob/3580ddd66ca91b495d1c1f23f193d7cf5a9a3f42/src/Microsoft.Owin.Host.SystemWeb/PreApplicationStart.cs#L32

[2017-10-31 14:12] Tratcher opened #132 "401 Unauthorized for services on same application server"
_From @FenrisWolfAtMiddleEarth on October 31, 2017 13:20_

Hi,

We are hosting multiple webservices with Owin on the same applicationserver. Our services require NTLM authentification. The services are accessed through a DNS-name which points to a load-balancer.
When service A tries to access service B and the load-balancer selects the B instance on the same application server as service A, we are

[2017-10-31 14:14] Tratcher commented on #132
NTLM can only be turned on or off in application code, there is no way to configure it from there. Have you tried the suggested workaround to verify it fixes your scenario?

[2017-11-01 06:56] FenrisWolfAtMiddleEarth commented on #132
Yes. We have tried the suggested solution 2) DisableLoopbackCheck = 1
That does fix the problem
However changing registry settings is not a good solution. Today it is all about phoenix-servers. Servers are not fixed hardware like it was 15-20 years ago.  We are constantly disposing and creating new virtual servrs for automated tests and other purposes. So having application dependency to machine-c

[2017-11-01 08:02] Tratcher commented on #132
Then you'll need to pick a different protocol that's not 15-20 years old. JWT Bearer is quite popular these days.

[2017-11-02 05:08] Tratcher commented on #104
Your example url was for the initial request that was lacking credentials and initiated the login flow? In that case then it looks like the encoding issues happen here where it captures the initial url for later use:
https://github.com/aspnet/AspNetKatana/blob/a4ad9a82cde44ac27242a2d23238aada2ec5b4be/src/Microsoft.Owin.Security.OpenIdConnect/OpenidConnectAuthenticationHandler.cs#L127
https://githu

[2017-11-02 06:34] FenrisWolfAtMiddleEarth commented on #132
Fair enough. Problems is as always legacy code and systems.
I will look in to whether it is doable in our organization.
Thanks for your input.

[2017-11-03 09:26] SeriousM opened #133 "PhysicalFileSystem: very slow with many files"
Hi!
I just spent hours figuring out why the `PhysicalFileSystem` component is very slow when it comes to serve about 600+ files over ssl in selfhosted scenario for my unbundled angular app.
I tried to change the implementation of [PhysicalFileSystem+PhysicalFileInfo.CreateReadStream()](https://github.com/aspnet/AspNetKatana/blob/24aa43641adac57cb5bd523b77bdc0ced9f0455d/src/Microsoft.Owin.FileSyste

[2017-11-03 15:17] Tratcher commented on #133
Interesting. How much does it vary for small vs large files? E.g. 1kb, 1mb, 1gb. Are your files primarily small?

[2017-11-03 16:07] SeriousM commented on #133
The files represent a big angular app in development mode (only vendor stuff is bundled) where the ~600 files range from 1kb to 5kb.
The load process is like a burst where a few files are loaded at first (eg. index.html, jspm_packages/system.js, config.js) and all others once `System.import("app/app")` kicks in.
It's strange that this behavior is triggered by using ssl in/direct and doesn't happen

[2017-11-03 16:21] Tratcher commented on #133
The addition of ssl causes two side effects. 1) it requires quite a bit more CPU and 2) it limits the amount of data sent per packet to about 16kb. The reduced packet size is primarily a problem for otherwise larger packages over high latency connections. Either of these can cause backups in your network, but it's not clear why the Async file option would affect any of that.

I expect the Async fi

[2017-11-03 23:29] Tratcher commented on #113
Note we do this for Core: https://github.com/aspnet/Security/blob/bd8ecd02684d490ece96c484e1092386f3515dec/src/Microsoft.AspNetCore.Authentication.Facebook/FacebookOptions.cs#L30-L34
We also use hashsets to avoid duplicate scopes and fields.

[2017-11-06 22:17] #113 closed

[2017-11-06 23:26] Tratcher commented on #98
From the solution directory of WebApplication6:
`D:\temp\WebApplication6>packages\OwinHost.3.1.0\tools\OwinHost.exe -d .\WebApplication6\`

[2017-11-07 18:58] #104 closed

[2017-11-07 22:25] AntSharK opened #136 "Open ID Connect - State not passed to OpenIdConnectProtocolValidator"
The "state" parameter is not passed into the OpenIdConnectProtocolValidationContext() during authentication, even if RequireState is set to true.

So if ProtocolValidator.RequireState is set to true, authentication will fail even if the State parameter is passed in.

[2017-11-08 17:05] Tratcher commented on #136
The handler already checks for state so the validator does not need to.
https://github.com/aspnet/AspNetKatana/blob/7db01eb2db3acf787651b4dc27d5fd05dc47e4ec/src/Microsoft.Owin.Security.OpenIdConnect/OpenidConnectAuthenticationHandler.cs#L240-L246

[2017-11-08 17:06] Tratcher commented on #133
@sebastienros This would be interesting to repro with Core.

[2017-11-08 19:04] brian-knoll-micronetonline opened #137 "TicketSerializer does not serialize Claim Properties"
### Title
*Serializing and then Deserializing a ticket loses data*

### Functional impact
*not all data available when looking at claim*

### Minimal repro steps
*Execute this C# code snippet*
[code]

### Expected result
*All data would survive the serialization and deserialization*

### Actual result
*Only some of the data survives*

[2017-11-08 19:05] AntSharK commented on #136
The problem is down the line:
https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Security.OpenIdConnect/OpenidConnectAuthenticationHandler.cs#L355-L361

Unfortunately, the default OpenIdConnectProtocolValidator does not pick up the state automatically from the ProtocolMessage, and it's not passed in.

So this exception gets thrown since RequireState is true, but the state is blank:

[2017-11-08 19:29] Tratcher commented on #137
@brentschmaltz how commonly do people set claim properties? This is the first ask I've seen for this in 5 years.

Also, this is a significant interop break.

[2017-11-08 19:35] Tratcher commented on #136
Why are you turning on RequireState? It's not required in this context.

[2017-11-08 20:04] SeriousM commented on #133
I guess it's pretty easy to reproduce the issue by having an index.html with 600 script references to unique files to avoid caching. What would you men?

[2017-11-08 20:08] Tratcher commented on #133
He is performance testing ASP.NET Core and this component was ported to Core a while ago.
https://github.com/aspnet/FileSystem/tree/dev/src/FS.Physical

[2017-11-08 21:09] SeriousM commented on #133
With the same flags: https://github.com/aspnet/FileSystem/blob/dev/src/FS.Physical/PhysicalFileInfo.cs#L57

[2017-11-08 21:39] AntSharK commented on #136
That is true. I see the default ProtocolValidator is now initiated with RequireStateValidation = false. So, perhaps slightly confusing, but I guess not really a bug.

[2017-11-08 21:39] #136 closed

[2017-11-09 16:54] brian-knoll-micronetonline commented on #137
i have committed an additional change to cleanup the interop break.

[2017-11-15 18:06] Tratcher opened #139 "Figure out why stylecop stopped working"
Stylecop stopped working and it does not appear to be related to any recent commits. The main suspect is that my dev machine was updated to Win10's 2017 Creator's update.

I've disabled it for now.

[code]

[2017-11-16 03:53] Tratcher commented on #137
We've decided not to take this change.

[2017-11-16 03:53] #137 closed

[2017-11-17 11:49] chrisjsmith commented on #74
Same issue here.

[2017-11-21 13:44] #125 closed

[2017-11-21 16:09] bhupinder7 commented on #76
Is there any update on the new version (5.2.0) to fix this issue? I am also getting the same error message while upgrading the  System.IdentityModel.Tokens package. Thanks !

[2017-11-21 18:18] Tratcher opened #140 "[Announcement] 4.0.0-preview1 is now available"
4.0.0-preview1 is now available. We anticipate this will be the last prerelease. If you like it we'll ship the final version in a few weeks.
https://www.nuget.org/packages/Microsoft.Owin/4.0.0-preview1

This includes updated IdentityModel preview2 dependencies with WsFederation bug fixes. It also includes a few local bug fixes:
https://github.com/aspnet/aspnetkatana/issues?utf8=%E2%9C%93&q=is%3Ais

[2017-11-21 18:23] Tratcher commented on #76
@bhupinder7 yes, see https://github.com/aspnet/AspNetKatana/issues/140

[2017-11-22 18:02] mmoser-rivermoss commented on #76
I just installed the 4.0.0-preview1 and I am getting: Could not load type 'System.IdentityModel.Tokens.TokenValidationParameters' from assembly 'System.IdentityModel.Tokens.Jwt, Version=5.2.0.0

[2017-11-22 18:05] Tratcher commented on #76
@mmoser-rivermoss pleases share your packages.config. It sounds like you have mismatched dependencies.

[2017-11-22 18:07] mmoser-rivermoss commented on #76
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net461" />
  <package id="bootstrap" version="3.0.0" targetFramework="net461" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="jQuery" version="1.10.2" targetFramework="

[2017-11-22 18:08] Tratcher commented on #76
You missed `"Microsoft.Owin.Security.Jwt" version="3.1.0"`

[2017-11-22 18:19] mmoser-rivermoss commented on #76
That was it. Thanks!

What had happened is I had installed version 4.0.0-preview1 for the `Microsoft.Owin.Security.Jwt`, but when resolving the new `IssuerSecurityKeyProviders` instead of `IssuerSecurityTokenProviders` and the `SymmetricKeyIssuerSecurityKeyProvider` instead of `SymmetricKeyIssuerSecurityTokenProvider`, Resharper reverted my reference back to the 3.1.0 version.  I almost did it the

[2017-11-22 18:20] bhupinder7 commented on #76
Thanks, @Tratcher  , Should I try out the preview version or just wait for the final release?

[2017-11-22 18:27] Tratcher commented on #76
Yes please try the preview.

[2017-11-22 19:37] bhupinder7 commented on #76
@Tratcher , just want to confirm before testing the dependency if I can do the following?

- Upgrade **System.IdentityModel.Tokens.Jwt** nuget package to latest versions (5.1.5)
- Upgrade  **Microsoft.Owin.Security.Jwt** nuget package to latest version (3.1.0)
- Install the latest preview of **Microsoft.Owin package** (4.0.0)

[2017-11-22 19:41] Tratcher commented on #76
No, all of the Microsoft.Owin packages should be 4.0.0-preview1 and IdentityModel should be 5.2.0-preview2-...

[2017-11-22 20:16] bhupinder7 commented on #76
thanks

[2017-11-24 10:45] michaelharrod commented on #70
We've been able to reliably recreate a missing nonce error "IDX10311: RequireNonce is 'true' (default) but validationContext.Nonce is null." This is what we do:

1. Open IE11, browse to your site (RP) that uses Azure AD (IdP) authentication.
2. Be redirected to IdP, enter username and password as usual.
3. Be redirected to RP notice normal login.
4. Sign out of RP.
5. Open Internet Options
6. Ensu

[2017-11-24 15:33] ahokkonen-dev commented on #70
Miracly we managed to fix this issue by adding empy Session_Start -method to Global.asax as suggested at this thread: [https://github.com/IdentityServer/IdentityServer3/issues/542](url). After that no more missing cookies or soever :)

I really don't understund how it works but it really do!

[2017-11-24 17:44] michaelharrod commented on #70
We had the infinite redirect issue originally and this SystemWebCookieManagerfixed it for us:
https://stackoverflow.com/a/35172649/1825109

This new missing nonce error looks like a different cause. Strangely a downstream result of clearing browser history in IE 11 causing it to fail to retain a new cookie that's presented to it. Our tester only raised this because we kept telling him to clear his

[2017-11-27 15:20] maxcherednik opened #141 "Request.CallCancelled is not set when client disconnects too fast"
Request.CallCancelled cancellation token is never signaled if a client disconnects before this cancellation observed.

Bellow you can find an example which imitates client's disconnection.
**Case 1:** we observe(access it) the Request.CallCancelled before client disconnects

**Case 2:** we observe(access it) the Request.CallCancelled when client already gone

[code]

It seems the problem is somewh

[2017-11-27 16:12] lyolikaa opened #142 "singin id for IdentityServer3"
Hello.
I'm trying to implement Quickbooks SSO provider with Katana middleware.
app.UseOpenIdConnectAuthentication(new OpenIdConnectAuthenticationOptions...
..
SignInAsAuthenticationType = signInAsType,//"idsrv.external"
...
As a response I get callback to IS3: http://localhost:44333/callback?state=...
and it says about error: _No signin id passed_
Do I need hanlde it in OpenIdConnectAuthentication

[2017-11-30 07:11] chrispatrick opened #143 "MicrosoftAccountAuthenticationProvider.OnAuthenticated does not have access to properties"
I'm not sure if there's a reason for this behaviour, but I'm using the MicrosoftAccountAuthenticationMiddleware and implementing a custom handler in OnAuthenticated. However, context.Properties is null at this point which means I can't maintain any custom state across the authentication process without doing something like manually creating and deleting cookies.

It appears to be a pretty simple t

[2017-11-30 13:28] Tratcher commented on #143
This looks like a typo. All of the other providers set the Properties first.
https://github.com/aspnet/AspNetKatana/blob/1653abe19b8740977e368ee0782f1e3eb2c65d03/src/Microsoft.Owin.Security.MicrosoftAccount/MicrosoftAccountAuthenticationHandler.cs#L124-L128
https://github.com/aspnet/AspNetKatana/blob/1653abe19b8740977e368ee0782f1e3eb2c65d03/src/Microsoft.Owin.Security.Facebook/FacebookAuthenticati

[2017-11-30 13:47] peter-bannerflow opened #144 "OnValidateIdentity in OWIN Cookie authentication middleware not called"
I am using the OWIN cookie authentication middleware and have setup a custom `OnValidateIdentity`-method that should be invoked on all requests that needs to be authenticated.

My setup looks like this:

[code]

The issue I have is that for some requests, `OnValidateIdentity ` is not called. If I hit the same protected Web API controller multiple times, some of the requests would not invoke the `O

[2017-11-30 13:53] Tratcher commented on #144
It sounds like those requests did not have an auth cookie, or at least not a valid one. It must pass all of the built in validation before the OnValidateIdentity event is called.  CookieAuth does not reject anonymous requests, that's what [Authorize] is for.

Start by taking a Fiddler trace to see what's different about those requests.

[2017-11-30 14:02] peter-bannerflow commented on #144
I've checked that the request does have a cookie matching the name specified by the `AuthenticationType`-property. Wether it is valid or not is harder to say since the data inside it is protected.

I've looked into whats going on in `AuthenticateCoreAsync` (https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin.Security.Cookies/CookieAuthenticationHandler.cs#L39) and from what I can se

[2017-11-30 14:42] Tratcher commented on #144
You can check the app logs. most of those failures are logged. https://github.com/aspnet/AspNetKatana/wiki/Debugging

[2017-11-30 15:02] peter-bannerflow commented on #144
Found the issue. The cookie was expired.

This is because I also use the `OpenIdConnect`-middleware using the same cookie. Turns out that if you don't specify `UseTokenLifetime = false` in that config, it will use the expiry of the ID token as cookie expiry. So the problem I saw was in fact due to the cookie being expired, so just as you said it didn't pass all the built in validation.

Thanks for

[2017-11-30 15:03] chrispatrick commented on #143
Thanks. Thought it might be a typo. PR submitted.

[2017-11-30 15:06] #144 closed

[2017-11-30 15:07] #143 closed

[2017-12-04 12:52] furier opened #146 "Microsoft.Owin.Testing not registering OData v4 routes"
Hi

I am trying to spin up an in-memory owin test server to integration test my OData API, however all attempts at calling any routes routes return **404 not found**. Everything works fine for WebApi but OData nothing...

Here are the "important" parts of my code, have tried to strip out less important parts, however if I missed something or stripped out to much just call out.

_I also want to poi

[2017-12-04 16:17] Tratcher commented on #146
@rynowak @javiercn ?

[2017-12-04 20:58] javiercn commented on #146
@Tratcher This sounds like a question for the OData team. I've filed an issue in their repo. https://github.com/OData/WebApi/issues/1146

I'm closing this one.

[2017-12-04 20:58] #146 closed

[2017-12-05 05:17] Tratcher commented on #142
That's not much to go on. At a minimum you'd need to share more of your configuration. More likely you'll need to ask IS3 what that error means.

[2017-12-06 12:30] lyolikaa commented on #142
@Tratcher , more details:

[code]

Actually I follow Intuit manual _https://developer.intuit.com/docs/00_quickbooks_online/2_build/10_authentication_and_authorization/50_identity/20_openid_connect_
I am able to authorize and get callback and stuck in that IS3 error
In doubt, where signin id is missed

[2017-12-06 17:59] hmalli opened #147 "Is there any plan to add "UseWhen" extension?"

[2017-12-06 18:26] Tratcher commented on #147
This one?
https://github.com/aspnet/HttpAbstractions/blob/87cd79d6fc54bb4abf07c1e380cd7a9498a78612/src/Microsoft.AspNetCore.Http.Abstractions/Extensions/UseWhenExtensions.cs#L23

No, but it's trivial for you to add to your app. You can copy that code and replace the builder type.

[2017-12-06 18:51] hradusumalli commented on #147
It's complaining about the following line. Katana doesn't seem to have Use extension with following signature. Am i missing something?

return app.Use(main =>
            {
                // This is called only when the main application builder
                // is built, not per request.
                branchBuilder.Run(main);
                var branch = branchBuilder.Build();

[2017-12-07 17:41] Tratcher commented on #147
[code]

[2017-12-07 18:04] hmalli commented on #147
that works. thank you!

[2017-12-07 23:17] xuzhg commented on #146
@furrier Would you please take a look the comment in https://github.com/OData/WebApi/issues/1146

[2017-12-08 05:19] nahidf opened #148 "Identity cross on a MVC app using CookieAuthentication OWIN middleware"
I'm having an issue in one of our applications which uses CookieAuthentication OWIN middleware, the bug is that identities crossed and user A somehow accessed user B identity, user A and user B logged in to our app from 2 different location.
This issue happened 2 times in 6 month from when our app is launched so far, unfortunately i was not able to reproduce it and also narrow it down to the spot

[2017-12-08 05:27] Tratcher commented on #148
How did the problem present itself? Did you notice the problem when using cookies or bearer? Were they accessing the MVC app or the API?

What does your startup auth config look like for the affected app?

[2017-12-08 05:42] nahidf commented on #148
Our app is an account management app which users can see their purchased vehicles
First time: User A saw user B's vehicles when they logged in, user sent us a snapshot of what they saw
Second Time: We have an API which user register their vehicle with, userId comes from bearer in that API and vehicle data comes from data entry by user, We have a record in DB which userId of user A is assigned to v

[2017-12-08 06:09] Tratcher commented on #148
You're going to have a really tough time working this out without a repro to investigate. As it's such a rare occurrence I suspect it's not an issue with the authentication but rather an issue with the data access layer.  The first scenario could be explained by incorrect caching of results. The second scenario sounds like data corruption when inserting the record. Do you see any records that refe

[2017-12-08 06:34] nahidf commented on #148
Issue is that cache key on API is Bearer token and its almost impossible that a user can see some other user data without having their access token

Its not just 1 insert in DB, there was 2 Insert in DB and 1 call to a third party, user A managed to fully register as User B
Issue just can happen if user A using User B's data

First time user A and B tried to login to app at the same time - we know

[2017-12-11 10:45] maxcherednik commented on #141
Seems that this part is missing:
https://github.com/aspnet/HttpSysServer/blob/231cbffe1a5cc0abce11e2d0685683ed74fc7ad5/src/Microsoft.AspNetCore.Server.HttpSys/NativeInterop/DisconnectListener.cs#L115

[2017-12-11 15:10] kryz commented on #130
Update: We realized that we have a different problem on production, i.e. I can only confirm that the callback is called twice with the testserver.

[2017-12-11 17:53] javiercn commented on #146
This was resolved on the OData repository. It was a casing issue in the route.

[2017-12-11 18:12] Tratcher commented on #141
Interesting. That behavior is OS specific (Win8+), what OS are you running? See http://referencesource.microsoft.com/#System/net/System/Net/HttpListener.cs,296

[2017-12-11 18:29] maxcherednik commented on #141
Hi @Tratcher, thank you for replying.

Windows 10. And the response is exactly NativeMethods.HttpErrors.NO_ERROR.
I can post a pull request with the test highlighting the issue.
I am just thinkin that this documentation is not clear enough(regardsless the windows version) https://msdn.microsoft.com/en-us/library/windows/desktop/aa364508(v=vs.85).aspx

It is saying that:

So we do call it in async

[2017-12-11 18:35] maxcherednik commented on #141
And another thing regarding the code you sent. This code sample is on asp.net core. In katana this condition check is **missing**.

[2017-12-11 18:52] maxcherednik commented on #141
A quote from here: [Synchronization and Overlapped Input and Output](https://msdn.microsoft.com/en-us/library/windows/desktop/ms686358(v=vs.85).aspx)

So in our case we do receive NO_ERROR, which means async operation we were asking for finished in a synchronous way.

[2017-12-13 00:47] ryanski44 opened #149 "Request.Path throws ArgumentException for OPTIONS * HTTP/1.1"
OPTIONS * HTTP/1.1 is a valid HTTP Request (https://tools.ietf.org/html/rfc7231#section-4.3.7). When using IOwinContext to interrogate this request, calling Request.Path throws this exception:

System.ArgumentException:
The path must start with a '/' followed by one or more characters.
Parameter name: value

This exception comes from PathString which makes sure that the path starts with a "/".

Th

[2017-12-13 02:34] Tratcher commented on #149
For reference, when we handled this in ASP.NET Core we opted to leave path empty and only expose the * in the raw target field.

Which server were you using, SystemWeb or HttpListener?

[2017-12-13 11:27] henriquecampos opened #150 "Odd behavior with cookie authentication in windows service."
I'm facing an strange behavior when running a owin self host SignalR project. My project setup is as follows:

SignalRSelfHost -> A console app with SignalR hubs. I'm using Topshelf to simplify service installation, but tried with regular services with the same behavior.

JavascriptClient -> A ASP.NET MVC app that authenticates the user (using cookies) and connects to the self hosted signalr app.

[2017-12-13 16:51] henriquecampos commented on #150
I've found my problem. The Microsoft.Owin.Security.DataProtection.DpapiDataProtector class uses the DataProtectionScope.CurrentUser scope, with was not working on the windows service. I created my own class using LocalMachine scope, and after clearing the cookies, everything is working fine.

I'll leave the code here for reference:

	internal class LocalMachineDpapiDataProtector : IDataProtector

[2017-12-13 16:59] Tratcher commented on #150
Nice.

[2017-12-13 16:59] #150 closed

[2017-12-13 18:09] ryanski44 commented on #149
@Tratcher, we are using HttpListener.

[2017-12-18 11:25] lyolikaa commented on #142
I've connected IdentityServer3 sources to debug, it cannot take "signin" from middleware, here:

 `

        public static async Task<string> GetSignInIdFromExternalProvider(this IOwinContext context)
        {
            if (context == null) throw new ArgumentNullException("context");

            var result = await context.GetAuthenticationFrom(Constants.ExternalAuthenticationType);

[2017-12-18 16:50] Tratcher commented on #142
Those result.Properties flow in the State field of the protocol. Does a Fiddler trace show the State field being sent back to IS3?

[2017-12-18 19:09] elezar42 opened #151 "ChunkingCookieManager can return values that aren't fully %-decoded"
If a %-encoded value results in an encoded entity right at the boundary for chunking, that entity won't get decoded when returned via GetRequestCookie. Since the entire value gets escaped before chunking, it's possible for the encoded entity (e.g., %20) to get split between the cookie chunks. However, GetRequestCookie relies on the OwinRequest to handle the decoding of the cookies, which of course

[2017-12-18 19:12] Tratcher commented on #151
Where are you using the ChunkingCookieManager? The default usage in CookieAuth wouldn't have this problem as it doesn't use any values that would require escaping.

[2017-12-18 19:46] elezar42 commented on #151
I'm using it directly from my own code. I have a rather large value that is encrypted & Base64 encoded, that I need to store in a cookie. It can be too large for a single cookie, so I'm using the ChunkingCookieManager. Since that class is public rather than internal, I thought it would be safe to use directly...

[2017-12-18 20:00] Tratcher commented on #151
An encrypted & Base64 encoded value wouldn't need %-encoding... that's exactly what CookieAuth does. Can you share some raw values before chunking, and what the round trip looks like?

[2017-12-18 20:34] elezar42 commented on #151
Base64 encoding can include + and /, both of which would get %-encoded. Ahh, I just looked at what exactly CookieAuth is doing, and looks like it's using the Base64UrlTextEncoder, which automatically replaces + and / with - and _. I guess I could do the same thing, but it still feels like a bug to me, that the ChunkingCookieManager doesn't work with standard Base64 strings.

[2017-12-18 20:49] JohnGalt1717 commented on #76
I am using the preview and when I try and use MEF to load a specific type that has nothing to do with IdentityModel I get the following error:

Could not load type 'System.IdentityModel.Tokens.ISecurityTokenValidator' from assembly 'System.IdentityModel.Tokens.Jwt, Version=5.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

Of course it's MEF so it doesn't actually provide you with any mo

[2017-12-18 20:52] Tratcher commented on #76
@JohnGalt1717 that implies you have mixed version dependencies. Please share your dependency list.

[2017-12-18 20:57] JohnGalt1717 commented on #76
Here's my packages.config

<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net47" />
  <package id="Autofac" version="4.6.2" targetFramework="net47" />
  <package id="CADLearning.Common.Utilities" version="2.0.9" targetFramework="net47" />
  <package id="CADLearning.Localizations" version="1.0.0" targetFramework="net47" />
  <package id="C

[2017-12-19 08:59] lyolikaa commented on #142
mmm, what a State? I see in Notifications.RedirectToIdentityProvider context.ProtocolMessage.State = something-quickbooks-special

[2017-12-19 09:07] lyolikaa commented on #142
var result gets null here:
![image](https://user-images.githubusercontent.com/11559028/34148910-ed88abdc-e4ab-11e7-8c2c-e69b2a6ee7cd.png)

[2017-12-19 09:12] lyolikaa commented on #142
I tried put some id in UserService.PreAuthenticateAsync, Notifications.RedirectToIdentityProvider...
maybe I have to enable:
[code]
or use
`app.UseOAuthAuthorizationServer(new OAuthAuthorizationServerOptions`
instead of
` app.UseOpenIdConnectAuthentication(new OpenIdConnectAuthenticationOptions`

[2017-12-19 16:52] Tratcher commented on #142
You really need to go ask IS3 these questions. They have pretty good samples and docs last I checked.

[2017-12-19 16:52] #142 closed

[2017-12-19 17:06] Tratcher commented on #151
It's always better to use cookie values that don't require additional encoding. The encoding provided by the cookie APIs is only there to prevent invalid values from corrupting the protocol.

I don't anticipate trying to fix this ourselves in ChunkingCookieManager. You're welcome to take a look and see how complex a fix might be.

[2017-12-21 15:29] ahokkonen-dev commented on #70
Oh boy, now we managed to find out what was causing this issue!
TimeZone was set wrong on those machines and that was it. Basically on those machines where timezone was "behind" current time on creating OpenIdConnect.nonce cookie it was already expired and cleaned up right after redirection to identity provider.

It was not an issue for 3.0.1 but on 3.1.0 it is time zone sensitive!

[2017-12-22 06:37] NodeGIS opened #152 "How to setting the "timeout" and "maxRequestLength" on Server?"
We know, we can set them in file "web.config" on the IIS, but I can not find an setting on the Owin HttpListener。 I want to know what is default setting?

[2017-12-22 06:50] mukeshrebari opened #153 "OAuthValidateClientAuthenticationContext.ClientId and Parameters are null"
Can anyone answer [this](https://stackoverflow.com/questions/47933471/oauthvalidateclientauthenticationcontext-clientid-and-parameters-are-null-after)

I have a strange case for above OAuth process ClientId is null as well as Parameters is empty.

1. The above code works fine on all of our developer machines.

2. Compiled Version of Web API also works if hosted in IIS on Developer Machine.
3. But

[2017-12-27 12:19] Tratcher commented on #152
Which timeout setting are you referring to? Can you share a sample web.config?

HttpListener has no request length limit feature. You would need to build this as middleware.

[2017-12-27 17:36] Tratcher commented on #76
`id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.4.403061554"` looks out of place in that list. Try removing it.

[2017-12-28 13:03] rohantare commented on #76
I am facing similar problem. As i upgraded my microsoft bot package, which uses System.IdentityModel.Tokens.Jwt 5.1.4
However my solution also uses owin for authentication, owin version="3.1.0" which is not compatible with System.IdentityModel.Tokens.Jwt 5.1.4

@Tratcher , your proposed solution has worked for me.
my packages file looks like this :
<?xml version="1.0" encoding="utf-8"?>
<packages>

[2017-12-28 13:12] snekbaev commented on #76
+1, also waiting to upgrade from 3.1. According to the road map it is supposed to RTM in Q4 2017 :)

[2017-12-28 13:40] Tratcher commented on #76
The final packages will be out Soon. Next week?

[2018-01-01 01:09] CSurieux opened #154 "Facebook, Google and Microsoft Account can't redirect after successful authentication"
Hello,

I am using Orchard v1.10 and the Orchard.OpenId module. Which itself uses the 3.1 packages. (VS2017)
I first implemented Facebook authentication and it was working without any problems, then I added Google and things turned weird.
After a successful authentication, this OnAuthenticated  code being called and working perfectly (here for Google but working identicatly for Facebook and Micros

[2018-01-01 11:14] CSurieux commented on #154
The fiddler screen
<img width="681" alt="fiddler-pb-owin" src="https://user-images.githubusercontent.com/2103534/34467289-5ce4e680-eeed-11e7-9b4b-35627233e095.png">

[2018-01-01 12:34] CSurieux commented on #154
Ok, I finally foiund, It is a misundertsanding in the Orchard.OpenId module.
When inputing the callack url, their is a comment which is bad and incitates to error:

<span class="hint">@T("Microsoft's Callback Path obtained from your Google dashboard (case sensitive). Recommended: {0}", General.LogonCallbackUrl)</span>

'Recommended' should be 'DO NOT USE'!!!

W*Owin needs a separate czllback then

[2018-01-01 12:34] #154 closed

[2018-01-01 22:19] CSurieux commented on #154
Just some back fire reflexion concerning owin : the url passed in the CallbackPath option could be checked for non being masked by an existing route.
I also notice that, for MS account, 'one segment urls' are not working: /callback fails when /xxx/Callback works. It works for Google.

[2018-01-02 13:20] #70 closed

[2018-01-04 21:28] xantari commented on #74
Still seeing this with .NET 4.6.2. Some indications that this occurs when the sliding expiration cookie gets renewed.

[2018-01-10 15:34] darkl opened #155 "OWIN WebSockets SendAsync on IIS sometimes returns a task that never completes"
This issue was found while investigating [this issue](https://github.com/Code-Sharp/WampSharp/issues/226).

When running a long running WebSocket server hosted on IIS, sometimes SendAsync returns a task that never completes nor terminates. I would the task to fault at some point, but it remains in state WaitingForActivation.

A repro can be found [here](https://github.com/darkl/OwinWebSocketBug).

[2018-01-10 15:50] dzmitrykarnitski opened #156 "Configuration caching in OpenIdConnectAuthenticationHandler"
Hi,

I am trying to make OpenIdConnect authentication configuration somewhat dynamic. I supposed that this can be achieved by creating some notification handlers and overwriting default configuration manager to provide a necessary configuration at runtime. However, a configuration provided by configuration is also cached inside the authentication handler.
Like here:
https://github.com/aspnet/AspNe

[2018-01-10 16:09] Tratcher commented on #156
New handlers are created for each request so that caching shouldn't impact you much.

[2018-01-10 16:20] Tratcher commented on #155
Katana provides a minimal wrapper for System.Web.WebSockets in this scenario. Can you reproduce this using System.Web directly?

[2018-01-10 16:35] darkl commented on #155
Probably it is possible to reproduce this using System.Web directly. What further actions do you suggest (i.e. how should I modify the repro, and where should I move the issue to)?

Thanks
Elad

[2018-01-10 16:39] dzmitrykarnitski commented on #156
Yes, I agree. Everything works fine for now. Just wanted to be sure that this will be ok in future. Configuration manager already caches the value, so I didn't find any reasons to cache the configuration again in the handler.

[2018-01-10 16:42] Tratcher commented on #156
The handler wants to make sure it uses the same configuration for the duration of a request. The ConfigurationManager caches but could update it's cache at any time.

[2018-01-10 16:44] Tratcher commented on #155
If you can eliminate your Microsoft.Owin dependencies and repro with only System.Web then I can help you track down the right person to investigate.

[2018-01-10 16:49] dzmitrykarnitski commented on #156
Oh, makes sense. It seems, that in my case it might even help. Thank you!
Closing this.

[2018-01-10 16:49] #156 closed

[2018-01-10 17:15] darkl commented on #155
Created a [branch](https://github.com/darkl/OwinWebSocketBug/tree/without-owin) without OWIN dependencies.

Thanks!
Elad

[2018-01-10 18:52] indiaweblab commented on #153
Can anyone tell me, If I am at the right place to raise this issue? Or no one is in the mood to help me out? I tried my all efforts in resolving this bug but no luck

[2018-01-10 20:03] Tratcher commented on #155
@Eilon can you recommend someone for System.Web WebSockets debugging?

[2018-01-11 19:09] Eilon commented on #155
@Tratcher usually I'd recommend *you* 😄 I can give you a name in person.

[2018-01-16 10:01] yaliashkevich opened #157 "Microsoft.Owin.Security.Jwt Token signature validation."
I'm using Microsoft.Owin.Security.Jwt middleware to authenticate request with JWT access token produced by IdentityServer. It works fine.
The only question I have is token signature validation. For now I have to configure the IssuerSigningToken/IssuerSigningKey in the code (startup.cs).

My goal is to implement "auto" keys discovery (load JWK set from uri specified in discovery document: /.well-kn

[2018-01-16 13:37] Tratcher commented on #157
No, but it's something we are looking into for the future.

[2018-01-17 08:42] flin-zap commented on #155
Hi guys,
Do we know where the issue lies?

[2018-01-17 15:58] Tratcher commented on #155
Not yet. I've passed this off to the Asp.Net 4 servicing team to investigate.

[2018-01-17 16:58] 1110770MiguelSilva commented on #76
Any update? I'm also having this issue, when trying to use [BotAuth](https://github.com/richdizz/BotAuth/tree/master/CSharp), getting this error:

`Could not load type 'System.IdentityModel.Tokens.ISecurityTokenValidator' from assembly 'System.IdentityModel.Tokens.Jwt, Version=5.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.`

My packages.config is like this:

[code]

[2018-01-17 17:04] Tratcher commented on #76
BotAuth is using System.IdentityModel.Tokens.Jwt 4.0 https://www.nuget.org/packages/BotAuth/3.11.0-alpha. That's not going to work with System.IdentityModel.Tokens.Jwt 5.2.

[2018-01-17 17:27] MHHenriksen opened #158 "RangeHelpers.TryParseLong uses int.TryParse"
This causes byte range requests past ~2GB to fail.

https://github.com/aspnet/AspNetKatana/blob/6fcee9515f439cd3f8da54977f97280e8056eee4/src/Microsoft.Owin.StaticFiles/Infrastructure/RangeHelpers.cs#L87

[2018-01-18 05:04] flin-zap commented on #155
Great thanks!

[2018-01-18 22:47] Jinhuafei commented on #155
@flin-zap It looks like the client side causes the issue. If you enable socket tracing, you will see the following log. At the end of the log, the receive operation never completed. I also tried two other websocket clients(System.Net.WebSockets.ClientWebSocket and JavaScript WebSocket), and all worked well.

System.Net.Sockets Verbose: 0 : [7728] Entering Socket#45004109::ReceiveAsync()
System.Net

[2018-01-19 05:13] darkl commented on #155
Dear @Jinhuafei,

Thanks for your help. I understand that this is the client's fault, but what would you suggest to do on the server side? I would expect the Task to fault after some timeout. Should the server developer handle this issue themselves?

Elad

[2018-01-19 05:14] darkl commented on #155
By the way, the original code works fine when using OWIN self-host. Any ideas why?

Elad

[2018-01-19 13:16] bdebaere opened #159 "Add query parameter if not present"
I have an API to which I would like to add OWIN middleware which reads the query parameters from the URI and adds a specific one if it is not already present.

I have tried multiple different things. And have two issues:
- `context.Request.Query.Get("param")` appears to always be null, even if specified
- I cannot find a method to add a query parameter, only PathString which doesn't seem to work f

[2018-01-20 04:50] darkl commented on #155
I tried to debug the WebSocket4Net codebase. The code is waiting for a reply after calling [https://msdn.microsoft.com/en-us/library/system.net.sockets.socket.receiveasync(v=vs.110).aspx](ReceiveAsync). As I mentioned in my previous comment, this does work fine on OWIN self-host, and on many other WebSockets implementations (for instance vtortola).
I couldn't find anything wrong while debugging th

[2018-01-22 06:52] bigbearzhu commented on #155
Narrowed down this a bit more. Fiddler shows that the server doesn't reply with the message sent through. Interestingly it shows that a Ping message was sent to the server from WebSocket4Net almost at the same time of the last message sent. I tried sending a Ping message manually immediately after sending a message. It hangs very quickly (< 5 messages). It seems IIS just don't like Ping and normal

[2018-01-22 11:09] Tratcher commented on #155
@panwang look familiar?

[2018-01-22 11:12] Tratcher commented on #155
@pan-wang @anurse does this look like any of the IIS websocket issues you've seen?

[2018-01-23 15:18] figuerres commented on #76
i have a set of apps that i am trying to update , getting an error that i think has to do with
"Microsoft.IdentityModel.Protocol.Extensions" but the new version does not support .net 4.6
trying to see if i need it or not .... what a pain this is so far....

[2018-01-23 15:36] figuerres commented on #76
when i removed the "Microsoft.IdentityModel.Protocol.Extensions" i now get an error like @1110770MiguelSilva gets but i am not using the bot auth package.
in my case i do use identity server 3, not sure how that works in this mess ....just know that trying to update breaks everything and i will have to roll back and try not updating stuff for now.

[2018-01-23 21:55] Tratcher commented on #155
This resembles a known IIS bug that was fixed in recent Windows releases (1703 or 1709). What OS version are you testing on? See winver.exe.

[2018-01-23 22:48] darkl commented on #155
![image](https://user-images.githubusercontent.com/1126390/35304972-991c0ffa-0065-11e8-8c00-301deae5748d.png)

[2018-01-23 23:04] bigbearzhu commented on #155
I have tested using the [code](https://github.com/ZapTechnology/OwinWebSocketBug/tree/SendPing) on latest Windows 10 Version 1709 (OS Build 16299.125) with IIS Express (iisexpress 10.0.14358.1000). It still failed almost immediately. Fortunately, on the same machine, IIS (w3wp 10.0.16299.15) doesn't fail like before, but it can still get stuck for a few seconds and then continued every minute or s

[2018-01-23 23:10] Tratcher commented on #155
https://github.com/aspnet/WebSockets/issues/100 is the only public reference. I'll check if there's a corresponding fix for IIS Express.

[2018-01-23 23:49] bigbearzhu commented on #155
Thanks @Tratcher for your effort! Let's hope this update will be rolled into Azure Web App hosting OS soon. So far I could only disable the auto ping to work around it.

[2018-01-25 10:48] bdebaere commented on #159
This is a working solution:
[code]

[2018-01-25 10:49] #159 closed

[2018-01-25 17:44] Tratcher commented on #155
It looks like the fix has not been ported to IIS Express yet. There is a plan to update express, but no specific schedule.

[2018-01-26 23:36] #158 closed

[2018-01-27 00:04] #151 closed

[2018-01-27 00:22] #117 closed

[2018-01-29 14:00] netsrotr opened #161 "Combine multiple WebAPI assemblies in one host process (here: Unit test project) results in "404 / Not found" at controller endpoints"
### Combine multiple WebAPI assemblies (WebAPI 2 **v5.2.3**) in one host process
*Navigating any API endpoint  results in "404 / Not found", but hosting each API separately it runs fine*

### Functional impact
*This issue has an big impact to our project structure design*

### Minimal repro steps
*Attached is a sample solution containing two API projects and one unit test project you can run to se

[2018-01-29 14:12] netsrotr commented on #161
Maybe this is the wrong git repo, I filed the same issue against AspNetWebStack too: [https://github.com/aspnet/AspNetWebStack/issues/122](https://github.com/aspnet/AspNetWebStack/issues/122)
Thank you.

[2018-01-29 14:37] Cpcrook commented on #76
Any update on when the final package versions will be available for 5.2.0?

[2018-01-29 15:05] figuerres commented on #76
General Comment to Microsoft: while the move to open source and git hub is a good thing I have seen a *LOT* of this trend to release updates that break things.  fast updates that break projects is not better.
more care needs to be taken in making sure of breaking changes and how to notify users of known breaking changes. this should be for all code that Microsoft Owns / Leads / Publishes.

[2018-01-29 18:02] Tratcher commented on #161
Yes, AspNetWebStack looks more appropriate. Closing this for now.

[2018-01-29 18:02] #161 closed

[2018-01-29 18:19] Tratcher commented on #76
IdentityModel 5.2.0 shipped on nuget.org this morning.
https://www.nuget.org/packages/Microsoft.IdentityModel.Protocols.WsFederation/5.2.0

These should work with the last Katana preview.

I'll start updating Katana to use the final version. The change should show up on myget shortly. I'll also do a final pass through the open issues to see if we need to include anything else. Expect a final build

[2018-01-29 22:17] Tratcher commented on #76
https://dotnet.myget.org/f/katana-release/ now has 4.0.0-rtm-370-rel with the updated dependency.

[2018-01-29 23:16] Tratcher commented on #149
Workaround: Clear the request path before it gets consumed.
[code]

[2018-01-30 08:27] mvpkenlin commented on #76
I am still having the same error with
System.IdentityModel.Tokens.Jwt 5.2.0 and
Microsoft.Owin.Security.OpenIdConnect 3.1.0

[2018-01-30 13:58] Tratcher commented on #76
5.2.0 isn't going to work with Katana 3.1.0, You need Katana 4.0.0-preview1 or later.

[2018-01-30 18:06] #141 closed

[2018-01-31 02:08] mvpkenlin commented on #76
Hi Tratcher,

I upgraded as what you said, but i still have the same error

`The type or namespace name 'TokenValidationParameters' does not exist in the namespace 'System.IdentityModel.Tokens' (are you missing an assembly reference?)
`

And my packages are like this.

[code]

Did I missed anything?

[2018-01-31 02:22] Tratcher commented on #76
@mvpkenlin do you have any more packages? You may have some other indirect dependency.

[2018-01-31 03:32] mvpkenlin commented on #76
@Tratcher  It will be a lot list.

[code]

[2018-01-31 04:00] Tratcher commented on #76
What's with the Microsoft.AspNetCore and Microsoft.Extensions packages? Those don't belong in a System.Web app.

These look wrong:
[code]

Microsoft.IdentityModel.Protocol.Extensions looks discontinued.

[2018-01-31 05:17] mvpkenlin commented on #76
Microsoft.AspNetCore are installed when I install Swashbuckle.AspNetCore.Swagger, I will remove them.

Microsoft.IdentityModel.Protocol.Extensions is still updating, the latest stable version is 1.0.4.403061554 which it is published on 3rd July, 2017. And I need to use one of the constructor and one of its properties to access Azure AD.

`public OpenIdConnectConfiguration(IDictionary<string, objec

[2018-01-31 06:18] mvpkenlin commented on #76
Oh....thanks.

Any code sample on how to update IIssuerSecurityTokenProvider to being using IIssuerSecurityKeyProvider?

[2018-01-31 13:11] sanjogs commented on #74
Same issue here with WebForms. Any chance this is getting addressed in next update?

[2018-01-31 16:27] figuerres commented on #76
@Tratcher
thanks, now i know what to look for in my project to see if i can update to match....
soon i need to see if i can swap my identity server V3 to V4  and still keep the rest of my stuff working.

the one sucky thing about having packages is when the dependency for an update starts pulling in stuff and you can't see where it broke, we do not get a dialog that tells us that some package got

[2018-01-31 16:33] Tratcher commented on #76
@mvpkenlin here's how we updated it: https://github.com/aspnet/AspNetKatana/commit/5d58dab237663b694515a3adbb36dd246a7d4ca2#diff-02dcc6bdd8fadc8c97e5234d641548fc

[2018-02-01 17:41] hannespreishuber opened #163 "Webforms access_denied"
I have a new Webforms project Facebook and Microsoft ID

https://coworking.ppedv.de/Account/Login

GET /signin-microsoft?code=Md3a43ad7-046a-d49a-ee81- ....
GET /Account/RegisterExternalLogin?providerName=Microsoft&returnUrl=&error=access_denied HTTP/1.1

GET /signin-facebook?code=AQDiJ6xLEpCP0vE562FhFWx5TwW_
GET /Account/RegisterExternalLogin?providerName=Facebook&returnUrl=&error=access_denied H

[2018-02-01 17:48] Tratcher commented on #163
Sounds like your client secrets are missing or invalid.

[2018-02-01 19:10] hannespreishuber commented on #163
ok, you are kind of right- took now a new App registration (konvergent in german) and not live- this works. Still on Facebook issue

[2018-02-01 19:32] #163 closed

[2018-02-01 22:47] Tratcher commented on #74
Unfortunately the deprecation of Codeplex has broken all of our links...

The only repro I have for this right now is when you request a root page like "/" and internally it gets routed to a default file like "/default.aspx". IIS uses a feature called child requests to execute "/default.aspx" so it looks like the request is executed twice. The child request "/default.aspx" works fine and the clien

[2018-02-02 01:07] sanjogs commented on #74
@Tratcher I think that's exactly what we are experiencing, the errors we are getting is at the root '/'. Problem is just the annoying log, client does not experience any issues.

[2018-02-03 19:38] rhavlick opened #164 "How To Decode The Paylod From A Token Issued From Microsoft.Owin.Security.OAuth Middleware"
Hello,

I am being issued a token from the Microsoft.Owin.Security.OAuth middleware and as a client I need to see the payload.  Normally with other JWT tokens they are just base 64 encoded and can be read from a site like jwt.io.  Does anyone know if there is a way to read the payload from the token that was issued?

Thanks

[2018-02-04 11:42] mliesmons opened #166 "Authenticate crashes when using AuthenticationMode.Passive"
Specifying Passive, and logging on explicitly with a challenge once the application has started, results in the exception:
`Object synchronization method was called from an unsynchronized block of code.`

[2018-02-04 13:07] Tratcher commented on #166
Stack trace? Repro code?

[2018-02-04 13:30] mliesmons commented on #166
This is part of a large IoT project solution, I reverted back to 3.1.0
No time to make an isolated repro, sorry.

I moved to the 4.0 preview in another project to get rid of the version mess with System.IdentityModel.Tokens.Jwt, where  authentication mode is Active, and here I do not have the issue.

Just try it in Passive mode with UseOpenIdConnectAuthentication:

        public void ConfigureAut

[2018-02-06 16:39] Tratcher commented on #164
These are not JWT tokens, the default format is encrypted on the server. This is how it's read elsewhere in the app:
https://github.com/aspnet/AspNetKatana/blob/5d6e25b303e0efa27fde385750b59ff58ce194b5/src/Microsoft.Owin.Security.OAuth/OAuthBearerAuthenticationMiddleware.cs#L56-L59

[2018-02-06 18:23] rhavlick commented on #164
Thanks Tratcher, so client side, would there be any way to decode that token so the client can see the payload?  (From the client side I need to see some claims).

Thanks so much.

[2018-02-06 18:46] Tratcher commented on #164
And by client you mean in the Browser or similar? Not directly. The server would have to expose an endpoint that toke the token and returns the claim data.